<div class="message is-left is-bottom is-hover">
    <a class="thumbnail is-oval is-md" href="#" title="" data-toggle="tooltip" data-original-title="Pierre Lemeteil">
        <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg">
    </a>
    <div class="message-body">
        <div class="message-row small">
            <a href="#" class="text-muted d-flex align-items-center gap-2xs">
                <span>Pierre Lemeteil</span>
                <span class="badge badge-role is-admin z-2" data-toggle="tooltip" data-placement="top" data-original-title="Admin" data-boundary="window"></span>
            </a>
        </div>
        <div class="message-list">
            <div class="message-row">
                <div class="message-content" title="Mar 31, 2020 @ 20:11">
                    <p class="mb-0">Hey there! ✋</p>
                </div>
                <div class="message-options dropdown">
                    <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon icon-options"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCommentModal">Edit</a>
                        <a class="dropdown-item is-danger" href="#" data-toggle="modal" data-target="#deleteCommentModal">Delete</a>
                    </div>
                </div>
            </div>
            <div class="message-row">
                <div class="message-content" title="Mar 31, 2020 @ 20:11">
                    <p class="mb-0">I was gonna be productive… Laundry, cleaning, but...</p>
                </div>
                <div class="message-options dropdown">
                    <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon icon-options"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCommentModal">Edit</a>
                        <a class="dropdown-item is-danger" href="#" data-toggle="modal" data-target="#deleteCommentModal">Delete</a>
                    </div>
                </div>
            </div>
            <div class="message-row">
                <div class="message-content" title="Mar 31, 2020 @ 20:11">
                    <p class="mb-0">I’m getting powered donuts</p>
                </div>
                <div class="message-options dropdown">
                    <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon icon-options"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCommentModal">Edit</a>
                        <a class="dropdown-item is-danger" href="#" data-toggle="modal" data-target="#deleteCommentModal">Delete</a>
                    </div>
                </div>
            </div>
            <div class="message-row">
                <div class="message-content" title="Mar 31, 2020 @ 20:11">
                    <p class="mb-0">powdered*</p>
                </div>
                <div class="message-options dropdown">
                    <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon icon-options"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCommentModal">Edit</a>
                        <a class="dropdown-item is-danger" href="#" data-toggle="modal" data-target="#deleteCommentModal">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="message is-right is-bottom is-hover">
    <div class="message-body">
        <div class="message-list">
            <div class="message-row">
                <div class="message-content bg-primary text-white" title="Mar 31, 2020 @ 20:11">
                    <p class="mb-0">Donuts do have powers 🤣</p>
                </div>
                <div class="message-options dropdown">
                    <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon icon-options"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCommentModal">Edit</a>
                        <a class="dropdown-item is-danger" href="#" data-toggle="modal" data-target="#deleteCommentModal">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-row">
            <span class="small text-muted">Seen</span>
        </div>
    </div>
</div>