<div class="message p-0 align-items-end">
    <a href="#" class="thumbnail is-oval is-md">
        <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg">
    </a>
    <div class="message-body">
        <div class="message-row">
            <ul class="metas is-list small">
                <li>
                    <a href="#" class="text-muted d-flex align-items-center gap-2xs">
                        <span>Pierre Lemeteil</span>
                        <span class="badge badge-role is-admin z-2" data-toggle="tooltip" data-placement="top" data-original-title="Admin" data-boundary="window"></span>
                    </a>
                </li>
                <li>
                    <span>June 18, 2024</span>
                </li>
                <li>
                    <span>3:40 PM</span>
                </li>
            </ul>
        </div>
        <div class="message-row align-items-end">
            <div class="message-content gap-md">
                <p>A short response</p>
            </div>
            <div class="message-options dropdown">
                <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon icon-dots-vertical"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item update-comment" data-url="/rest/comment/924/edit-modal">
                        Edit
                    </a><a href="#" class="dropdown-item is-danger delete-comment" data-url="/rest/comment/924/delete">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>