<div class="message p-0 align-items-end">
    <a href="#" class="thumbnail is-oval is-md">
        <img src="https://inject-prod.s3.amazonaws.com/images/182d9560-bae6-432f-a316-0065b826fe3b/sq150.jpeg">
    </a>
    <div class="message-body">
        <div class="message-row">
            <ul class="metas is-list small">
                <li>
                    <a href="#" class="text-muted d-flex align-items-center gap-2xs">
                        <span>Sasha Lehmann</span>
                        <span class="badge badge-role is-expert z-2" data-toggle="tooltip" data-placement="top" data-original-title="Expert" data-boundary="window"></span>
                    </a>
                </li>
                <li>
                    <span>June 18, 2024</span>
                </li>
                <li>
                    <span>3:40 PM</span>
                </li>
            </ul>
        </div>
        <div class="message-row align-items-end">
            <div class="message-content gap-md">
                <p>Le chemin critique est la séquence d'activités la plus longue qui détermine la durée minimale du projet. Il est déterminé en analysant les dépendances entre les tâches et en calculant leur durée.</p>
                <p>Tout retard sur une tâche du chemin critique retarde l'ensemble du projet. Par exemple, dans la construction d'une maison, le chemin critique pourrait inclure la pose des fondations, l'érection des murs, la pose de la toiture, etc. Si l'une de ces tâches est retardée, la date d'achèvement de la maison sera également repoussée.</p>
            </div>
            <div class="message-options dropdown">
                <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon icon-dots-vertical"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item update-comment" data-url="/rest/comment/924/edit-modal">
                        Edit
                    </a><a href="#" class="dropdown-item is-danger delete-comment" data-url="/rest/comment/924/delete">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>