<div class="container py-8">
    <div class="row">
        <div class="col-12 d-flex flex-column gap-2xl">

            <div>
                <h3>Default</h2>
                <div class="item is-small is-bordered gap-0px">
                    <div class="item-row gap-xs pb-8px">
                        <div class="d-flex p-3xs text-muted">
                            <span class="emoji is-20px">👀</span>
                        </div>
                        <div class="item-content d-flex flex-column align-items-start justify-content-center overflow-hidden">
                            <a href="#" class="item-title stretched-link line-clamp-1">
                                <span>Présentation Preliminary Design Review</span>
                            </a>
                            <span class="small text-muted">3 tasks</span>
                        </div>
                        <div class="badge is-pill is-muted">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 9C7.65685 9 9 7.65685 9 6C9 4.34315 7.65685 3 6 3C4.34315 3 3 4.34315 3 6C3 7.65685 4.34315 9 6 9ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z" fill="currentColor"/>
                            </svg>
                            <span>Nov 30 – Dec 7</span>
                        </div>
                        <div class="d-flex align-items-center gap-xs dropdown">
                            <div class="dropdown-container">
                                <a class="btn btn-transparent btn-icon z-1" data-toggle="dropdown" aria-expanded="false" data-boundary="window" href="#">
                                    <span class="icon icon-dots-vertical" data-toggle="tooltip" data-placement="top" data-original-title="Drag to move. Click for options." data-boundary="window"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <h6 class="dropdown-header">Position</h6>
                                    <a class="dropdown-item">
                                        <span class="dropdown-item--label">Send to top</span>
                                    </a>
                                    <a class="dropdown-item">
                                        <span class="dropdown-item--label">Move up</span>
                                    </a>
                                    <a class="dropdown-item">
                                        <span class="dropdown-item--label">Move down</span>
                                    </a>
                                    <a class="dropdown-item">
                                        <span class="dropdown-item--label">Send to bottom</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Actions</h6>
                                    <a class="dropdown-item" data-toggle="collapse" data-target="#question1">
                                        <span class="dropdown-item--label">Edit</span>
                                    </a>
                                    <a class="dropdown-item is-danger">
                                        <span class="dropdown-item--label">Delete</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item is-small is-bordered gap-0px">
                    <div class="item-row gap-xs pb-8px">
                        <div class="d-flex p-3xs text-muted">
                            <span class="icon icon-bullseye-arrow is-20px"></span>
                        </div>
                        <div class="item-content d-flex flex-column align-items-start justify-content-center overflow-hidden">
                            <a href="#" class="item-title stretched-link line-clamp-1">Name</a>
                        </div>
                        <div class="badge is-pill is-muted">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 9C7.65685 9 9 7.65685 9 6C9 4.34315 7.65685 3 6 3C4.34315 3 3 4.34315 3 6C3 7.65685 4.34315 9 6 9ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z" fill="currentColor"/>
                            </svg>
                            <span>May 21</span>
                        </div>
                        <div class="d-flex align-items-center gap-xs dropdown">
                            <div class="dropdown-container">
                                <a class="btn btn-transparent btn-icon z-1" data-toggle="dropdown" aria-expanded="false" data-boundary="window" href="#">
                                    <span class="icon icon-dots-vertical" data-toggle="tooltip" data-placement="top" data-original-title="Drag to move. Click for options." data-boundary="window"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <h6 class="dropdown-header">Position</h6>
                                    <a class="dropdown-item">
                                        <span class="dropdown-item--label">Send to top</span>
                                    </a>
                                    <a class="dropdown-item">
                                        <span class="dropdown-item--label">Move up</span>
                                    </a>
                                    <a class="dropdown-item">
                                        <span class="dropdown-item--label">Move down</span>
                                    </a>
                                    <a class="dropdown-item">
                                        <span class="dropdown-item--label">Send to bottom</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Actions</h6>
                                    <a class="dropdown-item" data-toggle="collapse" data-target="#question1">
                                        <span class="dropdown-item--label">Edit</span>
                                    </a>
                                    <a class="dropdown-item is-danger">
                                        <span class="dropdown-item--label">Delete</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h3>Milestones</h3>
                <div class="grid-container overflow-x-scroll overflow-y-visible">
                    <div class="grid-cards gap-md">
                        <div class="item-group">
                            <div class="item-group-header">
                                <h4 class="nav-title flex-fill mb-none">1. Milestone name</h4>
                                <div class="badge is-pill is-muted">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 9C7.65685 9 9 7.65685 9 6C9 4.34315 7.65685 3 6 3C4.34315 3 3 4.34315 3 6C3 7.65685 4.34315 9 6 9ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z" fill="currentColor"/>
                                    </svg>
                                    <span>May 21</span>
                                </div>
                                <span class="badge badge-notification is-highlight">0</span>
                                <div class="dropdown-container">
                                    <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-dots-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <h6 class="dropdown-header">Position</h6>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Send to top</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Move up</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Move down</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Send to bottom</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Actions</h6>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Edit</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Manage</span>
                                            <div class="dropdown-item--icon icon icon-arrow-top-right"></div>
                                        </a>
                                        <a class="dropdown-item is-danger">
                                            <span class="dropdown-item--label">Delete</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-sm btn-default btn-transparent text-muted text-nowrap align-self-start" href="#" role="button">
                                <span class="icon icon-plus-circle"></span>
                                <span>Add objective</span>
                            </button>
                        </div>

                        <div class="item-group">
                            <div class="item-group-header">
                                <h4 class="nav-title flex-fill mb-none">2. Milestone name</h4>
                                <span class="badge badge-notification is-highlight">0</span>
                                <div class="dropdown-container">
                                    <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-dots-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <h6 class="dropdown-header">Position</h6>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Send to top</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Move up</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Move down</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Send to bottom</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Actions</h6>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Edit</span>
                                        </a>
                                        <a class="dropdown-item">
                                            <span class="dropdown-item--label">Manage</span>
                                            <div class="dropdown-item--icon icon icon-arrow-top-right"></div>
                                        </a>
                                        <a class="dropdown-item is-danger">
                                            <span class="dropdown-item--label">Delete</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-sm btn-default btn-transparent text-muted text-nowrap align-self-start" href="#" role="button">
                                <span class="icon icon-plus-circle"></span>
                                <span>Add objective</span>
                            </button>
                        </div>

                        <button class="btn btn-sm btn-default btn-transparent text-muted text-nowrap align-self-start" href="#" role="button">
                            <span class="icon icon-plus-circle"></span>
                            <span>Add milestone</span>
                        </button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>