<div class="d-flex flex-column">

    <div class="item is-bordered">
        <div class="item-cover is-16by9">
            <img src="../img/placeholder-ideation-cover.png" alt="Intro to ideation file cover">
        </div>
        <div class="item-row">
            <div class="item-row">
                <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                <div class="item-content">
                    <a class="item-title stretched-link text-truncate" href="#">Intro to Ideation.pdf</a>
                    <ul class="item-caption metas small is-list">
                        <li>
                            <span>PDF File</span>
                        </li>
                        <li>
                            <span>420 KB</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-options">
                <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="tooltip" data-placement="top" data-title="Download file" data-boundary="window">
                    <span class="icon icon-cloud-download"></span>
                </a>
                <div class="dropdown" data-toggle="tooltip" data-placement="top" data-title="Options" data-boundary="window">
                    <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Edit file</a>
                        <a href="#" class="dropdown-item is-danger">Delete file</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item is-bordered">
        <div class="item-row">
            <div class="item-row">
                <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                <div class="item-content">
                    <a class="item-title stretched-link text-truncate" href="#">Intro to Ideation.pdf</a>
                    <ul class="item-caption metas small is-list">
                        <li>
                            <span>PDF File</span>
                        </li>
                        <li>
                            <span>420 KB</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-options">
                <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="tooltip" data-placement="top" data-title="Download file" data-boundary="window">
                    <span class="icon icon-cloud-download"></span>
                </a>
                <div class="dropdown" data-toggle="tooltip" data-placement="top" data-title="Options" data-boundary="window">
                    <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Edit file</a>
                        <a href="#" class="dropdown-item is-danger">Delete file</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item is-bordered is-small">
        <div class="item-row">
            <div class="item-row">
                <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                <div class="item-content">
                    <a class="item-title stretched-link text-truncate" href="#">Intro to Ideation.pdf</a>
                    <ul class="item-caption metas small is-list">
                        <li>
                            <span>PDF File</span>
                        </li>
                        <li>
                            <span>420 KB</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-options">
                <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="tooltip" data-placement="top" data-title="Download file" data-boundary="window">
                    <span class="icon icon-cloud-download"></span>
                </a>
                <div class="dropdown" data-toggle="tooltip" data-placement="top" data-title="Options" data-boundary="window">
                    <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Edit file</a>
                        <a href="#" class="dropdown-item is-danger">Delete file</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item is-bordered is-small">
        <div class="item-row">
            <div class="item-row">
                <div class="item-icon icon icon-image"></div>
                <div class="item-content">
                    <a class="item-title stretched-link text-truncate" href="#">Image.png</a>
                    <ul class="item-caption metas small is-list">
                        <li>
                            <span>PNG File</span>
                        </li>
                        <li>
                            <span>1.2 MB</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-options">
                <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="tooltip" data-placement="top" data-title="Download file" data-boundary="window">
                    <span class="icon icon-cloud-download"></span>
                </a>
                <div class="dropdown" data-toggle="tooltip" data-placement="top" data-title="Options" data-boundary="window">
                    <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Edit file</a>
                        <a href="#" class="dropdown-item is-danger">Delete file</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item is-bordered is-small">
        <div class="item-row">
            <div class="item-row">
                <div class="item-icon icon icon-play-box"></div>
                <div class="item-content">
                    <a class="item-title stretched-link text-truncate" href="#">Video.mp4</a>
                    <ul class="item-caption metas small is-list">
                        <li>
                            <span>MP4 File</span>
                        </li>
                        <li>
                            <span>1.2 MB</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-options">
                <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="tooltip" data-placement="top" data-title="Download file" data-boundary="window">
                    <span class="icon icon-cloud-download"></span>
                </a>
                <div class="dropdown" data-toggle="tooltip" data-placement="top" data-title="Options" data-boundary="window">
                    <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Edit file</a>
                        <a href="#" class="dropdown-item is-danger">Delete file</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item is-bordered is-small">
        <div class="item-row">
            <div class="item-row">
                <div class="item-icon icon icon-zip-box"></div>
                <div class="item-content">
                    <a class="item-title stretched-link text-truncate" href="#">Archives.zip</a>
                    <ul class="item-caption metas small is-list">
                        <li>
                            <span>ZIP File</span>
                        </li>
                        <li>
                            <span>1.2 MB</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-options">
                <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="tooltip" data-placement="top" data-title="Download file" data-boundary="window">
                    <span class="icon icon-cloud-download"></span>
                </a>
                <div class="dropdown" data-toggle="tooltip" data-placement="top" data-title="Options" data-boundary="window">
                    <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Edit file</a>
                        <a href="#" class="dropdown-item is-danger">Delete file</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item is-bordered is-small">
        <div class="item-row">
            <div class="item-row">
                <div class="item-icon icon icon-link"></div>
                <div class="item-content">
                    <a class="item-title stretched-link text-truncate" href="#">Link</a>
                    <ul class="item-caption metas small is-list">
                        <li>
                            <span>Domain.tld</span>
                        </li>
                        <li>
                            <span>Link</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-options">
                <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="tooltip" data-placement="top" data-title="Open in new tab" data-boundary="window">
                    <span class="icon icon-arrow-top-right"></span>
                </a>
                <div class="dropdown" data-toggle="tooltip" data-placement="top" data-title="Options" data-boundary="window">
                    <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Edit link</a>
                        <a href="#" class="dropdown-item is-danger">Delete link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item is-bordered">
        <div class="item-row">
            <div class="item-row">
                <div class="item-icon icon icon-youtube" style="color:#F00"></div>
                <div class="item-content">
                    <a class="item-title stretched-link text-truncate" href="#">A quick introduction to Ideation (by Micka)</a>
                    <ul class="item-caption metas small is-list">
                        <li>
                            <span>YouTube Video</span>
                        </li>
                        <li>
                            <span>Link</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-options">
                <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="tooltip" data-placement="top" data-title="Open in new tab" data-boundary="window">
                    <span class="icon icon-arrow-top-right"></span>
                </a>
                <div class="dropdown" data-toggle="tooltip" data-placement="top" data-title="Options" data-boundary="window">
                    <a class="btn btn-transparent btn-icon z-1" href="#" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Edit link</a>
                        <a href="#" class="dropdown-item is-danger">Delete link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>