<style>
    :root {
        --bg-brand-hero: #181B56;
        --bg-brand-on-hero-highlight: rgba(255,255,255,.1);
        --bg-brand-on-hero-active: #FFF;
        --fg-brand-hero: #FFF;
        --bg-interactive: #4462E2;
        --bg-interactive-hover: #2143D4;
        --fg-interactive: #FFFFFF;
        --fg-card-interactive: #4462E2;
        --fg-card-interactive-hover: #2143D4;
    }
</style>

<a href="#" class="btn btn-saml btn-primary btn-service btn-img btn-block">
    <span class="icon icon-service-saml"></span>
    <span>Sign in with Schoolab</span>
</a>