<aside class="application-sidebar d-none d-lg-block" id="leftMainSidebar">
    <div class="sidebar overflow-auto">
        <div id="accordionManageNav" class="d-flex flex-column flex-fill gap-xl px-24px pt-24px pb-32px accordion">
            <ul class="nav nav-main flex-column">
                <li class="nav-item ">
                    <span class="nav-title">Schoolab</span>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-link--icon icon icon-chart-line"></span>
                        <span class="nav-link--label">Overview</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link active">
                        <span class="nav-link--icon icon icon-school"></span>
                        <span class="nav-link--label">Programs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-clipboard-text"></span>
                        <span class="nav-link--label">Projects</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-account"></span>
                        <span class="nav-link--label">Users</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-account-supervisor-circle"></span>
                        <span class="nav-link--label">Coaching</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-calendar"></span>
                        <span class="nav-link--label">Events</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-toolbox"></span>
                        <span class="nav-link--label">Toolbox</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-tag"></span>
                        <span class="nav-link--label">Tags</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-console"></span>
                        <span class="nav-link--label">Logs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-email"></span>
                        <span class="nav-link--label">Mails</span>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-main flex-column">
                <li class="nav-item ">
                    <span class="nav-title">External</span>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-link--label">Overview</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-link--label">Programs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-link--label">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>