<aside class="application-sidebar d-none d-lg-block" id="leftMainSidebar">
    <div class="sidebar overflow-auto">
        <div class="px-24px pb-32px">
            <div class="mt-7">
                <ul class="nav nav-main flex-column">
                    <!-- <li class="nav-item mb-5">
                        <a href="#" class="nav-link">
                            <span class="nav-link--label text-dark">← Back to Item</span>
                        </a>
                    </li> -->
                    <li class="nav-item ">
                        <span class="nav-title"> ITEM TITLE </span>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="nav-link--column">
                                <span class="nav-link--label">Item</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class=" nav-link active">
                            <span class="nav-link--column">
                                <span class="nav-link--label">Item</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class=" nav-link">
                            <span class="nav-link--column">
                                <span class="nav-link--label">Item</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class=" nav-link">
                            <span class="nav-link--column">
                                <span class="nav-link--label">Item</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class=" nav-link">
                            <span class="nav-link--column">
                                <span class="nav-link--label">Item</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class=" nav-link">
                            <span class="nav-link--column">
                                <span class="nav-link--label">Item</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class=" nav-link">
                            <span class="nav-link--column">
                                <span class="nav-link--label">Item</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>