<aside class="application-sidebar d-none d-lg-block" id="leftMainSidebar">
    <div class="sidebar overflow-auto">
        <div class="d-flex flex-column flex-fill gap-xl px-24px pt-24px pb-32px">
            <ul class="nav nav-main flex-column">
                <li class="nav-item ">
                    <span class="nav-title">Essentials</span>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Dashboard</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Insight</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Setup</span>
                        </span>
                        <span class="badge badge-notification is-accent">2</span>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-main flex-column">
                <li class="nav-item ">
                    <span class="nav-title">Daily Basis</span>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Registrations</span>
                        </span>
                        <span class="badge badge-notification is-accent">9+</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Applications</span>
                        </span>
                        <span class="badge badge-notification is-accent">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Learning</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Objectives</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Surveys</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Votes</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Coaching</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Events</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Mails</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Social</span>
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-main flex-column flex-fill">
                <li class="nav-item ">
                    <span class="nav-title">Foundations</span>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Participants</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Staff</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Projects</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Content</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--column">
                            <span class="nav-link--label">Data</span>
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-main flex-column">
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-help-center"></span>
                        <span class="nav-link--label">Help center</span>
                        <span class="icon icon-new-tab is-12px my-4px text-muted"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class=" nav-link">
                        <span class="nav-link--icon icon icon-release"></span>
                        <span class="nav-link--label">Release notes</span>
                        <span class="icon icon-new-tab is-12px my-4px text-muted"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>