<aside class="application-sidebar d-none d-lg-block" id="leftMainSidebar">
    <div class="sidebar overflow-auto">
        <div id="accordionManageNav" class="d-flex flex-column flex-fill gap-xl px-24px pt-24px pb-32px accordion">
            <ul class="nav nav-main flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-link--icon icon icon-dashboard" aria-hidden="true"></span>
                        <span class="nav-link--label">Dashboard</span>
                        <span class="badge badge-notification is-interactive" aria-label="New feature">NEW</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" tabindex="0" data-original-title="<p class='m-2px font-weight-bold'>Access locked.</p><p class='small'>Ask your organization manager for access.</p>" data-html="true" data-boundary="window">
                    <span class="nav-link disabled">
                        <span class="nav-link--icon icon icon-chart-line" aria-hidden="true"></span>
                        <span class="nav-link--label">Insight</span>
                        <span class="nav-link--icon icon icon-lock" aria-hidden="true"></span>
                    </span>
                </li>
                <li class="nav-item">
                    <a id="headingProgram" href="#" class="nav-link active" type="button" data-toggle="collapse" data-target="#collapseProgram" aria-expanded="true" aria-controls="collapseProgram">
                        <span class="nav-link--icon icon icon-program" aria-hidden="true"></span>
                        <span class="nav-link--label">Program</span>
                        <span class="badge badge-notification is-accent" aria-label="2 notifications in this group">2</span>
                    </a>
                    <ul id="collapseProgram" class="collapse show" aria-labelledby="headingProgram" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class=" nav-link active" aria-current="page">
                                <span class="nav-link--icon" aria-hidden="true">🚀</span>
                                <span class="nav-link--label">Getting started</span>
                                <span class="badge badge-notification is-accent" aria-label="2 notifications">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Features</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Details</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Managers</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Tags</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Hooks</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Data</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Exports</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link" data-toggle="tooltip" data-placement="right" data-original-title="<p class='m-2px font-weight-bold'>Open in new tab.</p><p class='small'>This link will open in a new tab.</p>" data-html="true" data-boundary="window">
                                <span class="nav-link--label">Google Drive</span>
                                <span class="icon icon-new-tab is-12px my-4px text-muted"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link" data-toggle="tooltip" data-placement="right" data-original-title="<p class='m-2px font-weight-bold'>Open in new tab.</p><p class='small'>This link will open in a new tab.</p>" data-html="true" data-boundary="window">
                                <span class="nav-link--label">Pipedrive</span>
                                <span class="icon icon-new-tab is-12px my-4px text-muted"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav nav-main flex-column">
                <li class="nav-item ">
                    <span class="nav-title">Daily Basis</span>
                </li>
                <li class="nav-item">
                    <a id="headingParticipants" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseParticipants" aria-expanded="false" aria-controls="collapseParticipants">
                        <span class="nav-link--icon icon icon-account"></span>
                        <span class="nav-link--label">Participants</span>
                        <span class="badge badge-notification is-accent" aria-label="More than 9 notifications in this group">9+</span>
                    </a>
                    <ul id="collapseParticipants" class="collapse" aria-labelledby="headingParticipants" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">List</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Types</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Registrations</span>
                                <span class="badge badge-notification is-accent" aria-label="More than 9 notifications">9+</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Deliverables</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Certificates</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingProjects" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects">
                        <span class="nav-link--icon icon icon-project"></span>
                        <span class="nav-link--label">Projects</span>
                        <span class="badge badge-notification is-accent" aria-label="3 notifications in this group">3</span>
                    </a>
                     <ul id="collapseProjects" class="collapse" aria-labelledby="headingProjects" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">List</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Applications</span>
                                <span class="badge badge-notification is-accent" aria-label="3 notifications">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Deliverables</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a id="headingSurveys" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseSurveys" aria-expanded="false" aria-controls="collapseSurveys">
                        <span class="nav-link--icon icon icon-questionnaire"></span>
                        <span class="nav-link--label">Surveys</span>
                    </a>
                    <ul id="collapseSurveys" class="collapse" aria-labelledby="headingSurveys" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Campaigns</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Deliverables</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingCoaching" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseCoaching" aria-expanded="false" aria-controls="collapseCoaching">
                        <span class="nav-link--icon icon icon-coaching"></span>
                        <span class="nav-link--label">Coaching</span>
                    </a>
                    <ul id="collapseCoaching" class="collapse" aria-labelledby="headingCoaching" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Sessions</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Library</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Newsfeed</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Experts & Coaches</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingEvaluations" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseEvaluations" aria-expanded="false" aria-controls="collapseEvaluations">
                        <span class="nav-link--icon icon icon-evaluation"></span>
                        <span class="nav-link--label">Evaluations</span>
                    </a>
                    <ul id="collapseEvaluations" class="collapse" aria-labelledby="headingEvaluations" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Sessions</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Public votes</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Jury members</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingFAQ" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseFAQ" aria-expanded="false" aria-controls="collapseFAQ">
                        <span class="nav-link--icon icon icon-faq"></span>
                        <span class="nav-link--label">F.A.Q.</span>
                        <span class="badge badge-notification is-interactive">NEW</span>
                        <span class="badge badge-notification is-accent" aria-label="4 notifications">4</span>
                    </a>
                    <ul id="collapseFAQ" class="collapse" aria-labelledby="headingFAQ" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Questions</span>
                                <span class="badge badge-notification is-accent" aria-label="4 notifications">4</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Responses</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingEvents" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseEvents" aria-expanded="false" aria-controls="collapseEvents">
                        <span class="nav-link--icon icon icon-calendar"></span>
                        <span class="nav-link--label">Events</span>
                    </a>
                    <ul id="collapseEvents" class="collapse" aria-labelledby="headingEvents" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">List</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Venues</span>
                                <span class="badge badge-notification is-interactive">NEW</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Signatures</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingSocial" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial">
                        <span class="nav-link--icon icon icon-comment"></span>
                        <span class="nav-link--label">Social</span>
                    </a>
                    <ul id="collapseSocial" class="collapse" aria-labelledby="headingSocial" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Newsfeed</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Comments</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Messages</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav nav-main flex-column flex-fill">
                <li class="nav-item ">
                    <span class="nav-title">Foundations</span>
                </li>
                <li class="nav-item">
                    <a id="headingLearning" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseLearning" aria-expanded="false" aria-controls="collapseLearning">
                        <span class="nav-link--icon icon icon-learning"></span>
                        <span class="nav-link--label">Learning</span>
                    </a>
                    <ul id="collapseLearning" class="collapse" aria-labelledby="headingLearning" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Courses</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Progression</span>
                                <span class="badge badge-notification is-interactive">NEW</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingObjectives" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseObjectives" aria-expanded="false" aria-controls="collapseObjectives">
                        <span class="nav-link--icon icon icon-objective"></span>
                        <span class="nav-link--label">Objectives</span>
                    </a>
                    <ul id="collapseObjectives" class="collapse" aria-labelledby="headingObjectives" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Milestones</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Deliverables</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Progression</span>
                                <span class="badge badge-notification is-interactive">NEW</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingLibrary" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseLibrary" aria-expanded="false" aria-controls="collapseLibrary">
                        <span class="nav-link--icon icon icon-folder"></span>
                        <span class="nav-link--label">Library</span>
                    </a>
                    <ul id="collapseLibrary" class="collapse" aria-labelledby="headingLibrary" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Resources</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Folders</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Tags</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingContent" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseContent" aria-expanded="false" aria-controls="collapseContent">
                        <span class="nav-link--icon icon icon-content"></span>
                        <span class="nav-link--label">Content</span>
                    </a>
                    <ul id="collapseContent" class="collapse" aria-labelledby="headingContent" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Public pages</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Participants pages</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="headingMails" href="#" class="nav-link" type="button" data-toggle="collapse" data-target="#collapseMails" aria-expanded="false" aria-controls="collapseMails">
                        <span class="nav-link--icon icon icon-email"></span>
                        <span class="nav-link--label">Mails</span>
                    </a>
                    <ul id="collapseMails" class="collapse" aria-labelledby="headingMails" data-parent="#accordionManageNav">
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Campaigns</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Notifications</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Templates</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Segments</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <span class="nav-link--label">Activities</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav nav-main flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tooltip" data-placement="right" data-original-title="<p class='m-2px font-weight-bold'>Open in new tab.</p><p class='small'>This link will open in a new tab.</p>" data-html="true" data-boundary="window">
                        <span class="nav-link--icon icon icon-help-center"></span>
                        <span class="nav-link--label">Help center</span>
                        <span class="icon icon-new-tab is-12px my-4px text-muted"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="tooltip" data-placement="right" data-original-title="<p class='m-2px font-weight-bold'>Open in new tab.</p><p class='small'>This link will open in a new tab.</p>" data-html="true" data-boundary="window">
                        <span class="nav-link--icon icon icon-release"></span>
                        <span class="nav-link--label">Release notes</span>
                        <span class="icon icon-new-tab is-12px my-4px text-muted"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>