<div class="dropdown-menu show" style="position:static;display:block;">
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-summarize" style="color:#6A00FF;opacity:.6;"></span>
        <div class="dropdown-item--label">
            <span>Write a course summary</span>
            <span class="caption">From all the content inside</span>
        </div>
    </a>
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-translate-generate" style="color:#6A00FF;opacity:.6;"></span>
        <div class="dropdown-item--label">
            <span>Translate to French</span>
        </div>
    </a>
    <div class="dropdown-divider"></div>
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-improve-writing" style="color:#6A00FF;opacity:.6;"></span>
        <div class="dropdown-item--label">
            <span>Improve writing</span>
        </div>
    </a>
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-shorter-text" style="color:#6A00FF;opacity:.6;"></span>
        <div class="dropdown-item--label">
            <span>Make shorter</span>
        </div>
    </a>
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-tone" style="color:#6A00FF;opacity:.6;"></span>
        <div class="dropdown-item--label">
            <span>Change tone...</span>
        </div>
    </a>
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-translate" style="color:#6A00FF;opacity:.6;"></span>
        <div class="dropdown-item--label">
            <span>Translate to...</span>
        </div>
    </a>
    <div class="dropdown-divider"></div>
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-copy"></span>
        <span class="dropdown-item--label">Copy from English</span>
    </a>
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-restore"></span>
        <span class="dropdown-item--label">Restore to saved value</span>
    </a>
    <div class="dropdown-content text-center">
        <span>AInject can make mistakes. Check important info.</span>
    </div>
</div>