<div class="dropdown-menu show" style="position:static;display:block;">
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon badge badge-role is-admin"></span>
        <span class="dropdown-item--label">Impersonate this user</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="javascript:void(0);" class="dropdown-item">Open Data</a>
    <a href="javascript:void(0);" class="dropdown-item">Open Manage</a>
    <a href="javascript:void(0);" class="dropdown-item">Open Workspace</a>
    <div class="dropdown-divider"></div>
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-pencil"></span>
        <span class="dropdown-item--label">Edit</span>
    </a>
    <a href="javascript:void(0);" class="dropdown-item">
        <span class="dropdown-item--icon icon icon-content-duplicate"></span>
        <span class="dropdown-item--label">Duplicate</span>
    </a>
    <a href="javascript:void(0);" class="dropdown-item is-danger">
        <span class="dropdown-item--icon icon icon-delete"></span>
        <span class="dropdown-item--label">Delete</span>
    </a>
</div>