<div class="row">
    <div class="col-12 ">
       
            <div class="row">
                <div class="col-lg-6 col-12 mb-7 d-flex align-items-stretch">
                    <div class="application-section flex-fill d-flex flex-column justify-content-between position-relative">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Observation</h3>
                                <ul class="item-caption metas small is-list">
                                    <li><span class="icon icon-calendar-outline">&nbsp;15/10/2021</span></li>
                                    <li><span class="icon icon-time small text-muted">&nbsp;20min</span></li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-7 mb-lg-0 d-flex flex-column justify-content-between">
                                <div class="mb-5">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Section</span>
                                        <span class="icon icon-check text-primary small">Finished</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="small text-primary">100%</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-primary" href="#"> View modules </button>
                            </div>
                            <div class="col-lg-6 col-12 d-flex flex-column justify-content-between">
                                <div class="d-flex mb-5">
                                    <span class="icon icon-school is-sm mr-3"></span>
                                    <div class="d-flex flex-column">
                                        <span class="small mb-2">Observation certificate</span>
                                        <span class="small text-muted">Not completed</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-default" href="#"> Take exam </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mb-7 d-flex align-items-stretch">
                    <div class="application-section flex-fill d-flex flex-column justify-content-between position-relative">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Product</h3>
                                <ul class="item-caption metas small is-list">
                                    <li><span class="icon icon-calendar-outline">&nbsp;15/10/2021</span></li>
                                    <li><span class="icon icon-time small text-muted">&nbsp;20min</span></li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-7 mb-lg-0 d-flex flex-column justify-content-between">
                                <div class="mb-5">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Section</span>
                                        <span class="small text-muted">In progress</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="small text-muted">25%</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-primary" href="#"> View modules </button>
                            </div>
                            <div class="col-lg-6 col-12  d-flex flex-column justify-content-between">
                                <div class="d-flex mb-5">
                                    <span class="icon icon-school is-sm mr-3"></span>
                                    <div class="d-flex flex-column">
                                        <span class="small mb-2">Product certificate</span>
                                        <span class="small text-muted">Not completed</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-default" href="#"> Take exam </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mb-7 d-flex align-items-stretch">
                    <div class="application-section flex-fill d-flex flex-column justify-content-between position-relative">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Sales</h3>
                                <ul class="item-caption metas small is-list">
                                    <li><span class="icon icon-calendar-outline">&nbsp;15/10/2021</span></li>
                                    <li><span class="icon icon-time small text-muted">&nbsp;20min</span></li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column justify-content-between">
                                <div class="mb-5">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Section</span>
                                        <span class="small text-muted">Not started</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                                        </div>
                                        <span class="small text-muted">0%</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-primary" href="#"> View modules </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mb-7 d-flex align-items-stretch">
                    <div class="application-section flex-fill d-flex flex-column justify-content-between position-relative">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Communication</h3>
                                <ul class="item-caption metas small is-list">
                                    <li><span class="icon icon-calendar-outline">&nbsp;15/10/2021</span></li>
                                    <li><span class="icon icon-time small text-muted">&nbsp;20min</span></li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column justify-content-between">
                                <div class="mb-5">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Section</span>
                                        <span class="small text-muted">Not started</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="small text-muted">0%</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-primary" href="#"> View modules </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mb-7 d-flex align-items-stretch">
                    <div class="application-section flex-fill d-flex flex-column justify-content-between position-relative">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Financement</h3>
                                <ul class="item-caption metas small is-list">
                                    <li><span class="icon icon-calendar-outline">&nbsp;15/10/2021</span></li>
                                    <li><span class="icon icon-time small text-muted">&nbsp;20min</span></li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column justify-content-between">
                                <div class="mb-5">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Section</span>
                                        <span class="small text-muted">Not started</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
                                        </div>
                                        <span class="small text-muted">0%</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-primary" href="#"> View modules </button>
                            </div>
                        </div>
                        <div class="overlay rounded d-flex justify-content-center align-items-center flex-column text-center p-7">
                            <span class="text-white icon icon-lock is-md mb-3"></span>
                            <p class="text-white small">Finish previous lessons to unlock this one.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mb-7 d-flex align-items-stretch">
                    <div class="application-section flex-fill d-flex flex-column justify-content-between position-relative">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Ecosystème Investisseurs</h3>
                                <ul class="item-caption metas small is-list">
                                    <li><span class="icon icon-calendar-outline">&nbsp;15/10/2021</span></li>
                                    <li><span class="icon icon-time small text-muted">&nbsp;20min</span></li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column justify-content-between">
                                <div class="mb-5">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Section</span>
                                        <span class="small text-muted">Not started</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="small text-muted">0%</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-primary" href="#"> View modules </button>
                            </div>
                        </div>
                        <div class="overlay rounded d-flex justify-content-center align-items-center flex-column text-center p-7">
                            <span class="text-white icon icon-lock is-md mb-3"></span>
                            <p class="text-white small">Finish previous lessons to unlock this one.</p>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</div>