<div class="row">
    <div class="col-12 col-lg-6 col-xl-8">
        
            <div class="application-section position-relative">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-xl-0 mb-lg-7 mb-md-0 mb-7  d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Consectetur adipiscing elit</h3>
                                <ul class="item-caption metas small is-list">
                                    <li>from 10 apr to 15 jun</li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column">
                                <div class="d-flex justify-content-between mb-3">
                                    <span class="small text-muted">Capsules</span>
                                    <span class="icon icon-check text-primary small">Finished</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="progress flex-fill mr-3" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="small text-primary">6/6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex align-items-center flex-fill">
                            <ul class="list-timeline-items is-alone">
                                <li class="list-timeline-item has-sm-icon is-done is-not-first">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique </div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-done">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-done">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-lg btn-block btn-default" href="#"> View </button>
                    </div>
                </div>
            </div>
            <div class="application-section position-relative">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-xl-0 mb-lg-7 mb-md-0 mb-7  d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Consectetur adipiscing elit</h3>
                                <ul class="item-caption metas small is-list">
                                    <li>from 10 apr to 15 jun</li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column">
                                <div class="d-flex justify-content-between mb-3">
                                    <span class="small text-muted">Capsules</span>
                                    <span class="small text-muted">In progress</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="progress flex-fill mr-3" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="small text-muted">2/6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex align-items-center flex-fill">
                            <ul class="list-timeline-items is-alone">
                                <li class="list-timeline-item has-sm-icon is-done is-not-first">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique </div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="50" style="--percent:50;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title text-primary"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress is-not-last">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <div class="list-timeline-item--title small text-muted ml-10">2 more </div>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-lg btn-block btn-default" href="#"> Continue </button>
                    </div>
                </div>
            </div>
            <div class="application-section position-relative">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-xl-0 mb-lg-7 mb-md-0 mb-7  d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Consectetur adipiscing elit</h3>
                                <ul class="item-caption metas small is-list">
                                    <li>from 10 apr to 15 jun</li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column">
                                <div class="d-flex justify-content-between mb-3">
                                    <span class="small text-muted">Capsules</span>
                                    <span class="small text-muted">In progress</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="progress flex-fill mr-3" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="small text-muted">1/5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex align-items-center flex-fill">
                            <ul class="list-timeline-items is-alone">
                                <li class="list-timeline-item has-sm-icon is-done">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique </div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="50" style="--percent:50;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title text-primary"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress is-not-last">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <div class="list-timeline-item--title small text-muted ml-10">2 more </div>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-lg btn-block btn-default" href="#"> Continue </button>
                    </div>
                </div>
            </div>
            <div class="application-section position-relative">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-xl-0 mb-lg-7 mb-md-0 mb-7  d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Consectetur adipiscing elit</h3>
                                <ul class="item-caption metas small is-list">
                                    <li>from 10 apr to 15 jun</li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column">
                                <div class="d-flex justify-content-between mb-3">
                                    <span class="small text-muted">Capsules</span>
                                    <span class="small text-muted">Not started</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="progress flex-fill mr-3" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="small text-muted">0/3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex align-items-center flex-fill">
                            <ul class="list-timeline-items is-alone">
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique </div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-lg btn-block btn-default" href="#"> Continue </button>
                    </div>
                </div>
            </div>
            <div class="application-section position-relative">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-xl-0 mb-lg-7 mb-md-0 mb-7  d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Consectetur adipiscing elit</h3>
                                <ul class="item-caption metas small is-list">
                                    <li>from 10 apr to 15 jun</li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column">
                                <div class="d-flex justify-content-between mb-3">
                                    <span class="small text-muted">Capsules</span>
                                    <span class="small text-muted">Not started</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="progress flex-fill mr-3" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="small text-muted">0/5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex align-items-center flex-fill">
                            <ul class="list-timeline-items is-alone">
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique </div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-not-last is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <div class="list-timeline-item--title small text-muted ml-10">2 more </div>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-lg btn-block btn-default" href="#"> Continue </button>
                    </div>
                </div>
            </div>
            <div class="application-section position-relative">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-xl-0 mb-lg-7 mb-md-0 mb-7  d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex flex-column">
                            <div class="mb-7">
                                <h3>Consectetur adipiscing elit</h3>
                                <ul class="item-caption metas small is-list">
                                    <li>from 10 apr to 15 jun</li>
                                </ul>
                            </div>
                            <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex flex-column">
                                <div class="d-flex justify-content-between mb-3">
                                    <span class="small text-muted">Capsules</span>
                                    <span class="small text-muted">Not started</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="progress flex-fill mr-3" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="small text-muted">0/5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6 col-12 d-flex flex-column justify-content-between">
                        <div class="mb-7 d-flex align-items-center flex-fill">
                            <ul class="list-timeline-items is-alone">
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique </div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-not-last is-progress">
                                    <a class="list-timeline-item--content" href="/program/125/project/2065/module/3716">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="d-flex px-1 mx-3">
                                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                                        <circle class="progress-circle progress-circle-bg"></circle>
                                                        <circle class="progress-circle progress-circle-percent"></circle>
                                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="list-timeline-item--title"> Consectetur adipiscing elit duis tristique</div>
                                                <span class="icon icon-time small text-muted">&nbsp;5min</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-timeline-item has-sm-icon is-progress">
                                    <div class="list-timeline-item--title small text-muted ml-10">2 more </div>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-lg btn-block btn-default" href="#"> Continue </button>
                    </div>
                </div>
                <div class="overlay rounded d-flex justify-content-center align-items-center flex-column text-center p-7">
                    <span class="text-white icon icon-lock is-md mb-3"></span>
                    <p class="text-white small">Unlocked on Nov 15th at 8 AM.</p>
                </div>
            </div>
        
    </div>
    <div class="col-12 col-lg-6 col-xl-4">
        <div class="application-section">
            <div class="m-none flex-fill d-flex flex-column justify-content-between position-relative">
                <div class="mb-7 d-flex flex-column">
                    <div class="mb-7">
                        <h3>Product</h3>
                        <ul class="item-caption metas small is-list">
                            <li><span class="icon icon-calendar-outline">&nbsp;15/10/2021</span></li>
                            <li><span class="icon icon-time small text-muted">&nbsp;5min</span></li>
                        </ul>
                    </div>
                    <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                </div>
                <div class="row">
                    <div class="col-12 d-flex flex-column justify-content-between">
                        <div class="mb-5">
                            <div class="d-flex justify-content-between mb-3">
                                <span class="small text-muted">Section</span>
                                <span class="small text-muted">In progress</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="progress flex-fill mr-3" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="small text-muted">25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-column justify-content-between">
                        <div class="d-flex">
                            <span class="icon icon-school is-sm mr-3"></span>
                            <div class="d-flex flex-column mb-5">
                                <span class="small mb-2">Observation certificate</span>
                                <span class="small text-muted">Not completed</span>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-block btn-default" href="#"> Take exam </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>