<div class="d-flex align-items-start">
    <div class="container-lg container-fluid">
        <div class="row justify-content-center flex-grow-1">
            <div class="col-12 col-xl-10 ">
                <div class="application-section">
                    <div class="embed-responsive mb-3 embed-responsive-16by9"><iframe class="mediaIframe" src="https://www.youtube.com/embed/lkhnjQroNrM" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" allow="fullscreen;autoplay"></iframe></div>
                    <div class="text-justify mb-5">
                        <p><span style="color:#c0392b;"><strong>Deux types d'observation - La recherche</strong></span></p>
                        <p>Le <span style="color:#006850;"><strong>benchmark</strong></span> est une méthode utilisée pour analyser ses concurrents directs ou indirects sur un marché. Il vous servira à comprendre votre marché et comment l'utilisateur répond à ses problèmes avec les solutions existantes.</p>
                        <p>Il existe 2 types de benchmarks : le concurrentiel et le fonctionnel.</p>
                        <ul>
                            <li><span style="color:#000066;"><strong>Concurrentiel</strong></span> : comprendre les acteurs présents sur un marché et les bonnes pratiques qu'ils mettent en place.</li>
                            <li><span style="color:#000066;"><strong>Fonctionnel</strong></span> : analyser les acteurs performants et les raisons de leurs succès.&nbsp; <ul>
                                    <li>Quelles expériences utilisateurs proposent-ils ?</li>
                                    <li>Quelles fonctionalités spécifiques ont-ils développé ?</li>
                                    <li>Comment répondent-ils aux besoins ?</li>
                                </ul>
                            </li>
                        </ul>
                        <p>Allez sur les sites internet et réseaux sociaux de vos concurrents pour réaliser ces benchmarks. Restez également à jour sur les nouveautés.</p>
                        <p>Une étude de benchmarking se fait en 5 étapes :</p>
                        <ul>
                            <li><span style="color:#006850;"><strong>Identifier</strong></span> la solution et les fonctionnalités.&nbsp;</li>
                            <li><span style="color:#ff906a;"><strong>Choisir</strong></span> les indicateurs de performance.</li>
                            <li><span style="color:#ef9cc3;"><strong>Chercher</strong></span> et listez les entreprises présentes sur le marché.</li>
                            <li><span style="color:#f1c40f;"><strong>Mesurer</strong></span> les performances avec les indicateurs.</li>
                            <li><span style="color:#c0392b;"><strong>Restituer</strong></span> l'étude avec une matrice concurrentielle et un mapping de la concurrence.</li>
                        </ul>
                        <p>L'analyse <span style="color:#006850;"><strong>PESTEL</strong></span> est complémentaire du benchmark. En plus de prendre en compte les concurrents directs et indirects, elle s'appuie sur des facteurs maacro-économiques.</p>
                        <p>Pour la réaliser, vous devrez analyser les forces d'influences macro-économiques d'un secteur en interviewant des experts et en faisant des recherches sur Internet :</p>
                        <ul>
                            <li><span style="color:#006850;"><strong>Politique</strong></span></li>
                            <li><span style="color:#ff906a;"><strong>Économique</strong></span></li>
                            <li><span style="color:#ef9cc3;"><strong>Socio-culturel</strong></span></li>
                            <li><span style="color:#f1c40f;"><strong>Technologique</strong></span></li>
                            <li><span style="color:#c0392b;"><strong>Écologique</strong></span></li>
                            <li><span style="color:#000066;"><strong>Législatif</strong></span></li>
                        </ul>
                        <p><em>Vous pouvez retrouver les canvas vierges de la matrice concurrenrielle et du mapping de la concurrence dans l'onglet "ressources".</em></p>
                    </div>
                    <div class="card formContainer mb-5 mx-0" data-form="543">
                        <div class="card-header" data-toggle="collapse" data-target="#form-543" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                    <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                        <circle class="progress-circle progress-circle-bg"></circle>
                                        <circle class="progress-circle progress-circle-percent"></circle>
                                        <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                                    </svg>
                                </div>
                                <span>
                                    <strong>Livrables</strong>
                                    <span class="formRequiredFieldsContainer d-none">
                                        <p class="text-muted">
                                            <span class="formRequiredFieldsNb">0</span>
                                            <span class="formRequiredFieldsText" data-singletext="tâche obligatoire restante" data-multipletext="tâches obligatoires restantes"> tâche obligatoire restante </span>
                                        </p>
                                    </span>
                                </span>
                                <span class="icon icon-chevron-right ml-auto"></span>
                            </div>
                        </div>
                        <div class="card-body collapse " id="form-543" style="">
                            <form name="form_543" method="post" class="autoSaveForm">
                                <div id="form_543" class="autoSaveForm">
                                    <div class="form-group">
                                        <div class="uploadSignedUrlFileContainer formUploadContainer mb-3" data-installed="1">
                                            <legend class="active checkbox-custom font-weight-bold col-form-label">Matrice comparative des concurrents</legend>
                                            <small class="text-muted text-uppercase">Template</small>
                                            <div id="resourceList" class="resourcesWallWrapper">
                                                <div class="resourcesWrapper ">
                                                    <section class="templateResourcesList">
                                                        <div class="item is-bordered resource mb-3">
                                                            <div class="item-row">
                                                                <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/36a76e66-d51f-47a2-8c82-a78ba52f41cf/load?browse=0" data-target="#resourceLoadingModal">
                                                                    <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                                    <div class="item-content ml-3">
                                                                        <a class="item-title h4 mb-none stretched-link text-truncate" href="#">Matrice concurrents.pdf</a>
                                                                        <ul class="item-caption metas small is-list">
                                                                            <li><span class="icon icon-time">&nbsp;02/03/2023 18:54</span></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="item-options">
                                                                    <a class="btn btn-lg btn-transparent btn-icon" href="/resource/36a76e66-d51f-47a2-8c82-a78ba52f41cf/download">
                                                                        <span class="icon icon-cloud-download"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <div class="resourceEmptyState d-none">
                                                        <div class="d-flex flex-column align-items-center py-5">
                                                            <span class="text-muted icon icon-file-outline is-lg"></span>
                                                            <p class="text-muted text-center mt-4">
                                                                <span>No document</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <small class="text-muted text-uppercase">uploaded files</small>
                                            <section class="resourcesList">
                                                <div class="item is-bordered resource mb-3">
                                                    <div class="item-row">
                                                        <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/fcca2b8c-9988-484a-a02a-da34725d0c9b/load?browse=0" data-target="#resourceLoadingModal">
                                                            <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                            <div class="item-content ml-3">
                                                                <a class="item-title h4 mb-none stretched-link text-truncate" href="#">1681721694647.pdf</a>
                                                                <ul class="item-caption metas small is-list">
                                                                    <li><span class="icon icon-time">&nbsp;17/04/2023 10:54</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="item-options">
                                                            <a class="btn btn-lg btn-transparent btn-icon" href="/resource/fcca2b8c-9988-484a-a02a-da34725d0c9b/download">
                                                                <span class="icon icon-cloud-download"></span>
                                                            </a>
                                                        </div>
                                                        <div class="item-options dropdown">
                                                            <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="icon icon-options"></span>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item editResourceButton" href="javascript:void(0);" data-target="#loadingContentModal" data-toggle="modal" data-url="/resource/8612/edit-modal"> Modifier </a>
                                                                <span class="dropdown-item text-danger resourceDeleteLink cursorLink" data-url="/rest/fr/resource/8612/delete">Supprimer</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <span class="btn btn-lg btn-block btn-default editTemplateButton disabled" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/53/state/785/application/638/form/427/field/1339/template/edit" data-signed-url="/rest/fr/program/53/state/785/application/638/form/427/field/1339/resource/signed-url" data-done-url="/rest/fr/program/53/state/785/application/638/form/427/field/1339/resource/upload" data-maxfiles="1" data-maxfilesremaining="0"> Editer un nouveau document </span>
                                            <div data-error-related="form_543_1339"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="uploadSignedUrlFileContainer formUploadContainer mb-3" data-installed="1">
                                            <legend class="active checkbox-custom font-weight-bold col-form-label">Stakeholder map</legend>
                                            <small class="text-muted text-uppercase">template</small>
                                            <div id="resourceList" class="resourcesWallWrapper">
                                                <div class="resourcesWrapper ">
                                                    <section class="templateResourcesList">
                                                        <div class="item is-bordered resource mb-3">
                                                            <div class="item-row">
                                                                <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/e5a63a2b-ca6c-497f-868d-9992725c370e/load?browse=0" data-target="#resourceLoadingModal">
                                                                    <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                                    <div class="item-content ml-3">
                                                                        <a class="item-title h4 mb-none stretched-link text-truncate" href="#">Stakeholder map (1).pdf</a>
                                                                        <ul class="item-caption metas small is-list">
                                                                            <li><span class="icon icon-time">&nbsp;02/03/2023 18:54</span></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="item-options">
                                                                    <a class="btn btn-lg btn-transparent btn-icon" href="/resource/e5a63a2b-ca6c-497f-868d-9992725c370e/download">
                                                                        <span class="icon icon-cloud-download"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <div class="resourceEmptyState d-none">
                                                        <div class="d-flex flex-column align-items-center py-5">
                                                            <span class="text-muted icon icon-file-outline is-lg"></span>
                                                            <p class="text-muted text-center mt-4">
                                                                <span>No document</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <small class="text-muted text-uppercase">uploaded files</small>
                                            <section class="resourcesList">
                                                <div class="item is-bordered resource mb-3">
                                                    <div class="item-row">
                                                        <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/5a58c68b-9a75-4a2f-8f40-ac134fc4b696/load?browse=0" data-target="#resourceLoadingModal">
                                                            <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                            <div class="item-content ml-3">
                                                                <a class="item-title h4 mb-none stretched-link text-truncate" href="#">1693312536923.pdf</a>
                                                                <ul class="item-caption metas small is-list">
                                                                    <li><span class="icon icon-time">&nbsp;29/08/2023 14:35</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="item-options">
                                                            <a class="btn btn-lg btn-transparent btn-icon" href="/resource/5a58c68b-9a75-4a2f-8f40-ac134fc4b696/download">
                                                                <span class="icon icon-cloud-download"></span>
                                                            </a>
                                                        </div>
                                                        <div class="item-options dropdown">
                                                            <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="icon icon-options"></span>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item editResourceButton" href="javascript:void(0);" data-target="#loadingContentModal" data-toggle="modal" data-url="/resource/8786/edit-modal"> Modifier </a>
                                                                <span class="dropdown-item text-danger resourceDeleteLink cursorLink" data-url="/rest/fr/resource/8786/delete">Supprimer</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <span class="btn btn-lg btn-block btn-default editTemplateButton disabled" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/53/state/785/application/638/form/427/field/1340/template/edit" data-signed-url="/rest/fr/program/53/state/785/application/638/form/427/field/1340/resource/signed-url" data-done-url="/rest/fr/program/53/state/785/application/638/form/427/field/1340/resource/upload" data-maxfiles="1" data-maxfilesremaining="0"> Editer un nouveau document </span>
                                            <div data-error-related="form_543_1340"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="uploadSignedUrlFileContainer formUploadContainer mb-3" data-installed="1">
                                            <legend class="active checkbox-custom font-weight-bold col-form-label">Persona</legend>
                                            <div id="resourceList" class="resourcesWallWrapper">
                                                <small class="text-muted text-uppercase">template</small>
                                                <div class="resourcesWrapper ">
                                                    <section class="templateResourcesList">
                                                        <div class="item is-bordered resource mb-3">
                                                            <div class="item-row">
                                                                <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/7b2b00c4-d682-4c07-b40e-b1ea2a26af05/load?browse=0" data-target="#resourceLoadingModal">
                                                                    <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                                    <div class="item-content ml-3">
                                                                        <a class="item-title h4 mb-none stretched-link text-truncate" href="#">Persona.pdf</a>
                                                                        <ul class="item-caption metas small is-list">
                                                                            <li><span class="icon icon-time">&nbsp;02/03/2023 18:54</span></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="item-options">
                                                                    <a class="btn btn-lg btn-transparent btn-icon" href="/resource/7b2b00c4-d682-4c07-b40e-b1ea2a26af05/download">
                                                                        <span class="icon icon-cloud-download"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <div class="resourceEmptyState d-none">
                                                        <div class="d-flex flex-column align-items-center py-5">
                                                            <span class="text-muted icon icon-file-outline is-lg"></span>
                                                            <p class="text-muted text-center mt-4">
                                                                <span>No document</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <section class="resourcesList">
                                                <small class="ext-muted text-uppercase">uploaded files</small>
                                                <div class="item is-bordered resource mb-3">
                                                    <div class="item-row">
                                                        <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/40a95280-a5b5-4597-9acd-a0a7625cbef3/load?browse=0" data-target="#resourceLoadingModal">
                                                            <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                            <div class="item-content ml-3">
                                                                <a class="item-title h4 mb-none stretched-link text-truncate" href="#">1694443397800.pdf</a>
                                                                <ul class="item-caption metas small is-list">
                                                                    <li><span class="icon icon-time">&nbsp;11/09/2023 16:43</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="item-options">
                                                            <a class="btn btn-lg btn-transparent btn-icon" href="/resource/40a95280-a5b5-4597-9acd-a0a7625cbef3/download">
                                                                <span class="icon icon-cloud-download"></span>
                                                            </a>
                                                        </div>
                                                        <div class="item-options dropdown">
                                                            <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="icon icon-options"></span>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item editResourceButton" href="javascript:void(0);" data-target="#loadingContentModal" data-toggle="modal" data-url="/resource/8789/edit-modal"> Modifier </a>
                                                                <span class="dropdown-item text-danger resourceDeleteLink cursorLink" data-url="/rest/fr/resource/8789/delete">Supprimer</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <span class="btn btn-lg btn-block btn-default editTemplateButton disabled" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/53/state/785/application/638/form/427/field/1341/template/edit" data-signed-url="/rest/fr/program/53/state/785/application/638/form/427/field/1341/resource/signed-url" data-done-url="/rest/fr/program/53/state/785/application/638/form/427/field/1341/resource/upload" data-maxfiles="1" data-maxfilesremaining="0"> Editer un nouveau document </span>
                                            <div data-error-related="form_543_1341"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="uploadSignedUrlFileContainer formUploadContainer mb-3" data-installed="1">
                                        <legend class="checkbox-custom font-weight-bold col-form-label">Contacts prioritaires</legend>
                                        <small class="ext-muted text-uppercase">uploaded files</small>
                                        <section class="resourcesList">
                                        </section>
                                        <div class="addResourceContainer " id="addResourceContainer" data-maxfiles="1" data-maxfilesremaining="1" data-no-file-limit="0">
                                            <button class="btn btn-lg btn-block btn-default dropdown-toggle addResourceButton" data-toggle="dropdown">
                                                <span class="icon icon-plus-circle"></span>
                                                <span>Ajouter une ressource</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <span class="dropdown-item cursorLink uploadSignedUrlFile" data-maxfiles="1" data-maxfilesremaining="1" data-maxfileweight="524288000" data-url="/rest/fr/program/53/state/785/application/638/form/427/field/1342/resource/upload" data-signed-url="/rest/fr/program/53/state/785/application/638/form/427/field/1342/resource/signed-url"> Ajouter un document </span>
                                                <span class="dropdown-item cursorLink resourceUrlBlock" data-toggle="modal" data-target="#loadingContentModal" data-url="/program/53/application/638/state/785/form/427/resource/url/create-modal/1342"> Ajouter un lien </span>
                                            </div>
                                        </div>
                                        <div data-error-related="form_543_1342"></div>
                                    </div>
                                </div>
                                <div class="form-group"> <label class="active checkbox-custom font-weight-bold" for="form_543_1343">Problématique affinée</label>
                                    <textarea id="form_543_1343" name="form_543[1343]" length="800" maxlength="800" data-save-url="/rest/fr/challenge/53/state/785/application/638/form/427/field/1343" class="autoSaveField form-control" rows="4" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 102px;">testf</textarea>
                                </div>
                                <fieldset class="form-group">
                                    <legend class="active checkbox-custom font-weight-bold col-form-label required">Validez la proposition</legend>
                                    <div id="form_543_1388" data-save-url="/rest/fr/challenge/53/state/785/application/638/form/427/field/1388" class="autoSaveField">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="form_543_1388_0" name="form_543[1388]" required="required" class="custom-control-input" value="552">
                                            <label class="checkbox-custom custom-control-label custom-control-label required" for="form_543_1388_0">Oui</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="form_543_1388_1" name="form_543[1388]" required="required" class="custom-control-input" value="553" checked="checked">
                                            <label class="checkbox-custom custom-control-label custom-control-label required" for="form_543_1388_1">Non</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <legend class="active checkbox-custom font-weight-bold col-form-label required">Selectionnez un cas d'usage</legend>
                                    <div id="form_543_1389" data-save-url="/rest/fr/challenge/53/state/785/application/638/form/427/field/1389" class="autoSaveField">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="form_543_1389_0" name="form_543[1389][]" class="custom-control-input" value="554" checked="checked">
                                            <label class="checkbox-custom custom-control-label custom-control-label" for="form_543_1389_0">Cas simple</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="form_543_1389_1" name="form_543[1389][]" class="custom-control-input" value="555" checked="checked">
                                            <label class="checkbox-custom custom-control-label custom-control-label" for="form_543_1389_1">Cas complexe</label>
                                        </div>
                                    </div>
                                </fieldset> <input type="hidden" id="form_543__token" name="form_543[_token]" value="d1822fd93d79879ea2416041cdf.2k8pG54ovU9EYutIwfA-yuVSGgz55G-8uihPu9-Ww8s.nmJwXd0f9Ap2J4N6lclTmIYwVU6m1jv940ca5Oz1-6W9GGpC20PxPgcU3w">
                        </div>
                        </form>
                    </div>
                    <div class="aside-buttons-bottom d-flex flex-column flex-lg-row">
                        <button id="btn-quiz" class="btn btn-default btn-lg dropdown mr-lg-3 mb-3 mr-0"><span class="icon icon-format-list-bulleted mr-2"></span>Capsules</button>
                        <button id="btn-quiz" class="btn btn-default btn-lg dropdown mr-lg-3 mb-3 mr-0"><span class="icon icon-certificate-outline mr-2"></span>Take a quiz</button>
                        <button id="btn-quiz" class="btn btn-default btn-lg mr-lg-3 mb-3 mr-0"><span class="icon icon-thumbs-up-down  mr-2"></span>Give a feedback</button>
                    </div>
                    <div class="d-flex flex-column flex-lg-row justify-content-between">                      
                        <div  class="d-flex flex-column flex-lg-row ">
                            <div class="dropdown mr-lg-3 mb-3 mr-0">
                                <button class="btn btn-lg btn-block dropdown-toggle btn-default" type="button" id="completeButton1704326950" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-check-circle"></i>&nbsp;Completed </button>
                                <div class="dropdown-menu" aria-labelledby="completeButton1704326950"><a data-url="/rest/challenge/147/state/5211/ch-user/7474/uncomplete?html=1&amp;small=1" class="dropdown-item cursorLink" href="javascript:void(0);"> Mark as not completed </a></div>
                            </div>                           
                        </div>
                        <div class="d-flex flex-column flex-lg-row">
                            <button class="btn btn-default btn-lg mr-lg-3 mb-3 mr-0">Previous</button>  
                            <button class="btn btn-primary btn-lg mb-3 mr-0">Complete and next</button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside-buttons">
        <button class="btn btn-lg btn-default mb-3" data-toggle="tooltip" data-original-title="Capsules"><span class="icon icon-format-list-bulleted"></span></button>
        <button class="btn  btn-lg btn-default mb-3" data-toggle="tooltip" data-original-title="Take a quiz"><span class="icon icon-certificate-outline"></span></button>
        <button class="btn btn-lg btn-default" data-toggle="tooltip" data-original-title="Give feedback"><span class="icon icon-thumbs-up-down"></span></button>
    </div>
</div>