<div class="row justify-content-center">
    <div class="card col-12 col-lg-10 col-xl-8 mb-8">
        <div class="row py-5">
            <div class="col-12 col-md-5 mb-5 mb-md-0">
                <div class="cover-container rounded" style="background-image:url('img/hero.png');background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
            </div>
            <div class="col-12 col-md-7 d-flex justify-content-center flex-column">
                <div class="h1 m-none">Program-1</div>
                <div class="h4 m-none mb-3">Ongoing</div>
                <p class="m-none mb-5 text-muted small">15/08/2022 at 8AM to 15/09/2022 a 11PM</p>
                <div class="d-flex flex-column flex-md-row">
                    <button class="w-100 w-md-50 btn btn-default mr-0 mr-md-3 mb-5 mb-md-0" href="/program/starter-saison-14?f=w">
                        <span class="icon icon-visibility"></span><span>View landing page</span>
                    </button>
                    <div class="w-100 w-md-50 btn-group mb-5 mb-md-0">
                        <a class="btn btn-default btn-block" href="#">
                            <span>Contact managers</span>
                        </a>
                        <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><span>Mail</span></a>
                            <a class="dropdown-item" href="#"><span>Chat</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row flex-nowrap p-5">
            <div class="mx-auto mb-3 mb-md-0 thumbnail is-xl is-oval" shape="oval"><img alt="John Doe" src="img/thumbnails/john-doe.webp"></div>
            <div class="flex-grow-1 pl-3">
                <p class="mb-2">Jean Guy program application <strong>as participant</strong></p>
                <p class="small font-italic text-muted">The applications to join this program as participant are open from 15/08/2022 at 8AM to 15/09/2022 at 8PM.</p>
                <div class="bg-white border rounded p-5 mb-5">
                    <div><img width="120" height="auto" src="img/schoolab-logo-dark.svg"></div>
                    <p>At lacus vitae nulla sagittis scelerisque nisl. Pellentesque duis cursus vestibulum, facilisi ac, sed faucibus.</p>
                </div>
                <div class="pb-5 d-flex justify-content-center">
                    <ul class="list-stepper">
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Application created</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Application submitted</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="50" style="--percent:50;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none"><strong>Application in review</strong></p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Application accepted</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column flex-md-row pb-5">
                    <div class="w-100 w-md-50 flex-grow-1 flex-shrink-1 btn-group mr-0 mr-md-3 mb-5 mb-md-0">
                        <a class="btn btn-primary btn-block" href="#">
                            <span>View application</span>
                        </a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><span>Continue</span></a>
                            <a class="dropdown-item" href="#"><span>Delete</span></a>
                        </div>
                    </div>
                    <div data-toggle="tooltip" data-placement="top" data-original-title="The program dashboard will be accessible once your application is accepted." class="w-100 w-md-50 d-flex flex-grow-1 flex-shrink-1">
                        <button class="flex-grow-1 flex-shrink-1 btn btn-default  mb-5 mb-md-0" href="#" disabled>
                            <span>Program dashboard</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-5 pb-3">
                    <div class="icon icon--letter is-sm mr-3 "><span>m</span></div>
                    <span class="h4 mb-none">Mariland project submission form.</span>
                </div>
                <p class="small font-italic text-muted">The project application to join this program as participant are open from 15/08/2022 at 8AM to 15/09/2022 at 8PM.</p>
                <div class="pb-5 d-flex justify-content-center">
                    <ul class="list-stepper">
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Project created</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Project submitted</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="50" style="--percent:50;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none"><strong>Project in review</strong></p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Project accepted</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column flex-md-row pb-5">
                    <div class="w-100 w-md-50 flex-grow-1 flex-shrink-1 btn-group mr-0 mr-md-3 mb-5 mb-md-0">
                        <a class="btn btn-primary btn-block" href="#">
                            <span>View project submission</span>
                        </a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><span>Continue</span></a>
                            <a class="dropdown-item" href="#"><span>Delete</span></a>
                        </div>
                    </div>
                    <div data-toggle="tooltip" data-placement="top" data-original-title="The project overview will be accessible once your project is accepted." class="w-100 w-md-50 d-flex flex-grow-1 flex-shrink-1">
                        <button class="flex-grow-1 flex-shrink-1 btn btn-default  mb-5 mb-md-0" href="#" disabled>
                            <span>Project overview</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-5 pb-3">
                    <div class="icon icon--letter is-sm mr-3 "><span>a</span></div>
                    <span class="h4 mb-none">Acme project submission form.</span>
                </div>
                <p class="small font-italic text-muted">The project application to join this program as participant are open from 15/08/2022 at 8AM to 15/09/2022 at 8PM.</p>
                <div class="pb-5 d-flex justify-content-center">
                    <ul class="list-stepper">
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Project created</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Project submitted</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Project in review</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 .627h20v20H0z" />
                                <path d="M18 10.627a8 8 0 1 1-16 0 8 8 0 0 1 16 0zm-14 0a6 6 0 1 0 12 0 6 6 0 0 0-12 0z" fill="#FF5630" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="m13.704 8.229-2.396 2.395 2.396 2.396-1.311 1.311-2.396-2.395-2.396 2.395L6.29 13.02l2.396-2.396L6.29 8.23l1.311-1.312 2.396 2.396 2.396-2.396 1.311 1.312z" fill="#FF4A00" />
                            </svg>
                            <div class="pl-3">
                                <p class="m-none"><strong>Project rejected</strong></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column flex-md-row pb-5">
                    <div class="w-100 w-md-50 flex-grow-1 flex-shrink-1 btn-group mr-0 mr-md-3 mb-5 mb-md-0">
                        <a class="btn btn-primary btn-block" href="#">
                            <span>View project submission</span>
                        </a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><span>Continue</span></a>
                            <a class="dropdown-item" href="#"><span>Delete</span></a>
                        </div>
                    </div>
                    <div data-toggle="tooltip" data-placement="top" data-original-title="The project overview will be accessible once your project is accepted." class="w-100 w-md-50 d-flex flex-grow-1 flex-shrink-1">
                        <button class="flex-grow-1 flex-shrink-1 btn btn-default  mb-5 mb-md-0" href="#" disabled>
                            <span>Project overview</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row flex-nowrap p-5 is-manager">
            <div class="mx-auto mb-3 mb-md-0 thumbnail is-xl is-oval" shape="oval"><img alt="John Doe" src="img/thumbnails/john-doe.webp"></div>
            <div class="flex-grow-1 pl-3">
                <p class="mb-2">Jean Guy program application <strong>as manager</strong></p>
                <p class="small font-italic text-muted">You have been invited to this program as a Manager.</p>
                <div class="d-flex flex-column flex-md-row pb-5">
                    <button class="w-100 w-md-50 flex-grow-1 flex-shrink-1 btn btn-primary  mr-0 mr-md-3 mb-5 mb-md-0" href="#">
                        <span>Manage program</span>
                    </button>
                    <button class="w-100 w-md-50 flex-grow-1 flex-shrink-1 btn btn-default  mb-5 mb-md-0" href="#">
                        <span>Program dashboard</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row flex-nowrap p-5 is-mentor">
            <div class="mx-auto mb-3 mb-md-0 thumbnail is-xl is-oval" shape="oval"><img alt="John Doe" src="img/thumbnails/john-doe.webp"></div>
            <div class="flex-grow-1 pl-3">
                <p class="mb-2">Jean Guy program application <strong>as Mentor</strong></p>
                <p class="small font-italic text-muted">You have been invited to this program as a Mentor</p>
                <div class="bg-white border rounded p-5 mb-5">
                    <div><img width="120" height="auto" src="img/schoolab-logo-dark.svg"></div>
                    <p>At lacus vitae nulla sagittis scelerisque nisl. Pellentesque duis cursus vestibulum, facilisi ac, sed faucibus.</p>
                </div>
                <div class="pb-5 d-flex justify-content-center">
                    <ul class="list-stepper">
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Mentor invitation send</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Mentor invitation accepted</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="50" style="--percent:50;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none"><strong>Mentor registration in progress</strong></p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Mentor registration accepted</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column flex-md-row pb-5">
                    <div class="w-100 w-md-50 flex-grow-1 flex-shrink-1 btn-group mr-0 mr-md-3 mb-5 mb-md-0">
                        <a class="btn btn-primary btn-block" href="#">
                            <span>View Mentor registration form</span>
                        </a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><span>Continue</span></a>
                            <a class="dropdown-item" href="#"><span>Delete</span></a>
                        </div>
                    </div>
                    <div data-toggle="tooltip" data-placement="top" data-original-title="The mentor overview will be accessible once your mentor is accepted." class="w-100 w-md-50 d-flex flex-grow-1 flex-shrink-1">
                        <button class="flex-grow-1 flex-shrink-1 btn btn-default  mb-5 mb-md-0" href="#" disabled>
                            <span>Mentor overview</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row flex-nowrap p-5 is-jury">
            <div class="mx-auto mb-3 mb-md-0 thumbnail is-xl is-oval" shape="oval"><img alt="John Doe" src="img/thumbnails/john-doe.webp"></div>
            <div class="flex-grow-1 pl-3">
                <p class="mb-2">Jean Guy program application <strong>as jury</strong></p>
                <p class="small font-italic text-muted">You have been invited to this program as a jury</p>
                <div class="pb-5 d-flex justify-content-center">
                    <ul class="list-stepper">
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Jury invitation send</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Jury invitation accepted</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="50" style="--percent:50;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none"><strong>Jury registration in progress</strong></p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Jury registration accepted</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column flex-md-row pb-5">
                    <div class="w-100 w-md-50 flex-grow-1 flex-shrink-1 btn-group mr-0 mr-md-3 mb-5 mb-md-0">
                        <a class="btn btn-primary btn-block" href="#">
                            <span>View Jury registration form</span>
                        </a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><span>Continue</span></a>
                            <a class="dropdown-item" href="#"><span>Delete</span></a>
                        </div>
                    </div>
                    <div data-toggle="tooltip" data-placement="top" data-original-title="The jury overview will be accessible once your jury is accepted." class="w-100 w-md-50 d-flex flex-grow-1 flex-shrink-1">
                        <button class="flex-grow-1 flex-shrink-1 btn btn-default  mb-5 mb-md-0" href="#" disabled>
                            <span>Jury overview</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-12 col-lg-10 col-xl-8 mb-8">
        <div class="row py-5">
            <div class="col-12 col-md-5 mb-5 mb-md-0">
                <div class="cover-container rounded" style="background-image:url('img/hero-2.png');background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
            </div>
            <div class="col-12 col-md-7 d-flex justify-content-center flex-column">
                <div class="h1 m-none">Program-2</div>
                <div class="h4 m-none mb-3">Ongoing</div>
                <p class="m-none mb-5 text-muted small">15/08/2022 at 8AM to 15/09/2022 a 11PM</p>
                <div class="d-flex flex-column flex-md-row">
                    <button class="w-100 w-md-50 btn btn-default mr-0 mr-md-3 mb-5 mb-md-0" href="/program/starter-saison-14?f=w">
                        <span class="icon icon-visibility"></span><span>View landing page</span>
                    </button>
                    <div class="w-100 w-md-50 btn-group mb-5 mb-md-0">
                        <a class="btn btn-default btn-block" href="#">
                            <span>Contact managers</span>
                        </a>
                        <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><span>Mail</span></a>
                            <a class="dropdown-item" href="#"><span>Chat</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-column flex-md-row flex-nowrap p-5">
            <div class="mx-auto mb-3 mb-md-0 thumbnail is-xl is-oval" shape="oval"><img alt="John Doe" src="img/thumbnails/john-doe.webp"></div>
            <div class="flex-grow-1 pl-3">
                <p class="mb-2">Jean Guy program application <strong>as participant</strong></p>
                <p class="small font-italic text-muted">The applications to join this program as participant are open from 15/08/2022 at 8AM to 15/09/2022 at 8PM.</p>
                <div class="pb-5 d-flex justify-content-center">
                    <ul class="list-stepper">
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Application created</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Application submitted</p>
                                <p class="m-none small text-muted">on 19/08/22 at 17:32</p>
                            </div>
                        </li>
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none">Application in review</p>
                            </div>
                        </li>
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-none"><strong>Application accepted</strong></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column flex-md-row pb-5">
                    <div class="w-100 w-md-50 flex-grow-1 flex-shrink-1 btn-group mr-0 mr-md-3 mb-5 mb-md-0">
                        <a class="btn btn-default btn-block" href="#">
                            <span>View application</span>
                        </a>
                        <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><span>Continue</span></a>
                            <a class="dropdown-item" href="#"><span>Delete</span></a>
                        </div>
                    </div>
                    <button class="w-100 w-md-50  flex-grow-1 flex-shrink-1 btn btn-primary  mb-5 mb-md-0" href="#">
                        <span>Program dashboard</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>