<div class="row">
    <div class="col-12 col-lg-6">
        <div class="application-section">
            <div class="carousel slide carousel-fade pointer-event mb-5" id="carousel" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="cover-container rounded" style="background-image:url(&quot;img/hero.png&quot;);background-repeat:no-repeat; background-position:center; background-size:cover;">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="cover-container rounded" style="background-image:url(&quot;img/hero-2.png&quot;);background-repeat:no-repeat; background-position:center; background-size:cover;">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev"><span class="carousel-control-prev-icon icon icon-chevron-left" aria-hidden="true"></span><span class="sr-only">Précédent</span></a><a class="carousel-control-next" href="#carousel" role="button" data-slide="next"><span class="carousel-control-next-icon icon icon-chevron-right" aria-hidden="true"></span><span class="sr-only">Suivant</span></a>
            </div>
            <div class="h1 m-none mb-5">Program-1 dashboard</div>
            <div class="m-none mb-5">At lacus vitae nulla sagittis scelerisque nisl. Pellentesque duis cursus vestibulum, facilisi ac, sed faucibus.</div>
            <h4>shortcut</h4>
            <a class="btn btn-lg btn-block btn-default" href="/program/75/managers"> Custom shortcut </a>
            <a class="btn btn-lg btn-block btn-default" href="/program/75/managers"> Custom shortcut  </a>
        </div>
        <div class="application-section">
            <div class="mb-7">
                <div class="d-flex align-items-center mb-7">
                    <div class="icon icon-library  icon--letter is-sm mr-2 "></div>
                    <a href="#" class="item-title h3 mb-none"> Learning courses </a>
                </div>
                <p>consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
            </div>
            <div>
                <div class="mb-7">
                    <div class="d-flex justify-content-between mb-3">
                        <span class="small text-muted">Courses</span>
                        <span class="small text-muted">In progress</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="small text-muted">33%</span>
                    </div>
                </div>
                <div class="mb-7">
                    <div class="d-flex justify-content-between mb-3">
                        <span class="small text-muted">Certificates</span>
                        <span class="small text-muted">Not started</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="small text-muted">0%</span>
                    </div>
                </div>
                <button class="btn btn-lg btn-block btn-default stretched-link" href="#"> View learning courses </button>
            </div>
        </div>

        <div class="application-section">
            <div class="mb-7">
                <div class="d-flex align-items-center mb-2">
                    <div class="icon icon--letter is-sm mr-2 "><span>m</span></div>
                    <a href="/program/75/project/2232/details"
                        class="item-title h3 mb-none"> My-project </a>
                </div>
                <ul class="item-caption metas small is-list mb-5">
                    <li>Created on 05/09/2022</li>
                    <li>By John Doe</li>
                </ul>
                <p>consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
            </div>
            <div>
                <div class="mb-7">
                    <div class="d-flex justify-content-between mb-3">
                        <span class="small text-muted">Objectives</span>
                        <span class="small text-muted">In progress</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="small text-muted">33%</span>
                    </div>
                </div>
                <button class="btn btn-lg btn-block btn-default stretched-link" href="#"> View project overview </button>
            </div>
        </div>
        <div class="application-section">
            <h3 class="application-section--title"> Your Program Managers </h3>
            <p>Program Managers are here to guide you during the program.</p>
            <div class="item is-bordered">
                <div class="item-row">
                    <div class="item-row">
                        <a href="/user/u/0d3e2b04">
                            <div class="thumbnail is-oval " title="" data-toggle="tooltip"
                                    data-original-title="La piscine 2022 overview">
                                <img src="https://inject-prod.s3.amazonaws.com/images/c5268f41-f646-4fe1-b783-315029757ad2/sq150.png">
                            </div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a href="/user/u/0d3e2b04"
                                class="item-title h4 font-weight-normal mb-none stretched-link">Marine Martinez</a>
                            <ul class="metas is-list ">
                                <li> Startup Manager Schoolab </li>
                                <li> Paris, FR </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options dropdown">
                        <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user/u/0d3e2b04">Show profile</a><a class="dropdown-item"
                                data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item is-bordered">
                <div class="item-row">
                    <div class="item-row">
                        <a href="/user/u/158c2ec5">
                            <div class="thumbnail is-oval " title="" data-toggle="tooltip"
                                    data-original-title="La piscine 2022 overview">
                                <img src="https://inject-prod.s3.amazonaws.com/images/71446890-6864-4521-9548-8f5973075b3a/sq150.jpeg">
                            </div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a href="/user/u/158c2ec5"
                                class="item-title h4 font-weight-normal mb-none stretched-link">Pierre Forestier</a>
                            <ul class="metas is-list ">
                                <li> Startup Manager Schoolab </li>
                                <li> Paris, FR </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options dropdown">
                        <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user/u/158c2ec5">Show profile</a><a class="dropdown-item"
                                data-toggle="modal" data-target="#modalOpenThread" data-user-id="1782" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item is-bordered">
                <div class="item-row">
                    <div class="item-row">
                        <a href="/user/u/53825949">
                            <div class="thumbnail is-oval " title="" data-toggle="tooltip"
                                    data-original-title="La piscine 2022 overview">
                                <img src="https://inject-prod.s3.amazonaws.com/images/731305ed-0603-4910-9e93-65dd89ef302a/sq150.jpeg">
                            </div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a href="/user/u/53825949"
                                class="item-title h4 font-weight-normal mb-none stretched-link">Sarah Mecheneau</a>
                            <ul class="metas is-list ">
                                <li> Business Developer / Program Manager - Programmes étudiants internationaux Schoolab </li>
                                <li> FR </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options dropdown">
                        <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user/u/53825949">Show profile</a><a class="dropdown-item"
                                data-toggle="modal" data-target="#modalOpenThread" data-user-id="2286" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
            </div> 
            <a class="btn btn-lg btn-block btn-default" href="/program/75/managers"> Show more </a>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="application-section is-highlighted">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3><span class="icon icon-questionnaire is-24px mr-2"></span>A survey is waiting your response!</h3>
                    <p>We need you to help us improve the CPI Concept program by responding to a survey. It will only take you a couple minutes.</p>
                    <div class="mt-5 d-flex">
                        <a class="btn btn-lg flex-fill btn-primary mr-3 text-nowrap" href="#"> Respond to survey </a>
                        <a class="btn btn-lg flex-fill btn-default text-nowrap" href="#"> See all surveys </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="application-section d-flex flex-column gap-xs">
            <h3 class="application-section--title"> Upcoming events </h3>
            <div class="card">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image is-3by1">
                            <picture>
                                <source media="(max-width:576px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co576x192.jpeg">
                                <source media="(max-width:768px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co768x256.jpeg">
                                <source media="(max-width:1140px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg">
                                <img src="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="d-flex gap-sm">
                        <div class="thumbnail is-date is-lg">
                            <span class="month">June</span>
                            <span class="day">8</span>
                        </div>
                        <div class="d-flex flex-column flex-fill gap-0">
                            <div class="card-title d-flex align-items-center gap-2xs mb-none p-2xs">
                                <span class="icon icon-pin is-24px z-2" data-toggle="tooltip" data-placement="top" data-original-title="Pinned events are visible on the organization Hub" data-boundary="window"></span>
                                <a href="#" class="h4 mb-none stretched-link line-clamp-1">
                                    {event.name}
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-end flex-wrap gap-xs">
                                <div class="badge is-pill">
                                    <span class="icon icon-map-marker"></span>
                                    <span>In person</span>
                                </div>
                                <div class="badge is-pill is-draft">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 9C7.65685 9 9 7.65685 9 6C9 4.34315 7.65685 3 6 3C4.34315 3 3 4.34315 3 6C3 7.65685 4.34315 9 6 9ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z" fill="currentColor"/>
                                    </svg>                                   
                                    <span>June 18 at 6 PM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-infos is-linked">
                    <div class="d-flex gap-sm">
                        <div class="thumbnail is-date is-lg">
                            <span class="month">June</span>
                            <span class="day">8</span>
                        </div>
                        <div class="d-flex flex-column flex-fill gap-0">
                            <div class="card-title d-flex align-items-center gap-2xs mb-none p-2xs">
                                <span class="icon icon-pin is-24px z-2" data-toggle="tooltip" data-placement="top" data-original-title="Pinned events are visible on the organization Hub" data-boundary="window"></span>
                                <a href="#" class="h4 mb-none stretched-link line-clamp-1">
                                    {event.name}
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-end flex-wrap gap-xs">
                                <div class="badge is-pill">
                                    <span class="icon icon-link"></span>
                                    <span>Online</span>
                                </div>
                                <div class="badge is-pill is-open">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="6" cy="6" r="6" fill="currentColor"/>
                                    </svg>
                                    <span>Ongoing until 10 PM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-lg btn-block btn-default" href="/program/75/managers"> Show more </a>
        </div>
        
        <div class="application-section">
            <h3 class="application-section--title"> Newsfeed</h3>
            <div id="challenge-blogposts-container">
                <a class="message mb-5 startMessageButton" href="/program/75/manage/updates/new-update">
                    <span class="thumbnail is-oval is-lg" data-toggle="tooltip" title="" data-original-title="John Doe">
                        <div class="thumbnail is-oval">
                            <span class="icon icon-account"></span>
                        </div>
                    </span>
                    <div class="message-body">
                        <div class="message-list">
                            <div class="message-row">
                                <input type="text" class="form-control message-content bg-white cursorLink"
                                       readonly="readonly" placeholder="Start a new post...">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="blogPostsWall" data-url="/program/75/workspace/updates/wall?preview=3">
                    <div class="card m-none p-5 wallLoader d-none">
                        <div class="pb-0 pt-3 pt-sm-5">
                            <div class="item is-wide is-static">
                                <h4 class="text-center w-100 mb-3">Loading...</h4>
                            </div>
                        </div>
                    </div>
                    <div class="cardsContainer">
                        <div class="cardsContainer">
                            <div class="card blogPostCard">
                                <div class="card-infos d-flex flex-column align-items-stretch gap-md p-24px">
                                    <div class="d-flex flex-grow-1 gap-sm">
                                        <div class="thumbnail-relation m-auto">
                                            <a href="#" class="thumbnail is-oval is-lg is-bordered">
                                                <img src="https://inject-prod.s3.amazonaws.com/images/0ee71840-6d78-4784-acff-6f8d2722dbb7/sq150.jpeg">
                                            </a>
                                        </div>                     
                                        <div class="card-title flex-grow-1">
                                            <a href="#" class="h4 mb-none line-clamp-1 d-flex align-items-center gap-2xs">
                                                <span>Sarah Lamoureux</span>
                                                <span class="badge badge-role is-manager z-2" data-toggle="tooltip" data-placement="top" data-original-title="Program Manager" data-boundary="window"></span>
                                            </a>
                                            <ul class="text-muted small metas is-list mb-none">
                                                <li>
                                                    <a href="#" class="text-muted text-decoration-none">Community Builder, Schoolab</a>
                                                </li>
                                                <li>
                                                    <span>May 13</span>
                                                </li>
                                                <li>
                                                    <span>3:39 PM</span>
                                                </li>
                                            </ul>
                                        </div> 
                                        <div class="dropdown z-2">
                                            <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="icon is-20px icon-dots-vertical"></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <span>Open post</span>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                    <span class="dropdown-item--label">Open profile</span>
                                                    <span class="dropdown-item--shortcut icon icon-arrow-top-right"></span>
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <span class="dropdown-item--label">Open program</span>
                                                    <span class="dropdown-item--shortcut icon icon-arrow-top-right"></span>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                    <span>Edit</span>
                                                </a>
                                                <a class="dropdown-item is-danger" href="#">
                                                    <span>Delete</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column gap-md">
                                        <p>Bonjour à tous·tes,</p>
                                        <p>Nous sommes heureux de vous accueillir au sein de Schoolab Saint-Lazare !</p>
                                        <p>Le système de réservation de salles de réunion est maintenant disponible, <a href="https://schoolab.skedda.com/register?i=277598&amp;k=0tUkWBHX4UlHvcRlvn6Cx60VhMZD7EZl">cliquez sur ce lien pour activer vos accès</a>.</p>
                                        <p>Ensuite, pour y accéder il vous suffira de cliquer sur le petit 🏢 dans la barre de navigation de gauche, vous retrouverez le p...</p>
                                        <a href="#">Read more -></a>
                                    </div>
                                    <div class="item is-bordered resource">
                                        <div class="item-row p-sm">
                                            <div class="item-row gap-xs">
                                                <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                <div class="item-content">
                                                    <a class="item-title h4 mb-none stretched-link text-truncate" href="#" target="_blank">stakeholdermap-model.pdf</a>
                                                    <ul class="item-caption metas small is-list">
                                                        <li>
                                                            <span>PDF File</span>
                                                        </li>
                                                        <li>
                                                            <span>120 KB</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="item-options">
                                                <a class="btn btn-lg btn-transparent btn-icon z-1" href="#" target="_blank">
                                                    <span class="icon icon-cloud-download"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between flex-nowrap">
                                        <div class="d-flex gap-xs flex-fill">
                                            <a href="#" class="btn btn-secondary active">
                                                <span class="icon icon-thumb-up"></span>
                                                <span>9</span>
                                            </a>
                                            <a href="#" class="btn btn-secondary">
                                                <span class="icon icon-comment"></span>
                                                <span>4</span>
                                            </a>
                                        </div>
                                        <a href="#" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Click to copy link" data-boundary="window">
                                            <span class="icon icon-share-variant"></span>
                                            <span>Copy link</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagerContainer mt-5 d-none">
                        <button class="btn btn-lg btn-block btn-default pagerLoadMoreButton">Load more<span
                                  class="icon icon-loading icon-spin ml-1 d-none buttonLoader"></span></button>
                    </div>
                </div>
            </div>
            <a id="challenge-blogposts-page-btn" class="btn btn-lg btn-block btn-default mt-3 d-none"
               href="/program/75/updates">Show more</a>
        </div>
    </div>
</div>