<div class="d-flex align-items-start">
    <div class="container-lg container-fluid">
        <div class="row justify-content-center flex-grow-1">
            <div class="col-12 col-xl-8 ">
                <div class="application-section">
                    <div class="mb-5">
                        <a href="/program/147/events/417">
                            <picture>
                                <source media="(max-width:576px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co576x192.jpeg">
                                <source media="(max-width:768px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co768x256.jpeg">
                                <source media="(max-width:1140px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg">
                                <img class="img-fluid d-block" src="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg" alt="" width="1140" height="380">
                            </picture>
                        </a>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="text-date">Mar Thu 30, 2023 at 09:30</span>
                        <h2 class="d-flex mb-2">Tradeshow</h2>
                        <ul class="list-inline text-muted">
                            <li class="list-inline-item">
                                <span class="icon icon-time"></span>
                                <span>March 30 Thursday, 2023 from 09:30 to 17:00</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="icon icon-location"></span>
                                <span>Offline</span>
                            </li>
                        </ul>
                    </div>
                    <div class="alert alert-info d-flex align-items-left align-items-lg-center flex-column flex-lg-row">
                        <div class="flex-fill mb-5 mb-lg-0 mr-0 mr-lg-5">
                            <p class="m-none font-weight-bold">You can manage this event</p>
                            <p>As a Program Manager of this program you have access to the event manager.</p>
                        </div>
                        <div class="flex-lg-shrink-1">
                            <a class="btn btn-lg btn-block btn-white" href="/event/417/manage">Manage</a>
                        </div>
                    </div>
                    <div class="mt-7">
                        <a class="btn btn-default btn-lg btn-block" href="#challengeEventAddToCalendar" data-toggle="modal">Add to calendar</a>
                    </div>
                    <div class="mt-7">
                        <h4><span> Location: venue address </span></h4>
                        <p>This event takes place offline. Here is the information to attend to the event.</p>
                        <div class="list-group list-group-flush list-group-metas">
                            <div class="list-group-item">
                                <span class="icon icon-location"></span>
                                <div class="list-group-item--content">
                                    <span> 15 rue de Milan 75009 Paris </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eventActionsContainer">
                        <a class="btn btn-lg btn-block btn-primary mt-5 eventAction" data-url="/api/event/417/attendees/register">Register to access the event</a>
                    </div>
                    <div class="my-5">
                        <h4>Attendance sheet responsibles</h4>
                        <div class="item is-bordered">
                            <div class="item-row">
                                <div class="item-row">
                                    <a href="#" class="userProfileModale userProfileModale-301" data-url="/user/600a4bc4/profile-modal" data-toggle="modal" data-target="#loadingContentModal">
                                        <div class="thumbnail-relation">
                                            <div class="thumbnail is-oval " title="" data-toggle="tooltip" data-original-title="Tradeshow">
                                                <img src="https://inject-prod.s3.amazonaws.com/images/674bedeb-2b63-4956-a012-08ab39477915/sq150.jpeg">
                                            </div>
                                            <span class="flag-icon flag-icon-fr"></span>
                                        </div>
                                    </a>
                                    <div class="item-content ml-4 py-1">
                                        <a href="#" class="item-title h4 font-weight-normal mb-none userProfileModale userProfileModale-301" data-url="/user/600a4bc4/profile-modal" data-toggle="modal" data-target="#loadingContentModal"> Guillaume Larieu <ul class="metas is-list ">
                                                <li> Head of Students programs Schoolab </li>
                                                <li> FR </li>
                                            </ul>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-options dropdown">
                                    <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-options"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/user/u/600a4bc4">Show profile</a><a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="600a4bc4" href="#">Send a message</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item is-bordered">
                            <div class="item-row">
                                <div class="item-row">
                                    <a href="#" class="userProfileModale userProfileModale-673" data-url="/user/ae5b9801/profile-modal" data-toggle="modal" data-target="#loadingContentModal">
                                        <div class="thumbnail-relation">
                                            <div class="thumbnail is-oval " title="" data-toggle="tooltip" data-original-title="Tradeshow">
                                                <img src="https://inject-prod.s3.amazonaws.com/images/f02c3ef7-941c-4420-b515-c7a752313d4a/sq150.jpeg">
                                            </div>
                                            <span class="flag-icon flag-icon-fr"></span>
                                        </div>
                                    </a>
                                    <div class="item-content ml-4 py-1">
                                        <a href="#" class="item-title h4 font-weight-normal mb-none userProfileModale userProfileModale-673" data-url="/user/ae5b9801/profile-modal" data-toggle="modal" data-target="#loadingContentModal"> Louis Boutet <ul class="metas is-list ">
                                                <li> Program Manager Schoolab </li>
                                                <li> Paris, FR </li>
                                            </ul>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-options dropdown">
                                    <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-options"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/user/u/ae5b9801">Show profile</a><a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="ae5b9801" href="#">Send a message</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside-buttons-bottom d-flex flex-column flex-lg-row">
                        <button id="btn-quiz" class="btn btn-default btn-lg dropdown mr-lg-3 mb-3 mr-0 active"><span class="icon icon-chat mr-2"></span>Chat</button>
                        <button id="btn-quiz" class="btn btn-default btn-lg dropdown mr-lg-3 mb-3 mr-0"><span class="icon icon-folder-download-outline mr-2"></span>Resources</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="application-section">
                    <h3 class="application-section--title"> Upcoming events </h3>
                    <div class="item is-bordered">
                        <div class="item-cover is-3by1">
                            <a href="/program/147/events/417">
                                <picture>
                                    <source media="(max-width:576px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co576x192.jpeg">
                                    <source media="(max-width:768px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co768x256.jpeg">
                                    <source media="(max-width:1140px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg">
                                    <img class="img-fluid d-block" src="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg" alt="" width="1140" height="380">
                                </picture>
                            </a>
                        </div>
                        <div class="item-row">
                            <div class="thumbnail is-date" title="30/03/2023">
                                <span class="month">Mar</span>
                                <span class="day">30</span>
                            </div>
                            <div class="item-content ml-4 py-1">
                                <a class="item-title h4 mb-none stretched-link" href="/program/147/events/417"> Tradeshow </a>
                                <ul class="item-caption metas small is-list">
                                    <li>09:30</li>
                                    <li>Adresse</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item is-bordered">
                        <div class="item-row">
                            <div class="thumbnail is-date" title="30/03/2023">
                                <span class="month">Mar</span>
                                <span class="day">30</span>
                            </div>
                            <div class="item-content ml-4 py-1">
                                <a class="item-title h4 mb-none stretched-link" href="/program/147/events/417"> Tradeshow </a>
                                <ul class="item-caption metas small is-list">
                                    <li>09:30</li>
                                    <li>Adresse</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item is-bordered">
                        <div class="item-row">
                            <div class="thumbnail is-date" title="30/03/2023">
                                <span class="month">Mar</span>
                                <span class="day">30</span>
                            </div>
                            <div class="item-content ml-4 py-1">
                                <a class="item-title h4 mb-none stretched-link" href="/program/147/events/417"> Tradeshow </a>
                                <ul class="item-caption metas small is-list">
                                    <li>09:30</li>
                                    <li>Adresse</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-lg btn-block btn-default" href="/program/75/managers"> Show more </a>
                </div>
            </div>
        </div>
    </div>
    <div class="aside-buttons no-subnav">
        <button class="btn btn-lg btn-default mb-3 active" data-toggle="tooltip" data-original-title="Chat"><span class="icon icon-chat"></span></button>
        <button class="btn  btn-lg btn-default mb-3" data-toggle="tooltip" data-original-title="Resources"><span class="icon icon-folder-download-outline"></span></button>
    </div>
</div>