<div class="application-section">
<div class="items row card-row">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="cursorLink item is-static is-bordered h-100" data-url="/program/142/details">           
            <div class="p-0">
                <div class="item-bookmark"><i class="icon icon-bookmark"></i></div>
                <a  href="/program/142/details">
                    <div class="cover-container  card-img-top pt-0" style="background-image:url(https://inject-prod.s3.amazonaws.com/challenge/cover/pink_co900x600.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                </a>
            </div>
            <div class="item-row position-relative flex-column">                
                <div class="item-content py-1">
                    <a href="/program/142/details" class="item-title h4 mb-none stretched-link"> Schoolab Impact </a>
                    <ul class="list-inline list-dotted mb-none">                 
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/d5b965a6-9324-45d3-aac3-613e623d95d1/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/e3af9c9d-3c0f-4fbd-a728-ce925a201011/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <span class="icon icon-account"></span>
                                        </div>
                                    </div><a href="#"><small class="text-muted">50 Members</small></a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>                                   
                                    <a href="#"><small class="text-muted"> 25 projects</small> </a>                           
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-row flex-column mb-auto">
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="/program/46/manage/projects-submissions/647">
                            <span class="icon icon-project"></span>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">Application</a>
                            <p class="metas small ">
                            John Doe
                            </p>
                        </div>
                    </div>
                </div>    
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="#">
                            <div class="icon icon--letter is-sm"><span class="py-1 ">m</span></div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">My project</a>
                            <p class="metas small">
                                3 members
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-row mt-auto">
                <div class="badges">
                    <div class="badge is-pill is-mentor" >Expert</div><div class="badge is-pill is-manager" >Manager</div><div class="badge is-pill is-jury" >Jury</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="cursorLink item is-static is-bordered h-100" data-url="/program/56/details">
            <div class="p-0">
                <div class="item-bookmark"><i class="icon icon-bookmark"></i></div>
                <a  href="/program/56/details">
                    <div class="cover-container  card-img-top pt-0" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/f5e0a581-76e3-413a-a462-88dc98361172/co1800x1200.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                </a>
            </div>
            <div class="item-row position-relative">
                <div class="item-content py-1 flex-column">
                    <a href="/program/56/details" class="item-title h4 mb-none stretched-link"> Schoolab Onboarding </a>
                    <ul class="list-inline list-dotted mb-none">                 
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/d5b965a6-9324-45d3-aac3-613e623d95d1/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/e3af9c9d-3c0f-4fbd-a728-ce925a201011/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <span class="icon icon-account"></span>
                                        </div>
                                    </div><a href="#"><small class="text-muted">50 Members</small></a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>                                   
                                    <a href="#"><small class="text-muted"> 25 projects</small> </a>                           
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-row flex-column">
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="/program/46/manage/projects-submissions/647">
                            <span class="icon icon-project"></span>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">Application</a>
                            <p class="metas small ">
                            John Doe
                            </p>
                        </div>
                    </div>
                </div>    
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="#">
                            <div class="icon icon--letter is-sm"><span class="py-1 ">m</span></div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">My project</a>
                            <p class="metas small">
                                3 members
                        </div>
                    </div>
                </div>
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="#">
                            <div class="icon icon--letter is-sm"><span class="py-1 ">S</span></div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">Second project</a>
                            <p class="metas small">
                                3 members
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-row mt-auto">
                <div class="badges">
                    <div class="badge is-pill is-mentor" >Expert</div><div class="badge is-pill is-manager" >Manager</div><div class="badge is-pill is-jury" >Jury</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4"> 
        <div class="cursorLink item is-static is-bordered h-100" data-url="/program/118/details">
            <div class="p-0">
                <div class="item-bookmark"><i class="icon icon-bookmark"></i></div>
                <a  href="/program/56/details">
                    <div class="cover-container  card-img-top pt-0" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/b9751cfd-f746-4963-af9e-23f335a5792f/co1920x640.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                </a>
            </div>        
            <div class="item-row position-relative">
                <div class="item-content py-1 flex-column">
                    <a href="/program/118/details" class="item-title h4 mb-none stretched-link"> INTERNATIONAL SEMINAR </a>
                    <ul class="list-inline list-dotted mb-none">                 
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/d5b965a6-9324-45d3-aac3-613e623d95d1/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/e3af9c9d-3c0f-4fbd-a728-ce925a201011/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <span class="icon icon-account"></span>
                                        </div>
                                    </div><a href="#"><small class="text-muted">50 Members</small></a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>                                   
                                    <a href="#"><small class="text-muted"> 25 projects</small> </a>                           
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-row flex-column mb-auto">
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="/program/46/manage/projects-submissions/647">
                            <span class="icon icon-project"></span>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">Application</a>
                            <p class="metas small ">
                            John Doe
                            </p>
                        </div>
                    </div>
                </div>    
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="#">
                            <div class="icon icon--letter is-sm"><span class="py-1 ">m</span></div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">My project</a>
                            <p class="metas small">
                                3 members
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-row mt-auto">
                <div class="badges">
                    <div class="badge is-pill is-mentor" >Expert</div><div class="badge is-pill is-manager" >Manager</div><div class="badge is-pill is-jury" >Jury</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="cursorLink item is-static is-bordered h-100" data-url="/program/119/details">
            <div class="p-0">
                <div class="item-bookmark"><i class="icon icon-bookmark"></i></div>
                <a  href="/program/56/details">
                    <div class="cover-container  card-img-top pt-0" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/d5623bc5-fafa-49f4-8f9c-763d1f12fe44/co1920x640.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                </a>
            </div>           
            <div class="item-row position-relative flex-column">
                <div class="item-content py-1">
                    <a href="/program/119/details" class="item-title h4 mb-none stretched-link"> ODP INJECT </a>
                    <ul class="list-inline list-dotted mb-none">                 
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/d5b965a6-9324-45d3-aac3-613e623d95d1/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/e3af9c9d-3c0f-4fbd-a728-ce925a201011/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <span class="icon icon-account"></span>
                                        </div>
                                    </div><a href="#"><small class="text-muted">50 Members</small></a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>                                   
                                    <a href="#"><small class="text-muted"> 25 projects</small> </a>                           
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-row flex-column mb-auto">
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="/program/46/manage/projects-submissions/647">
                            <span class="icon icon-project"></span>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">Application</a>
                            <p class="metas small ">
                            John Doe
                            </p>
                        </div>
                    </div>
                </div>    
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="#">
                            <div class="icon icon--letter is-sm"><span class="py-1 ">m</span></div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">My project</a>
                            <p class="metas small">
                                3 members
                        </div>
                    </div>
                </div>               
            </div>
            <div class="item-row mt-auto">
                <div class="badges">
                    <div class="badge is-pill is-mentor" >Expert</div><div class="badge is-pill is-manager" >Manager</div><div class="badge is-pill is-jury" >Jury</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="cursorLink item is-static is-bordered h-100" data-url="/program/146/details">
            <div class="p-0">
                <div class="item-bookmark"><i class="icon icon-bookmark"></i></div>
                <a  href="/program/56/details">
                    <div class="cover-container  card-img-top pt-0" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/bc84f5cc-c5be-45ac-a0f8-f2ad3b7efa91/co1800x1200.jpeg);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                </a>
            </div>             
            <div class="item-row position-relative">
                <div class="item-content py-1 flex-column">
                    <a href="/program/146/details" class="item-title h4 mb-none stretched-link"> Piscine 2023 (EN) </a>
                    <ul class="list-inline list-dotted mb-none">                 
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/d5b965a6-9324-45d3-aac3-613e623d95d1/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/e3af9c9d-3c0f-4fbd-a728-ce925a201011/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <span class="icon icon-account"></span>
                                        </div>
                                    </div><a href="#"><small class="text-muted">50 Members</small></a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>                                   
                                    <a href="#"><small class="text-muted"> 25 projects</small> </a>                           
                                </li>
                            </ul>
                        </li>
                    </ul>             
                </div>
            </div>
            <div class="item-row flex-column mb-auto">
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="/program/46/manage/projects-submissions/647">
                            <span class="icon icon-project"></span>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">Application</a>
                            <p class="metas small ">
                            John Doe
                            </p>
                        </div>
                    </div>
                </div>    
                <div class="item is-bordered w-100">
                    <div class="item-row">
                        <a class="thumbnail is-lg" href="#">
                            <div class="icon icon--letter is-sm"><span class="py-1 ">m</span></div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a class="item-title h5 mb-none stretched-link" href="#">My project</a>
                            <p class="metas small">
                                3 members
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-row mt-auto">
                <div class="badges">
                    <div class="badge is-pill is-mentor" >Expert</div><div class="badge is-pill is-manager" >Manager</div><div class="badge is-pill is-jury" >Jury</div>
                </div>
            </div>   
        </div>
    </div>
</div>
</div>