<div class="row">
    <div class="col-12 application-section">
        <div class="application-section">
            <h4 class="application-section--title
                            " data-toggle="collapse" data-target="#userApplications" aria-expanded="true">
                <span class="application-section--title-content">My projects (1)</span>
                <span class="icon icon-chevron-right ml-auto"></span>
            </h4>
            <div class="collapse show" id="userApplications">
                <div class="item is-bordered">
                    <div class="item-row">
                        <div class="thumbnail">
                            <div class="icon icon-project"></div>
                        </div>
                        <div class="item-content ml-4 py-1"><a href="/program/75/project/2232/details"
                               class="item-title h4 font-weight-normal mb-none stretched-link"> Espace John </a>
                            <ul class="item-caption metas small is-list">
                                <li>Created on 05/09/2022</li>
                                <li>By John Doe</li>
                            </ul>
                        </div>
                        <div class="item-options"><a class="btn btn-primary text-white"
                               href="/program/75/project/2232/details">See</a></div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="application-section--title">
            <span>Newsfeed</span>
        </h4>
        <div id="challenge-blogposts-container">
            <a class="message mb-5 startMessageButton" href="/program/75/manage/updates/new-update">
                <span class="thumbnail is-oval is-lg" data-toggle="tooltip" title=""
                      data-original-title="John Doe">
                    <div class="thumbnail is-oval">
                        <span class="icon icon-account"></span>
                    </div>
                </span>
                <div class="message-body">
                    <div class="message-list">
                        <div class="message-row">
                            <input type="text" class="form-control message-content bg-white cursorLink"
                                   readonly="readonly" placeholder="Start a new post...">
                        </div>
                    </div>
                </div>
            </a>
            <div class="blogPostsWall" data-url="/program/75/workspace/updates/wall?preview=3">
                <div class="card m-none p-5 wallLoader d-none">
                    <div class="pb-0 pt-3 pt-sm-5">
                        <div class="item is-wide is-static">
                            <h4 class="text-center w-100 mb-3">Loading...</h4>
                        </div>
                    </div>
                </div>
                <div class="cardsContainer">
                    <div class="card m-none p-5 blogPostCard">
                        <div class=" pb-0 pt-3 pt-sm-5">
                            <div class="item is-wide is-static">
                                <div class="item-row">
                                    <div class="item-row">
                                        <ul class="metas is-list small">
                                            <li>
                                                <span class="icon">😎 <a href="/program/75/details"
                                                       class="text-muted">La piscine 2022</a>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item-options dropdown">
                                        <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon icon-options"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="/program/75/manage/updates">Manage posts</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/program/75/manage/updates/229">Edit</a>
                                            <a class="dropdown-item is-danger deleteAction" href="#"
                                               data-url="/program/75/manage/updates/229/delete"
                                               data-confirm-modal="deleteBlogPostConfirmModal"> Delete </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-row">
                                    <a href="#" class=" userProfileModale userProfileModale-1782"
                                       data-url="/user/158c2ec5/profile-modal" data-toggle="modal"
                                       data-target="#loadingContentModal">
                                        <div class="thumbnail is-oval is-lg">
                                            <img src="https://inject-prod.s3.amazonaws.com/images/71446890-6864-4521-9548-8f5973075b3a/sq150.jpeg">
                                        </div>
                                    </a>
                                    <div class="item-content ml-3 py-1">
                                        <a href="#" class="item-title h4 mb-none userProfileModale userProfileModale-1782"
                                           data-url="/user/158c2ec5/profile-modal" data-toggle="modal"
                                           data-target="#loadingContentModal"> Pierre Forestier </a>
                                        <ul class="item-caption metas is-list text-muted small">
                                            <li>
                                                <a href="#"
                                                   class="text-decoration-none userProfileModale userProfileModale-1782"
                                                   data-url="/user/158c2ec5/profile-modal" data-toggle="modal"
                                                   data-target="#loadingContentModal"> Startup Manager, Schoolab </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                   class="text-decoration-none userProfileModale userProfileModale-1782"
                                                   data-url="/user/158c2ec5/profile-modal" data-toggle="modal"
                                                   data-target="#loadingContentModal"> 01/24/2022 11:16 </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-row">
                                    <div class="item-content">
                                        <p>Hello,&nbsp;</p>
                                        <p>Un petit message pour vous souhaiter la bienvenue parmi le programme d'incubation "La Piscine". Je serais ton interlocuteur privilégié pour ce programme, n'hésitez surtout pas à me solliciter sur slack ou par mail : pierre.forestier@theschoolab.com.&nbsp;</p>
                                        <p>Et pour rappel, ce programme va te permettre de te lancer rapidement, valide...</p>
                                        <p class="text-right">
                                            <small>
                                                <a class="text-muted" href="/program/75/updates/229">...see more</a>
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul class="metas is-list small">
                                <li class="likeCounter" data-ref="blogPost243"> 0 like </li>
                                <li>
                                    <i class="icon icon-comment mr-2"></i>
                                    <a class="text-muted" href="/program/75/updates/229#comments"> 4 comments </a>
                                </li>
                            </ul>
                            <div class="item-actions mt-3 pb-0">
                                <span class="btn btn-lg btn-block btn-default likeButton"
                                      data-url="/api/program/75/posts/229/like" data-ref="blogPost243">
                                    <i class="icon icon-thumb-up-outline"></i><span>Like</span>
                                </span>
                                <a class="btn btn-lg btn-block btn-default commentButton"
                                   href="/program/75/updates/229#comments">
                                    <i class="icon icon-comment-outline"></i><span>Comment</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagerContainer mt-5 d-none">
                    <button class="btn btn-lg btn-block btn-default pagerLoadMoreButton">Load more<span
                              class="icon icon-loading icon-spin ml-1 d-none buttonLoader"></span></button>
                </div>
            </div>
        </div>
        <a id="challenge-blogposts-page-btn" class="btn btn-lg btn-block btn-default mt-3 d-none"
           href="/program/75/updates">Show more</a>
    </div>
</div>