<div class="container py-8">
    <div class="row">
        <div class="col-12">
            <div>
    <div class="alert alert-primary d-flex align-items-left align-items-lg-center flex-column flex-lg-row">
    <div class="flex-fill mb-5 mb-lg-0 mr-0 mr-lg-5">
        <p class="m-none font-weight-bold">Title</p>
        <p>This is a primary alert—check it out!</p>
    </div>
    <div class=" flex-lg-shrink-1">
        <a class="btn btn-lg btn-block btn-white" href="#">If link</a>
    </div>
</div>
<div class="alert alert-success d-flex align-items-left align-items-lg-center flex-column flex-lg-row">
    <div class="flex-fill mb-5 mb-lg-0 mr-0 mr-lg-5">
        <p class="m-none font-weight-bold">Title</p>
        <p>This is a success alert—check it out!</p>
    </div>
    <div class=" flex-lg-shrink-1">
        <a class="btn btn-lg btn-block btn-white" href="#">If link</a>
    </div>
</div>
<div class="alert alert-danger d-flex align-items-left align-items-lg-center flex-column flex-lg-row">
    <div class="flex-fill mb-5 mb-lg-0 mr-0 mr-lg-5">
        <p class="m-none font-weight-bold">Title</p>
        <p>This is a danger alert—check it out!</p>
    </div>
    <div class=" flex-lg-shrink-1">
        <a class="btn btn-lg btn-block btn-white" href="#">If link</a>
    </div>
</div>
<div class="alert alert-warning d-flex align-items-left align-items-lg-center flex-column flex-lg-row">
    <div class="flex-fill mb-5 mb-lg-0 mr-0 mr-lg-5">
        <p class="m-none font-weight-bold">Title</p>
        <p>This is a warning alert—check it out!</p>
    </div>
    <div class=" flex-lg-shrink-1">
        <a class="btn btn-lg btn-block btn-white" href="#">If link</a>
    </div>
</div>
<div class="alert alert-info d-flex align-items-left align-items-lg-center flex-column flex-lg-row">
    <div class="flex-fill mb-5 mb-lg-0 mr-0 mr-lg-5">
        <p class="m-none font-weight-bold">Title</p>
        <p>This is a info alert—check it out!</p>
    </div>
    <div class=" flex-lg-shrink-1">
        <a class="btn btn-lg btn-block btn-white" href="#">If link</a>
    </div>
</div>
        </div>
    </div>
</div>








