<footer class="application-footer">
    <div class="container-fluid" style="max-width:760px;">
        <div class="d-flex justify-content-center">
            <ul class="metas is-list smaller justify-content-center">
                <li>
                    <span> © 2024 <a class="meta is-action" href="https://theschoolab.com" target="_blank" rel="nofollow noreferrer noopener">Schoolab</a>
                    </span>
                </li>
                <li>
                    <a class="meta is-action" href="/terms-and-conditions" target="_blank" rel="nofollow noreferrer noopener"> Terms of service </a>
                </li>
                <li>
                    <a class="meta is-action" href="/privacy-policy" target="_blank" rel="nofollow noreferrer noopener"> Privacy policy </a>
                </li>
                <li>
                    <a class="meta is-action" href="https://support.theschoolab.com" target="_blank" rel="nofollow noreferrer noopener"> Help center </a>
                </li>
                <li>
                    <div class="dropdown" id="changeLanguage"><span class="dropdown-toggle cursorLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">English</span>
                        <div class="dropdown-menu"><a class="dropdown-item" href="/program/147/participant/module/5210?_locale=en">English</a><a class="dropdown-item" href="/program/147/participant/module/5210?_locale=fr">French</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>