<aside class="application-aside is-small">    
    <div class="aside-content-container">
        <div class="aside-header">             
            <div class="mr-3">
                <div class="h3 mb-0">Chat</div>
                <ul class="list-inline list-dotted text-muted mb-0">
                    <li class="list-inline-item small">Active</li>                  
                </ul>
            </div>  
            <button class="close close-aside" type="button"  aria-label="Fermer">
                <span class="icon icon-close" aria-hidden="true"></span>
            </button>
        </div>
        <div class="aside-body">                        
            <div class="card mb-5 p-5" style="height: 400px;">
                <div class="overflow-hidden h-100 tab-pane fade show active" id="chat" role="tabpanel">
                    <div class="standaloneMainThreadContainer messages-module-container">
                        <div class="message-separator-label is-splited is-unread is-primary load-more-messages-standalone d-none" data-current="0" data-readonly="1" data-with-email="0" data-url="/load-messages/conversation/60" data-total="0">
                            <a href="#" data-toggle="tooltip" title="" data-original-title="">&nbsp;<i class="icon icon-arrow-up" data-class="icon icon-arrow-up"></i>&nbsp;Voir plus</a>
                        </div>
                        <div class="standaloneThreadContainer messages-module-content px-0 pb-0" data-current-user="2363">
                            <div class="threads-empty mt-5"> Pas de messages... </div>
                            <div class="justify-content-center align-items-center text-muted py-3 standaloneChatLoader d-none">
                                <div class="spinner-border spinner-border-sm mr-3 text-primary" role="status"><span class="sr-only">Chargement...</span></div>Chargement...
                            </div>
                            <div class="message-container standaloneChatContainer" data-current="0" data-url="">
                            </div>
                        </div>
                        <div class="standaloneThreadForm" data-mark-as-read-url="/mark-as-read/60">
                            <form name="message_light" method="post" action="/messages/conversation/60" data-disable-on-submit="1" class="message-composer is-sticky mt-auto">
                                <div class="message-composer-row">
                                    <input type="text" id="message_light_body" name="message_light[body]" required="required" placeholder="Saisissez votre message..." autocomplete="off" class="message-composer-input ml-3 form-control" row="1">
                                    <input type="hidden" id="message_light_sentAsAdmin" name="message_light[sentAsAdmin]" class="messageContext" value="0">
                                    <button class="btn btn-transparent btn-icon message-composer-action is-disabled"><span class="icon icon-send"></span></button>
                                </div>
                                <input type="hidden" id="message_light__token" name="message_light[_token]" value="xhr1_sKCgzwg1N7W1sORg99xV4z0i7RTp70Ss26tYFY">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside-footer">
            <div class="d-flex flex-fill justify-content-end">
                <button class="btn btn-default btn-flat close-aside">Close</button>             
            </div>
        </div>
    </div>
    <div class="aside-content-container d-none">
        <div class="aside-header"> 
            <div class="mr-3">
                <div class="h3 mb-0">Resources</div>
                <ul class="list-inline list-dotted text-muted mb-0">
                    <li class="list-inline-item small">3 resources</li>                  
                </ul>
            </div>     
            <button class="close close-aside" type="button"  aria-label="Fermer">
                <span class="icon icon-close" aria-hidden="true"></span>
            </button>
        </div>        
        <div class="aside-body">
            <div class="item is-bordered resource mb-3">
                <div class="item-row">
                    <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/load?browse=0" data-target="#resourceLoadingModal">
                        <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                        <div class="item-content ml-3">
                            <a class="item-title h5 mb-0 stretched-link" href="#">Lorem-ipsum_FR.pdf</a>
                            <ul class="item-caption metas small is-list">
                                <li>application/pdf</li>
                                <li><span class="icon icon-clock-outline">&nbsp;15/10/2021 11:07</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options">
                        <a class="btn btn-lg btn-transparent btn-icon" href="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/download">
                            <span class="icon icon-cloud-download"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item is-bordered resource mb-3">
                <div class="item-row">
                    <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/load?browse=0" data-target="#resourceLoadingModal">
                        <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                        <div class="item-content ml-3">
                            <a class="item-title h5 mb-0 stretched-link" href="#">Lorem-ipsum_FR.pdf</a>
                            <ul class="item-caption metas small is-list">
                                <li>application/pdf</li>
                                <li><span class="icon icon-clock-outline">&nbsp;15/10/2021 11:07</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options">
                        <a class="btn btn-lg btn-transparent btn-icon" href="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/download">
                            <span class="icon icon-cloud-download"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item is-bordered resource mb-3">
                <div class="item-row">
                    <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/load?browse=0" data-target="#resourceLoadingModal">
                        <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                        <div class="item-content ml-3">
                            <a class="item-title h5 mb-0 stretched-link" href="#">Lorem-ipsum_FR.pdf</a>
                            <ul class="item-caption metas small is-list">
                                <li>application/pdf</li>
                                <li><span class="icon icon-clock-outline">&nbsp;15/10/2021 11:07</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options">
                        <a class="btn btn-lg btn-transparent btn-icon" href="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/download">
                            <span class="icon icon-cloud-download"></span>
                        </a>
                    </div>
                </div>
            </div>   
        </div>
        <div class="aside-footer">
            <div class="d-flex flex-fill justify-content-end">
                <button class="btn btn-default btn-flat close-aside mr-3">Close</button>              
            </div>
        </div>
    </div>
</aside>