<div class="application-title">
    <div class="d-lg-none flex-grow-1">
        <div class="d-flex justify-content-between mb-3">
            <a class="btn btn-default mr-5" data-toggle="tooltip" data-original-title="Back" href="#"><span class="icon icon-arrow-left"></span></a>
            <div class="d-flex align-items-center">
                <small class="mr-3 text-muted">1&nbsp;on&nbsp;6</small>
                <a class="btn btn-default mr-3" data-toggle="tooltip" data-original-title="previous" href="#"><span class="icon icon-chevron-left"></span></a>
                <a class="btn btn-default" data-toggle="tooltip" data-original-title="Next" href="#"><span class="icon icon-chevron-right"></span></a>
            </div>
        </div>
        <div class="dropdown">
            <div class="h2 m-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="titleDropdown">Title Mobile</div>
            <p class="text-muted mb-0">Lorem ipsum</p>
            <div class="dropdown-menu" aria-labelledby="titleDropdown">
                <a class="dropdown-item" href="/program/53/manage/program/analytics">Engagement</a>
                <a class="dropdown-item" href="/program/53/manage/participations/analytics">Participants</a>
                <a class="dropdown-item" href="/program/53/manage/projects/analytics">Projets</a>
                <a class="dropdown-item" href="/program/53/manage/expert/analytics">Experts</a>
                <a class="dropdown-item" href="/program/53/manage/evaluations/jury/analytics">Evaluations</a>
                <a class="dropdown-item" href="/program/53/manage/library">Contenu</a>
                <a class="dropdown-item" href="/program/53/manage/managers">Paramètres</a>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block flex-grow-1">
        <div class="d-flex">
            <div class="flex-grow-1">
                <div class="d-flex">
                    <a class="btn btn-default mr-3" data-toggle="tooltip" data-original-title="Back" href="#"><span class="icon icon-arrow-left"></span></a>
                    <div class="h2 m-0">Title Desktop</div>
                </div>           
            </div>
            <div class="d-flex align-items-center">
                <small class="mr-3 text-muted">1&nbsp;on&nbsp;6</small>
                <a class="btn btn-default mr-3" data-toggle="tooltip" data-original-title="previous" href="#"><span class="icon icon-chevron-left"></span></a>
                <a class="btn btn-default" data-toggle="tooltip" data-original-title="Next" href="#"><span class="icon icon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <a class="btn btn-default"  href="/program/esg-awards?f=w">
        <div>If button</div>
    </a>
    <a class="btn btn-default" href="/program/esg-awards?f=w">
        <div> If button</div>
    </a>  
</div>