<div class="application-title border-bottom">
    <div class="d-lg-none flex-grow-1">
        <div class="d-flex justify-content-between mb-3">
            <a class="btn btn-default mr-5" data-toggle="tooltip" data-original-title="Back" href="#"><span class="icon icon-arrow-left"></span></a>
            
        </div>
        <div class="dropdown">
            <div class="h2 m-0">Session de coaching We Are Comète / Julien MULAC</div>
            <ul class="list-inline text-muted">
                <li class="list-inline-item"><span class="icon icon-clock-outline">Thursday 28 March 2024 de 20:27 à 20:57</span></li>
                <li class="list-inline-item"><span class="icon icon-map-marker">En ligne</span></li>
            </ul>
            <div class="dropdown-menu" aria-labelledby="titleDropdown">
                <a class="dropdown-item" href="/program/53/manage/program/analytics">Engagement</a>
                <a class="dropdown-item" href="/program/53/manage/participations/analytics">Participants</a>
                <a class="dropdown-item" href="/program/53/manage/projects/analytics">Projets</a>
                <a class="dropdown-item" href="/program/53/manage/expert/analytics">Experts</a>
                <a class="dropdown-item" href="/program/53/manage/evaluations/jury/analytics">Evaluations</a>
                <a class="dropdown-item" href="/program/53/manage/library">Contenu</a>
                <a class="dropdown-item" href="/program/53/manage/managers">Paramètres</a>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block flex-grow-1">
        <div class="d-flex">
            <div class="flex-grow-1">
                <div class="d-flex mb-3">
                    <a class="btn btn-default mr-3" data-toggle="tooltip" data-original-title="Back" href="#"><span class="icon icon-arrow-left"></span></a>
                    <div class="h2 m-0">Session de coaching We Are Comète / Julien MULAC</div>
                </div>
                <ul class="list-inline text-muted">
                    <li class="list-inline-item"><span class="icon icon-clock-outline">Thursday 28 March 2024 de 20:27 à 20:57</span></li>
                    <li class="list-inline-item"><span class="icon icon-map-marker">En ligne</span></li>
                </ul>
            </div>
            
        </div>
    </div>
    <a class="btn btn-default" href="/program/esg-awards?f=w">
        <span>Add to Calendar</span>
    </a>

</div>