<aside class="application-aside is-small">    
    <div class="aside-content-container">
        <div class="aside-header"> 
            <h4 class="aside-title line-clamp-1">
                <span class="text-truncate">Title</span>
            </h4>
            <div class="aside-actions">
                <!-- <a class="btn btn-transparent border-0 p-4px text-muted" data-toggle="tooltip" data-original-title="Open in new tab" href="#">
                    <span class="icon icon-arrow-top-right is-24px"></span>
                </a> -->
                <button class="btn btn-transparent border-0 p-4px text-muted" type="button" data-dismiss="modal" aria-label="Fermer">
                    <span class="icon icon-close is-24px" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="aside-body">
            <p>Content here</p>
        </div>
        <div class="aside-footer">
            <div class="d-flex gap-8px ml-auto">
                <a class="btn btn-lg btn-default" href="#">Cancel</a>
            </div>
        </div>
    </div>
</aside>