<div class="container py-64px">
    <span class="badge badge-role is-admin" data-toggle="tooltip" data-placement="bottom" data-original-title="Admin" data-boundary="window"></span>
    <span class="badge badge-role is-manager" data-toggle="tooltip" data-placement="bottom" data-original-title="Program Manager" data-boundary="window"></span>
    <span class="badge badge-role is-expert" data-toggle="tooltip" data-placement="bottom" data-original-title="Expert" data-boundary="window"></span>
    <span class="badge badge-role is-jury" data-toggle="tooltip" data-placement="bottom" data-original-title="Jury" data-boundary="window"></span>
    <span class="badge badge-role is-participant" data-toggle="tooltip" data-placement="bottom" data-original-title="Participant" data-boundary="window"></span>
    <span class="badge badge-role is-visitor" data-toggle="tooltip" data-placement="bottom" data-original-title="Visitor" data-boundary="window"></span>
</div>