<div class="container py-8">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-12">
            <div class="card h-100">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-prod.s3.amazonaws.com/challenge/cover/pink_co900x600.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>                     
                        <div class="card-external">
                            <div class="small">External: </div>
                            <div class="small font-weight-bold text-truncate mx-2">{{Organization name with a super long text}}</div>
                            <span class="small icon icon-arrow-top-right text-muted"></span>
                        </div>                                 
                    </div>
                    <div class="card-title">
                        <a href="/program/142/details" class="h3 mb-0 stretched-link line-clamp-1"> {{Program name  with a super super super super super super superlong text}}</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-end flex-nowrap gap-0">
                        <div class="d-flex align-items-center flex-wrap flex-lg-nowrap flex-shrink-1 gap-8px overflow-hidden">
                            <div class="d-flex gap-4px text-muted small">
                                <span class="icon icon-account-group is-xs"></span>
                                <span class="text-nowrap">100 members</span>
                            </div>
                            <div class="badges is-small flex-nowrap">
                                <a class="badge badge-pill badge-tag is-small" href="#">Student</a>
                                <a class="badge badge-pill badge-tag is-small" href="#">Startups</a>
                                <a class="badge badge-pill badge-tag is-small" href="#">Corporate</a>
                                <a class="badge badge-pill badge-tag is-small" href="#">Plastic</a>
                                <a class="badge badge-pill badge-tag is-small" href="#">Food</a>
                                <a class="badge badge-pill badge-tag is-small" href="#">DEI</a>
                                <span class="text-muted small text-nowrap">+2</span>
                            </div>
                        </div>
                        <div class="badge badge-pill badge-tag is-small is-open">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="6" cy="6" r="6" fill="currentColor"/>
                            </svg>
                            <span>Open</span>
                        </div>
                    </div>
                </div>
                <div class="card-targets">
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center">
                            <span class="icon icon-information is-sm"></span>
                            <span>Public page</span>
                        </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center">
                            <span class="icon icon--letter is-sm"><span>m</span></span>
                            <span>Open project overview</span>
                        </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center">
                            <span class="icon icon-account-supervisor-circle is-sm"></span>
                            <span>Open experts overview</span>
                        </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center">
                            <span class="icon icon-gavel is-sm"></span>
                            <span>Open jury overview</span>
                        </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center">
                            <span class="icon icon-cog is-sm"></span>
                            <span>Manage program</span>
                        </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center">
                            <span class="icon icon-cog is-sm"></span>
                            <span>Manage project</span>
                        </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">Join the program</span>
                        <span class="small">
                            Canditates 
                            <span class="font-weight-bold">
                                <span class="icon icon-account"></span> 48
                            </span>
                        </span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span>Join</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span>Learn more</span>
                        </a>                      
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">Support this project</span>
                        <span class="small">Followers <span class="font-weight-bold"><span class="icon icon-bookmark"></span> 200</span></span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span class="icon icon-bookmark-outline is-sm mr-2"></span>
                            <span>Follow</span>
                        </a>
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span>Learn more</span>
                        </a>                      
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">Support this project</span>
                        <span class="small">Followers <span class="font-weight-bold"><span class="icon icon-bookmark"></span> 200</span></span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span class="icon icon-bookmark is-sm mr-2"></span>
                            <span>Following</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#"> Learn more </a>                      
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">Join this project</span>
                        <span class="small">Canditates <span class="font-weight-bold"><span class="icon icon-account"></span> 48</span></span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span class="icon icon-plus-circle is-sm mr-2"></span>
                            <span>Join</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span class="icon icon-bookmark-outline is-sm mr-2"></span>
                            <span>Follow</span>
                        </a>                      
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span class="icon icon-star is-sm mr-2"></span>
                            <span>Evaluate</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span class="icon icon-bookmark-outline is-sm mr-2"></span>
                            <span>Follow</span>
                        </a>                      
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{vote_session.name}</span>
                        <span class="small">Upvotes <span class="font-weight-bold text-primary"><span class="icon icon-thumb-up"></span> 19</span></span>
                    </div>
                    <div class="card-actions">                     
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span class="icon icon-thumb-up is-sm mr-2"></span>
                            <span>Upvote</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span class="icon icon-bookmark-outline is-sm mr-2"></span>
                            <span>Follow</span>
                        </a>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2"># coaching sessions</span>
                        <span class="small">Total hours <span class="font-weight-bold"><span class="icon icon--clock"></span> 1h30</span></span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span class="icon icon-plus-circle is-sm mr-2"></span>
                            <span>Add session</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span>Follow</span>
                        </a>                     
                    </div>
                </div>
            </div>
        <div>
    </div>
</div>
   