<div class="container py-8 d-flex flex-column row-gap-32px">
    <div class="row justify-content-start row-gap-16px">
        
        <h3 class="col-12">Default</h3>
        
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-infos d-flex flex-column align-items-stretch gap-16px p-24px">
                    <div class="d-flex flex-grow-1 gap-12px">
                        <div class="thumbnail-relation m-auto">
                            <a href="#" class="thumbnail is-lg is-bordered">
                                <img src="img/placeholder-thumbnail-logo.png" width="150" height="150" class=" is-2xl is-bordered">
                            </a>
                        </div>                     
                        <div class="card-title flex-grow-1">
                            <a href="#" class="h4 mb-0 line-clamp-1 d-flex align-items-center gap-4px">
                                <span>Schoolab</span>
                                <span class="icon icon-domain text-muted" data-toggle="tooltip" data-placement="bottom" data-original-title="Organization" data-boundary="window"></span>
                            </a>
                            <ul class="text-muted small metas is-list mb-0">
                                <li>
                                    <span>March 11, 2023</span>
                                </li>
                                <li>
                                    <span>1:36 PM</span>
                                </li>
                            </ul>
                        </div> 
                        <div class="dropdown z-2">
                            <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon is-20px icon-dots-vertical"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">
                                    <span class="dropdown-item--label">Open program</span>
                                    <span class="dropdown-item--shortcut icon icon-arrow-top-right"></span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span>Edit</span>
                                </a>
                                <a class="dropdown-item is-danger" href="#">
                                    <span>Delete</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-16px">
                        <p class="h3">Bienvenue à Schoolab!</p>
                        <p>Nous sommes ravis de vous accueillir sur la plateforme dédiée au programme.</p>
                        <p>Nous espérons que vous y accomplirez beaucoup de grandes choses (nous en sommes certains) 💪</p>
                        <p>Si vous avez la moindre question, vous pouvez consulter le Help Center 😎</p>
                        <p>Ou nous poser des questions juste ici 🤩</p>
                        <p>Bonne aventure !</p>
                    </div>
                    <div class="gallery">
                        <div class="gallery-photo">
                            <img src="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co1140x380.jpeg" alt="">
                        </div>
                        <div class="gallery-photo">
                            <img src="https://inject-demo.s3.amazonaws.com/applications/covers/1036_co1140x380.jpg" alt="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between flex-nowrap">
                        <div class="d-flex gap-8px flex-fill">
                            <a href="#" class="btn btn-secondary">
                                <span class="icon icon-thumb-up"></span>
                                <span>Like</span>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <span class="icon icon-comment"></span>
                                <span>Comment</span>
                            </a>
                        </div>
                        <a href="#" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" data-original-title="Click to copy link" data-boundary="window">
                            <span class="icon icon-share-variant"></span>
                            <span>Copy link</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-infos d-flex flex-column align-items-stretch gap-16px p-24px">
                    <div class="text-navigation d-flex gap-4px">
                        <p class="text-muted">From program:</p>
                        <a href="#" class="text-muted font-weight-bold">CPI Concept</a>
                    </div>
                    <div class="d-flex flex-grow-1 gap-12px">
                        <div class="thumbnail-relation m-auto">
                            <a href="#" class="thumbnail is-oval is-lg is-bordered">
                                <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg" width="150" height="150" class=" is-2xl is-bordered rounded-circle">
                            </a>
                        </div>                     
                        <div class="card-title flex-grow-1">
                            <a href="#" class="h4 mb-0 line-clamp-1 d-flex align-items-center gap-4px">
                                <span>Pierre Lemeteil</span>
                                <span class="badge badge-role is-admin z-2" data-toggle="tooltip" data-placement="bottom" data-original-title="Admin" data-boundary="window"></span>
                            </a>
                            <ul class="text-muted small metas is-list mb-0">
                                <li>
                                    <span>May 13</span>
                                </li>
                                <li>
                                    <span>3:39 PM</span>
                                </li>
                            </ul>
                        </div> 
                        <div class="dropdown z-2">
                            <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon is-20px icon-dots-vertical"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">
                                    <span class="dropdown-item--label">Open profile</span>
                                    <span class="dropdown-item--shortcut icon icon-arrow-top-right"></span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="dropdown-item--label">Open program</span>
                                    <span class="dropdown-item--shortcut icon icon-arrow-top-right"></span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span>Edit</span>
                                </a>
                                <a class="dropdown-item is-danger" href="#">
                                    <span>Delete</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-16px">
                        <p>Dans la gestion de projet, on entend souvent parler de "chemin critique". Mais qu'est-ce que cela signifie réellement ? Comment est-il déterminé et pourquoi est-il si crucial pour la réussite d'un projet ? Pourriez-vous donner un exemple concret pour illustrer son importance ?</p>
                        
                        <a href="#">Read more -></a>
                    </div>
                    <div class="gallery">
                        <div class="gallery-photo embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6cheowg6Rmk?si=Zi-3gDOnCZoEyk9m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between flex-nowrap">
                        <div class="d-flex gap-8px flex-fill">
                            <a href="#" class="btn btn-secondary active">
                                <span class="icon icon-thumb-up"></span>
                                <span>9</span>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <span class="icon icon-comment"></span>
                                <span>4</span>
                            </a>
                        </div>
                        <a href="#" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" data-original-title="Click to copy link" data-boundary="window">
                            <span class="icon icon-share-variant"></span>
                            <span>Copy link</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-infos d-flex flex-column align-items-stretch gap-16px p-24px">
                    <div class="d-flex flex-grow-1 gap-12px">
                        <div class="thumbnail-relation m-auto">
                            <a href="#" class="thumbnail is-oval is-lg is-bordered">
                                <img src="https://inject-prod.s3.amazonaws.com/images/b95837ec-6dcf-4600-8567-dfb71f4e3c38/sq150.jpeg" width="150" height="150" class=" is-2xl is-bordered rounded-circle">
                            </a>
                        </div>                     
                        <div class="card-title flex-grow-1">
                            <a href="#" class="h4 mb-0 line-clamp-1 d-flex align-items-center gap-4px">
                                <span>Nora Hechelef</span>
                            </a>
                            <ul class="text-muted small metas is-list mb-0">
                                <li>
                                    <span>May 13</span>
                                </li>
                                <li>
                                    <span>3:39 PM</span>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown z-2">
                            <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon is-20px icon-dots-vertical"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">
                                    <span class="dropdown-item--label">Open profile</span>
                                    <span class="dropdown-item--shortcut icon icon-arrow-top-right"></span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="dropdown-item--label">Open program</span>
                                    <span class="dropdown-item--shortcut icon icon-arrow-top-right"></span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span>Edit</span>
                                </a>
                                <a class="dropdown-item is-danger" href="#">
                                    <span>Delete</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-16px">
                        <p>Dans la gestion de projet, on entend souvent parler de "chemin critique". Mais qu'est-ce que cela signifie réellement ? Comment est-il déterminé et pourquoi est-il si crucial pour la réussite d'un projet ? Pourriez-vous donner un exemple concret pour illustrer son importance ?</p>
                        
                        <a href="#">Read more -></a>
                    </div>
                    <div class="item is-bordered resource">
                        <div class="item-row p-12px">
                            <div class="item-row gap-8px">
                                <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                <div class="item-content">
                                    <a class="item-title h4 mb-0 stretched-link text-truncate" href="#" target="_blank">stakeholdermap-model.pdf</a>
                                    <ul class="item-caption metas small is-list">
                                        <li>
                                            <span>PDF File</span>
                                        </li>
                                        <li>
                                            <span>120 KB</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-options">
                                <a class="btn btn-lg btn-transparent btn-icon" href="https://schoolab.skedda.com/register?i=277598&amp;k=0tUkWBHX4UlHvcRlvn6Cx60VhMZD7EZl" target="_blank">
                                    <span class="icon icon-download is-24px"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between flex-nowrap">
                        <div class="d-flex gap-8px flex-fill">
                            <a href="#" class="btn btn-secondary active">
                                <span class="icon icon-thumb-up"></span>
                                <span>9</span>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <span class="icon icon-comment"></span>
                                <span>4</span>
                            </a>
                        </div>
                        <a href="#" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" data-original-title="Click to copy link" data-boundary="window">
                            <span class="icon icon-share-variant"></span>
                            <span>Copy link</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>