<div class="application-section">
    <div class="row card-row">
        <div class="col-12">
            <div class="d-flex flex-column flex-lg-row align-items-lg-start justify-content-lg-between ">
                <div class="d-flex flex-column flex-lg-row scroll-h mr-lg-8 mr-0">
                    <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                        <form name="mentored" method="post">
                            <button class="btn btn-lg btn-block btn-default text-nowrap customSwitch" data-switch="applicationsFilters_mentored" type="button" style="font-weight: 400;">Mentored projects</button>
                            <input type="checkbox" name="applicationsFilters[mentored]" id="applicationsFilters_mentored" value="1" class=" d-none">
                        </form>
                    </div>
                    <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                        <form name="isFollow" method="post">
                            <button class="btn btn-lg btn-block btn-default text-nowrap customSwitch" data-switch="applicationsFilters_isFollow" type="button" style="font-weight: 400;">Followed</button>
                            <input type="checkbox" name="applicationsFilters[isFollow]" id="applicationsFilters_isFollow" value="1" class=" d-none">
                        </form>
                    </div>
                </div>
                <div class="d-flex flex-column flex-lg-row">
                    <div class="mr-lg-3 mr-0 mb-5 mb-lg-0 searchContainer">
                        <form class="customSearch">
                            <input name="search" autocomplete="off" type="search" id="search" class="form-control" style="min-width:150px;width:100%;" aria-describedby="search" placeholder="Search..." value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image">
                            <picture>
                                <img src="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co1140x380.jpeg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="card-title d-flex align-items-center gap-2xs mb-none">
                        <a href="#" class="h3 mb-none stretched-link line-clamp-1">
                            Equality for all
                        </a>
                    </div>
                    <div class="d-flex justify-content-between align-items-end flex-nowrap gap-0">
                        <div class="d-flex align-items-center flex-wrap flex-lg-nowrap flex-shrink-1 gap-xs overflow-hidden">
                            <div class="d-flex gap-2xs text-muted small">
                                <span class="icon icon-account-multiple is-xs"></span>
                                <span class="text-nowrap">2 members</span>
                            </div>
                            <div class="badges flex-nowrap">
                                <div class="badge is-pill">2words tag</div>
                                <div class="badge is-pill">2words tag</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2"># coaching sessions</span>
                        <span class="small">Total hours <span class="font-weight-bold"><span class="icon icon--clock"></span> 1h30</span></span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span class="icon icon-plus-circle is-sm mr-2"></span>
                            <span>Add session</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span class="icon icon-bookmark-outline is-sm mr-2"></span>
                            <span>Follow</span>
                        </a>                     
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image">
                            <picture>
                                <img src="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co1140x380.jpeg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="card-title d-flex align-items-center gap-2xs mb-none">
                        <a href="#" class="h3 mb-none stretched-link line-clamp-1">
                            Wind turbine
                        </a>
                    </div>
                    <div class="d-flex justify-content-between align-items-end flex-nowrap gap-0">
                        <div class="d-flex align-items-center flex-wrap flex-lg-nowrap flex-shrink-1 gap-xs overflow-hidden">
                            <div class="d-flex gap-2xs text-muted small">
                                <span class="icon icon-account-multiple is-xs"></span>
                                <span class="text-nowrap">2 members</span>
                            </div>
                            <div class="badges flex-nowrap">
                                <div class="badge is-pill">2words tag</div>
                                <div class="badge is-pill">2words tag</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2"># coaching sessions</span>
                        <span class="small">Total hours <span class="font-weight-bold"><span class="icon icon--clock"></span> 1h30</span></span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span class="icon icon-plus-circle is-sm mr-2"></span>
                            <span>Add session</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span class="icon icon-bookmark-outline is-sm mr-2"></span>
                            <span>Follow</span>
                        </a>                     
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image">
                            <picture>
                                <img src="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co1140x380.jpeg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="card-title d-flex align-items-center gap-2xs mb-none">
                        <a href="#" class="h3 mb-none stretched-link line-clamp-1">
                            One world
                        </a>
                    </div>
                    <div class="d-flex justify-content-between align-items-end flex-nowrap gap-0">
                        <div class="d-flex align-items-center flex-wrap flex-lg-nowrap flex-shrink-1 gap-xs overflow-hidden">
                            <div class="d-flex gap-2xs text-muted small">
                                <span class="icon icon-account-multiple is-xs"></span>
                                <span class="text-nowrap">2 members</span>
                            </div>
                            <div class="badges flex-nowrap">
                                <div class="badge is-pill">2words tag</div>
                                <div class="badge is-pill">2words tag</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2"># coaching sessions</span>
                        <span class="small">Total hours <span class="font-weight-bold"><span class="icon icon--clock"></span> 1h30</span></span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span class="icon icon-plus-circle is-sm mr-2"></span>
                            <span>Add session</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span class="icon icon-bookmark-outline is-sm mr-2"></span>
                            <span>Follow</span>
                        </a>                     
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image">
                            <picture>
                                <img src="https://inject-demo.s3.amazonaws.com/images/36864d1d-f673-4bda-98f7-d76995c9cea1/co1140x380.jpeg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="card-title d-flex align-items-center gap-2xs mb-none">
                        <a href="#" class="h3 mb-none stretched-link line-clamp-1">
                            Orange book
                        </a>
                    </div>
                    <div class="d-flex justify-content-between align-items-end flex-nowrap gap-0">
                        <div class="d-flex align-items-center flex-wrap flex-lg-nowrap flex-shrink-1 gap-xs overflow-hidden">
                            <div class="d-flex gap-2xs text-muted small">
                                <span class="icon icon-account-multiple is-xs"></span>
                                <span class="text-nowrap">2 members</span>
                            </div>
                            <div class="badges flex-nowrap">
                                <div class="badge is-pill">2words tag</div>
                                <div class="badge is-pill">2words tag</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2"># coaching sessions</span>
                        <span class="small">Total hours <span class="font-weight-bold"><span class="icon icon--clock"></span> 1h30</span></span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#">
                            <span class="icon icon-plus-circle is-sm mr-2"></span>
                            <span>Add session</span>
                        </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#">
                            <span class="icon icon-bookmark-outline is-sm mr-2"></span>
                            <span>Follow</span>
                        </a>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>