<div class="items row card-row">
    <div class="col-12 col-lg-6">
        <div class="item is-bordered h-100">
            <div class="item-cover cursorLink" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/604/preview?f=gp">
                <picture>
                    <source media="(max-width:576px)" srcset="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co576x192.jpeg">
                    <source media="(max-width:768px)" srcset="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co768x256.jpeg">
                    <source media="(max-width:951px)" srcset="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co951x600.jpeg">
                    <source media="(max-width:1140px)" srcset="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co1140x380.jpeg">
                    <img class="img-fluid d-block" src="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co1140x380.jpeg" alt="" width="1140" height="380">
                </picture>
            </div>
            <div class="item-row position-relative flex-column">
                <a class="item-title h4 mb-0 stretched-link" href="#" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/604/preview?f=gp">Equality for all</a>
                <div class="mt-3">
                    <ul class="metas is-list">
                        <li>
                            <div class="thumbnail-stack mr-2">
                                <div class="thumbnail is-oval is-xs">
                                    <img src="https://inject-demo.s3.amazonaws.com/images/268a3d8e-cabc-4d2b-b524-9310d1aadf53/sq150.jpeg" width="150" height="150" class=" is-xs rounded-circle">
                                </div>
                            </div>
                            <small class="text-muted">1 member(s)</small>
                        </li>
                    </ul>
                </div>
                <div class="item-actions w-100 mt-5 pb-0">
                    <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Chat &amp; Video</a>
                    <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Project overview</a>
                </div>
            </div>
            <div class="item-row mt-2">
                <div id="sg-datatables-coaching_event_datatable_wrapper" class="w-100 dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col text-left">
                            <div id="sg-datatables-coaching_event_datatable_filter" class="dataTables_filter showable d-none" data-showable="searchButton"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="sg-datatables-coaching_event_datatable"></label></div>
                        </div>
                    </div>
                    <table id="sg-datatables-coaching_event_datatable" class="table dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="sg-datatables-coaching_event_datatable_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_desc" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 25px;" aria-sort="descending" aria-label="Date: activate to sort column ascending">Date</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 64px;" aria-label="Duration">Duration</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 100px;" aria-label="Note for PM">Note for PM</th>
                                <th class="sorting" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 72px;" aria-label="Team note: activate to sort column ascending">Team note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="sg-datatables-coaching_event_datatable_processing" class="dataTables_processing" style="display: none;">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="spinner-border spinner-border-sm mr-3 text-center" role="status"><span class="sr-only">Loading…</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-row mt-auto flex-column">
                <ul class="item-caption metas small is-list">
                    <li><span class="icon icon-clock-outline">&nbsp;1h30</span></li>
                    <li>2 sessions</li>
                </ul>
                <a class="btn btn-block btn-primary btn-lg btn-icon mt-3" href="/program/53/expert/coaching-session/create"><span class="icon icon-plus"></span><span>Add a coaching</span></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="item is-bordered h-100">
            <div class="item-cover cursorLink" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/612/preview?f=gp">
                <picture>
                    <source media="(max-width:576px)" srcset="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co576x192.jpeg">
                    <source media="(max-width:768px)" srcset="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co768x256.jpeg">
                    <source media="(max-width:951px)" srcset="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co951x600.jpeg">
                    <source media="(max-width:1140px)" srcset="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co1140x380.jpeg">
                    <img class="img-fluid d-block" src="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co1140x380.jpeg" alt="" width="1140" height="380">
                </picture>
            </div>
            <div class="item-row position-relative flex-column">
                <a class="item-title h4 mb-0 stretched-link" href="#" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/604/preview?f=gp">Wind turbine</a>
                <div class="pt-3">
                    <ul class="metas is-list">
                        <li>
                            <div class="thumbnail-stack mr-2">
                                <div class="thumbnail is-oval is-xs">
                                    <img src="https://inject-demo.s3.amazonaws.com/images/268a3d8e-cabc-4d2b-b524-9310d1aadf53/sq150.jpeg" width="150" height="150" class=" is-xs rounded-circle">
                                </div>
                            </div>
                            <small class="text-muted">1 member(s)</small>
                        </li>
                    </ul>
                </div>
                <div class="item-actions w-100 mt-5 pb-0">
                    <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Chat &amp; Video</a>
                    <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Project overview</a>
                </div>
            </div>
            <div class="item-row mt-2">
                <div id="sg-datatables-coaching_event_datatable_wrapper" class="w-100 dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col text-left">
                            <div id="sg-datatables-coaching_event_datatable_filter" class="dataTables_filter showable d-none" data-showable="searchButton"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="sg-datatables-coaching_event_datatable"></label></div>
                        </div>
                    </div>
                    <table id="sg-datatables-coaching_event_datatable" class="table dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="sg-datatables-coaching_event_datatable_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_desc" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 25px;" aria-sort="descending" aria-label="Date: activate to sort column ascending">Date</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 64px;" aria-label="Duration">Duration</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 100px;" aria-label="Note for PM">Note for PM</th>
                                <th class="sorting" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 72px;" aria-label="Team note: activate to sort column ascending">Team note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="sg-datatables-coaching_event_datatable_processing" class="dataTables_processing" style="display: none;">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="spinner-border spinner-border-sm mr-3 text-center" role="status"><span class="sr-only">Loading…</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-row mt-auto flex-column">
                <ul class="item-caption metas small is-list">
                    <li><span class="icon icon-clock-outline">&nbsp;1h30</span></li>
                    <li>2 sessions</li>
                </ul>
                <a class="btn btn-block btn-primary btn-lg btn-icon mt-3" href="/program/53/expert/coaching-session/create"><span class="icon icon-plus"></span><span>Add a coaching</span></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="item is-bordered h-100">
            <div class="item-cover cursorLink" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/604/preview?f=gp">
                <picture>
                    <source media="(max-width:576px)" srcset="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co576x192.jpeg">
                    <source media="(max-width:768px)" srcset="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co768x256.jpeg">
                    <source media="(max-width:951px)" srcset="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co951x600.jpeg">
                    <source media="(max-width:1140px)" srcset="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co1140x380.jpeg">
                    <img class="img-fluid d-block" src="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co1140x380.jpeg" alt="" width="1140" height="380">
                </picture>
            </div>
            <div class="item-row position-relative flex-column">
                <a class="item-title h4 mb-0 stretched-link" href="#" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/604/preview?f=gp">One world</a>
                <div class="mt-3">
                    <ul class="metas is-list">
                        <li>
                            <div class="thumbnail-stack mr-2">
                                <div class="thumbnail is-oval is-xs">
                                    <img src="https://inject-demo.s3.amazonaws.com/images/268a3d8e-cabc-4d2b-b524-9310d1aadf53/sq150.jpeg" width="150" height="150" class=" is-xs rounded-circle">
                                </div>
                            </div>
                            <small class="text-muted">1 member(s)</small>
                        </li>
                    </ul>
                </div>
                <div class="item-actions w-100 mt-5 pb-0">
                    <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Chat &amp; Video</a>
                    <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Project overview</a>
                </div>
            </div>
            <div class="item-row mt-2">
                <div id="sg-datatables-coaching_event_datatable_wrapper" class="w-100 dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col text-left">
                            <div id="sg-datatables-coaching_event_datatable_filter" class="dataTables_filter showable d-none" data-showable="searchButton"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="sg-datatables-coaching_event_datatable"></label></div>
                        </div>
                    </div>
                    <table id="sg-datatables-coaching_event_datatable" class="table dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="sg-datatables-coaching_event_datatable_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_desc" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 25px;" aria-sort="descending" aria-label="Date: activate to sort column ascending">Date</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 64px;" aria-label="Duration">Duration</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 100px;" aria-label="Note for PM">Note for PM</th>
                                <th class="sorting" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 72px;" aria-label="Team note: activate to sort column ascending">Team note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="sg-datatables-coaching_event_datatable_processing" class="dataTables_processing" style="display: none;">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="spinner-border spinner-border-sm mr-3 text-center" role="status"><span class="sr-only">Loading…</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-row mt-auto flex-column">
                <ul class="item-caption metas small is-list">
                    <li><span class="icon icon-clock-outline">&nbsp;1h30</span></li>
                    <li>2 sessions</li>
                </ul>
                <a class="btn btn-block btn-primary btn-lg btn-icon mt-3" href="/program/53/expert/coaching-session/create"><span class="icon icon-plus"></span><span>Add a coaching</span></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="item is-bordered h-100">
            <div class="item-cover cursorLink" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/604/preview?f=gp">
                <picture>
                    <source media="(max-width:576px)" srcset="https://inject-demo.s3.amazonaws.com/images/36864d1d-f673-4bda-98f7-d76995c9cea1/co576x192.jpeg">
                    <source media="(max-width:768px)" srcset="https://inject-demo.s3.amazonaws.com/images/36864d1d-f673-4bda-98f7-d76995c9cea1/co768x256.jpeg">
                    <source media="(max-width:951px)" srcset="https://inject-demo.s3.amazonaws.com/images/36864d1d-f673-4bda-98f7-d76995c9cea1/co951x600.jpeg">
                    <source media="(max-width:1140px)" srcset="https://inject-demo.s3.amazonaws.com/images/36864d1d-f673-4bda-98f7-d76995c9cea1/co1140x380.jpeg">
                    <img class="img-fluid d-block" src="https://inject-demo.s3.amazonaws.com/images/36864d1d-f673-4bda-98f7-d76995c9cea1/co1140x380.jpeg" alt="" width="1140" height="380">
                </picture>
            </div>
            <div class="item-row position-relative flex-column">
                <a class="item-title h4 mb-0 stretched-link" href="#" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/604/preview?f=gp">Orange book</a>
                <div class="mt-3">
                    <ul class="metas is-list">
                        <li>
                            <div class="thumbnail-stack mr-2">
                                <div class="thumbnail is-oval is-xs">
                                    <img src="https://inject-demo.s3.amazonaws.com/images/268a3d8e-cabc-4d2b-b524-9310d1aadf53/sq150.jpeg" width="150" height="150" class=" is-xs rounded-circle">
                                </div>
                            </div>
                            <small class="text-muted">1 member(s)</small>
                        </li>
                    </ul>
                </div>
                <div class="item-actions w-100 mt-5 pb-0">
                    <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Chat &amp; Video</a>
                    <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Project overview</a>
                </div>
            </div>
            <div class="item-row mt-2">
                <div id="sg-datatables-coaching_event_datatable_wrapper" class="w-100 dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col text-left">
                            <div id="sg-datatables-coaching_event_datatable_filter" class="dataTables_filter showable d-none" data-showable="searchButton"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="sg-datatables-coaching_event_datatable"></label></div>
                        </div>
                    </div>
                    <table id="sg-datatables-coaching_event_datatable" class="table dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="sg-datatables-coaching_event_datatable_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_desc" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 25px;" aria-sort="descending" aria-label="Date: activate to sort column ascending">Date</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 64px;" aria-label="Duration">Duration</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 100px;" aria-label="Note for PM">Note for PM</th>
                                <th class="sorting" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 72px;" aria-label="Team note: activate to sort column ascending">Team note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="sorting_1" tabindex="0">
                                    <div class="thumbnail is-session" title="30/11/2023">
                                        <span class="date">30 NOV</span>
                                        <span class="hour">18h30</span>
                                    </div>
                                </td>
                                <td>30 min</td>
                                <td>
                                    <div class="text-muted" data-toggle="tooltip" data-placement="top" title="Notes pour les Programmes Managers">
                                        <a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a>
                                    </div>
                                </td>
                                <td><a class="btn btn-default btn-sm py-3 px-4" href="/program/53/coaching-session/32/edit/posts"><span class="icon icon-note-text-outline text-muted"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="sg-datatables-coaching_event_datatable_processing" class="dataTables_processing" style="display: none;">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="spinner-border spinner-border-sm mr-3 text-center" role="status"><span class="sr-only">Loading…</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-row mt-auto flex-column">
                <ul class="item-caption metas small is-list">
                    <li><span class="icon icon-clock-outline">&nbsp;1h30</span></li>
                    <li>2 sessions</li>
                </ul>
                <a class="btn btn-block btn-primary btn-lg btn-icon mt-3" href="/program/53/expert/coaching-session/create"><span class="icon icon-plus"></span><span>Add a coaching</span></a>
            </div>
        </div>
    </div>
</div>