<div class="row">
    <div class="col-12 col-lg-6 col-xl-8 application-section">
        <div class="card">
            <div class="p-5">
                <div class="mb-5">
                    <div class="embed-responsive mb-3 embed-responsive-16by9">
                        <iframe class="mediaIframe" src="https://www.youtube.com/embed/__dLEqC_Eqs" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" allow="fullscreen;autoplay"></iframe>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <span class="text-date">Mar Thu 30, 2023 at 09:30</span>
                    <h2 class="d-flex mb-2">Session de coaching We Are Comète / Julien MULAC</h2>
                    <ul class="list-inline text-muted">
                        <li class="list-inline-item">
                            <span class="icon icon-clock-outline"></span>
                            <span>March 30 Thursday, 2023 from 09:30 to 17:00</span>
                        </li>
                        <li class="list-inline-item">
                            <span class="icon icon-map-marker"></span>
                            <span>Offline</span>
                        </li>
                    </ul>
                </div>
                <div class="alert alert-info d-flex align-items-left align-items-lg-center flex-column flex-lg-row">
                    <div class="flex-fill mb-5 mb-lg-0 mr-0 mr-lg-5">
                        <p class="m-0 font-weight-bold">You can manage this event</p>
                        <p>As a Program Manager of this program you have access to the event manager.</p>
                    </div>
                    <div class="flex-lg-shrink-1">
                        <a class="btn btn-lg btn-block btn-white" href="/event/417/manage">Manage</a>
                    </div>
                </div>
                <div class="mt-7">
                    <a class="btn btn-default btn-lg btn-block" href="#challengeEventAddToCalendar" data-toggle="modal">Add to calendar</a>
                </div>
                <div class="mt-7">
                    <h4>Détails</h4>
                    <div class="ck-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et est malesuada, vulputate nunc ut, consequat lacus. Maecenas risus nulla, imperdiet sed dictum nec, luctus eget ante. Donec rhoncus vel est vel tempor. Fusce mattis erat quis condimentum aliquam. In tempor, libero nec ornare convallis, metus tellus lobortis dui, vel luctus quam justo eget metus. In porta lobortis nisi. Vivamus sit amet massa rhoncus, congue ipsum ut, hendrerit justo. Donec sit amet congue sem. Suspendisse vel nisl interdum, iaculis nulla in, lacinia purus.</p>
                    </div>
                </div>
                <div class="mt-7">
                    <h4><span> Location: venue address </span></h4>
                    <p>This event takes place offline. Here is the information to attend to the event.</p>
                    <div class="list-group list-group-flush list-group-metas">
                        <div class="list-group-item">
                            <span class="list-group-item--icon icon icon-at"></span>
                            <div class="list-group-item--content">
                                <span>www.google.fr</span>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <span class="list-group-item--icon icon icon-form-textbox-password"></span>
                            <div class="list-group-item--content">
                                <span>Mot de passe: azerty</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eventActionsContainer">
                    <a class="btn btn-lg btn-block btn-primary mt-5 eventAction" data-url="/api/event/417/attendees/register">Register to access the event</a>
                </div>
                <div class="mt-5">
                    <h4>Attendance sheet responsibles</h4>
                    <div class="item is-bordered">
                        <div class="item-row">
                            <div class="item-row">
                                <a href="#" class="userProfileModale userProfileModale-301" data-url="/user/600a4bc4/profile-modal" data-toggle="modal" data-target="#loadingContentModal">
                                    <div class="thumbnail-relation">
                                        <div class="thumbnail is-oval " title="" data-toggle="tooltip" data-original-title="Tradeshow">
                                            <img src="https://inject-prod.s3.amazonaws.com/images/674bedeb-2b63-4956-a012-08ab39477915/sq150.jpeg" width="150" height="150" class=" rounded-circle">
                                        </div>
                                        <span class="flag-icon flag-icon-fr"></span>
                                    </div>
                                </a>
                                <div class="item-content ml-4 py-1">
                                    <a href="#" class="item-title h4 font-weight-normal mb-0 userProfileModale userProfileModale-301" data-url="/user/600a4bc4/profile-modal" data-toggle="modal" data-target="#loadingContentModal"> Guillaume Larieu <ul class="metas is-list ">
                                            <li> Head of Students programs Schoolab </li>
                                            <li> FR </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                            <div class="item-options dropdown">
                                <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-dots-vertical"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/user/u/600a4bc4">Show profile</a><a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="600a4bc4" href="#">Send a message</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item is-bordered">
                        <div class="item-row">
                            <div class="item-row">
                                <a href="#" class="userProfileModale userProfileModale-673" data-url="/user/ae5b9801/profile-modal" data-toggle="modal" data-target="#loadingContentModal">
                                    <div class="thumbnail-relation">
                                        <div class="thumbnail is-oval " title="" data-toggle="tooltip" data-original-title="Tradeshow">
                                            <img src="https://inject-prod.s3.amazonaws.com/images/f02c3ef7-941c-4420-b515-c7a752313d4a/sq150.jpeg" width="150" height="150" class=" rounded-circle">
                                        </div>
                                        <span class="flag-icon flag-icon-fr"></span>
                                    </div>
                                </a>
                                <div class="item-content ml-4 py-1">
                                    <a href="#" class="item-title h4 font-weight-normal mb-0 userProfileModale userProfileModale-673" data-url="/user/ae5b9801/profile-modal" data-toggle="modal" data-target="#loadingContentModal"> Louis Boutet <ul class="metas is-list ">
                                            <li> Program Manager Schoolab </li>
                                            <li> Paris, FR </li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                            <div class="item-options dropdown">
                                <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-dots-vertical"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/user/u/ae5b9801">Show profile</a><a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="ae5b9801" href="#">Send a message</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 application-section">
        <div class="application-section">
            <h4 class="application-section--title">Event chat</h4>
            <div class="card mb-5 p-5" style="height: 400px;">
                <div class="overflow-hidden h-100 tab-pane fade show active" id="chat" role="tabpanel">
                    <div class="standaloneMainThreadContainer messages-module-container">
                        <div class="message-separator-label is-splited is-unread is-primary load-more-messages-standalone d-none" data-current="0" data-readonly="1" data-with-email="0" data-url="/load-messages/conversation/60" data-total="0">
                            <a href="#" data-toggle="tooltip" title="" data-original-title="">&nbsp;<i class="icon icon-arrow-up" data-class="icon icon-arrow-up"></i>&nbsp;Voir plus</a>
                        </div>
                        <div class="standaloneThreadContainer messages-module-content px-0 pb-0" data-current-user="2363">
                            <div class="threads-empty mt-5"> Pas de messages... </div>
                            <div class="justify-content-center align-items-center text-muted py-3 standaloneChatLoader d-none">
                                <div class="spinner-border spinner-border-sm mr-3 text-primary" role="status"><span class="sr-only">Chargement...</span></div>Chargement...
                            </div>
                            <div class="message-container standaloneChatContainer" data-current="0" data-url="">
                            </div>
                        </div>
                        <div class="standaloneThreadForm" data-mark-as-read-url="/mark-as-read/60">
                            <form name="message_light" method="post" action="/messages/conversation/60" data-disable-on-submit="1" class="message-composer is-sticky mt-auto">
                                <div class="message-composer-row">
                                    <input type="text" id="message_light_body" name="message_light[body]" required="required" placeholder="Saisissez votre message..." autocomplete="off" class="message-composer-input ml-3 form-control" row="1">
                                    <input type="hidden" id="message_light_sentAsAdmin" name="message_light[sentAsAdmin]" class="messageContext" value="0">
                                    <button class="btn btn-transparent btn-icon message-composer-action is-disabled"><span class="icon icon-send"></span></button>
                                </div>
                                <input type="hidden" id="message_light__token" name="message_light[_token]" value="xhr1_sKCgzwg1N7W1sORg99xV4z0i7RTp70Ss26tYFY">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="application-section--title"> Ressources </h4>
            <div class="item is-bordered resource mb-3">
                <div class="item-row">
                    <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/load?browse=0" data-target="#resourceLoadingModal">
                        <div class="item-icon icon icon-pdf-box text-danger"></div>
                        <div class="item-content ml-3">
                            <a class="item-title h5 mb-0 stretched-link" href="#">Lorem-ipsum_FR.pdf</a>
                            <ul class="item-caption metas small is-list">
                                <li>application/pdf</li>
                                <li><span class="icon icon-clock-outline">&nbsp;15/10/2021 11:07</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options">
                        <a class="btn btn-sm btn-transparent btn-icon" href="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/download">
                            <span class="icon icon-download"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item is-bordered resource mb-3">
                <div class="item-row">
                    <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/load?browse=0" data-target="#resourceLoadingModal">
                        <div class="item-icon icon icon-pdf-box text-danger"></div>
                        <div class="item-content ml-3">
                            <a class="item-title h5 mb-0 stretched-link" href="#">Lorem-ipsum_FR.pdf</a>
                            <ul class="item-caption metas small is-list">
                                <li>application/pdf</li>
                                <li><span class="icon icon-clock-outline">&nbsp;15/10/2021 11:07</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options">
                        <a class="btn btn-sm btn-transparent btn-icon" href="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/download">
                            <span class="icon icon-download"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item is-bordered resource mb-3">
                <div class="item-row">
                    <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/load?browse=0" data-target="#resourceLoadingModal">
                        <div class="item-icon icon icon-pdf-box text-danger"></div>
                        <div class="item-content ml-3">
                            <a class="item-title h5 mb-0 stretched-link" href="#">Lorem-ipsum_FR.pdf</a>
                            <ul class="item-caption metas small is-list">
                                <li>application/pdf</li>
                                <li><span class="icon icon-clock-outline">&nbsp;15/10/2021 11:07</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options">
                        <a class="btn btn-sm btn-transparent btn-icon" href="/resource/880f7e98-a5fe-4c9e-a7e1-765afd718d6d/download">
                            <span class="icon icon-download"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>