<section class="section">
    <div class="container-xl">
       <div class="row">
            <div class="col-12">
                <div class="application-section">
                    <div class="d-flex align-items-between">
                        <small class="text-uppercase text-muted mb-3 flex-fill">Schoolab</small>
                        <span class="icon icon-clock-outline small text-muted mb-sm-0 mb-3">&nbsp;Registration closed</span>
                    </div>
                    
                    
                    <div class="row mb-5 mb-lg-7">
                        <div class="col-12 col-lg-4 mb-5 mb-lg-0 ">
                            
                            <div class="cover-container rounded position-relative" style="background-image:url(&quot;img/hero.png&quot;);background-repeat:no-repeat; background-position:center; background-size:cover;">
                                <div class="item-external"><div class="small text-uppercase text-muted">external</div></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center">
                            <div >
                                <div class="h2 mb-none">Program 1</div>
                                <ul class="list-inline list-dotted text-muted mb-3">
                                    <li class="list-inline-item small">Ongoing</li>
                                    <li class="list-inline-item small">25 members</li>
                                    <li class="list-inline-item small">25 projects</li>
                                </ul>
                                <p>This challenge has its own website. Click on the button to learn more!</p>
                                <a class="flex-fill btn-default btn mb-5 mb-md-0" href="#">
                                    <span> <span class="icon icon-open-in-new mr-3"></span>Wiew the website</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                            <h3>About the program</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin, eros scelerisque scelerisque pellentesque, nulla nisl dignissim est, at elem entum felis diam eget massa.</p>
                          
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-5 d-flex flex-column">
                                <span class="mb-lg-5x"> <span class="icon icon-leaf mr-3"></span> Sustainability / Equitable</span>
                                <span class="mb-lg-5"> <span class="icon icon-bullseye mr-3"></span> Food/DEI/Plastic</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
       </div>
    </div>
</section>