<div class="form-group">
    <label class="required" for="exemple">Summary</label>
    <small id="exemple_help" class="form-text text-muted">
        This is visible to participants on <a href="#">courses list</a>.
    </small>
    <textarea 
        type="text"
        id="exemple"
        required="required"
        data-hint="name"
        aria-describedby="exemple_help"
        class="form-control field-sizing"
        placeholder="Your response here..."
        rows="8"
    >
Bienvenue !

Dans cette toute première vidéo, nous abordons les bases de la méthodologie du Design Thinking : d'où vient-il, à quoi sert-il ?

Petit récapitulatif des 3 pilliers du Design Thinking :
- Désirabilité : Quel est de problème de mon utilisateur et est-ce que ma solution y répond ?
- Viabilité : Est-il prêt à payer pour cette solution ?
- Faisabilité : Mon équipe a-t-elle les moyens techniques de la développer ?

Et enfin, les 5 grandes étapes de cette méthodologie :
- Observation : Prendre une posture empathique.
- Définition : Priorisation des problèmes de notre utilisateur.
- Idéation : Générer des idées de solutions.
- Prototypage : Concrétiser sa solution avec peu de moyens.
- Lancement : Définir une roadmap pour lancer son projet.

Le Design Thinking est une méthode Itérative ! Revenir en arrière pour ajuster le projet n'est pas un problème, c'est même bien souvent nécessaire.

Bon courage pour vos projets !</textarea>
    <div class="invalid-feedback">
        Please enter a message in the textarea.
    </div>
</div>