<div class="row">
    <div class="col-12">
        <div class="application-section">
            <h3 class="application-section--title">About this jury session</h3>
            <p>During the idea evaluation session, use the platform to find key information and rate each project.</p>
            <p>The projects are evaluated according to 6 weighted criteria, and an overall average is automatically calculated for each project to determine the winners. Feel free to use the "feedback" field to give your feedback to the project team members when the results are published.<br> Thank you very much for helping us to choose the best projects.</p>
            <p>Have a good evaluation session!</p>
        </div>
    </div>
</div>
<div class="application-section">
    <div class="d-flex d-lg-inline-flex flex-column flex-lg-row mb-5">
        <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
            <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="search" placeholder="Search ...">
        </div>
        <div class="mb-lg-0">
            <select class="custom-select">
                <option selected>Sort by average note</option>
                <option value="1">ascending average note</option>
                <option value="2">descending average note</option>
            </select>
        </div>
    </div>
    <div class="row card-row">
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co1140x380.jpeg);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                    </div>
                    <div class="card-title">
                        <a href="/program/142/details" class="h3 mb-0 stretched-link line-clamp-1">Equality for all</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="mr-3 mb-3">
                                <span class="text-muted small text-nowrap"><span class="icon icon-account-group is-xs"></span> 2 members</span>
                            </div>
                            <div class="badges is-small mr-3">
                                <div class="badge badge-pill badge-tag is-small">2words tag</div>
                                <a class="badge badge-pill badge-tag is-small" href="#">2words tag</a>
                            </div>
                            <div class="mr-3 mb-3">
                                <span class="text-muted small text-nowrap"> +2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small text-nowrap">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"><span class="icon icon-star is-sm mr-2"></span> Evaluate </a>
                        <a class="btn btn-lg btn-default btn-block" href="#"> <span class="icon icon-bookmark-outline is-sm mr-2"></span> Follow </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co1140x380.jpeg);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                    </div>
                    <div class="card-title">
                        <a href="/program/142/details" class="h3 mb-0 stretched-link line-clamp-1">Wind turbine</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="mr-3 mb-3">
                                <span class="text-muted small text-nowrap"><span class="icon icon-account-group is-xs"></span> 2 members</span>
                            </div>
                            <div class="badges is-small mr-3">
                                <div class="badge badge-pill badge-tag is-small">2words tag</div>
                                <a class="badge badge-pill badge-tag is-small" href="#">2words tag</a>
                            </div>
                            <div class="mr-3 mb-3">
                                <span class="text-muted small text-nowrap"> +2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small text-nowrap">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"><span class="icon icon-star is-sm mr-2"></span> Evaluate </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#"> <span class="icon icon-bookmark-outline is-sm mr-2"></span> Follow </a>                      
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co1140x380.jpeg);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                    </div>
                    <div class="card-title">
                        <a href="/program/142/details" class="h3 mb-0 stretched-link line-clamp-1">One world</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="mr-3 mb-3">
                                <span class="text-muted small text-nowrap"><span class="icon icon-account-group is-xs"></span> 2 members</span>
                            </div>
                            <div class="badges is-small mr-3">
                                <div class="badge badge-pill badge-tag is-small">2words tag</div>
                                <a class="badge badge-pill badge-tag is-small" href="#">2words tag</a>
                            </div>
                            <div class="mr-3 mb-3">
                                <span class="text-muted small text-nowrap"> +2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small text-nowrap">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"><span class="icon icon-star is-sm mr-2"></span> Evaluate </a>
                        <a class="btn btn-lg btn-default btn-block" href="#"> <span class="icon icon-bookmark-outline is-sm mr-2"></span> Follow </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-demo.s3.amazonaws.com/images/36864d1d-f673-4bda-98f7-d76995c9cea1/co1140x380.jpeg);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                    </div>
                    <div class="card-title">
                        <a href="/program/142/details" class="h3 mb-0 stretched-link line-clamp-1">Orange book</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="mr-3 mb-3">
                                <span class="text-muted small text-nowrap"><span class="icon icon-account-group is-xs"></span> 2 members</span>
                            </div>
                            <div class="badges is-small mr-3">
                                <div class="badge badge-pill badge-tag is-small">2words tag</div>
                                <a class="badge badge-pill badge-tag is-small" href="#">2words tag</a>
                            </div>
                            <div class="mr-3 mb-3">
                                <span class="text-muted small text-nowrap"> +2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small text-nowrap">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"><span class="icon icon-star is-sm mr-2"></span> Evaluate </a>
                        <a class="btn btn-lg btn-default btn-block" href="#"> <span class="icon icon-bookmark-outline is-sm mr-2"></span> Follow </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>