<div class="row">
    <div class="col-12">
        <div class="application-section">
            <h3 class="application-section--title">About this jury session</h3>
            
            <p>During the idea evaluation session, use the platform to find key information and rate each project.</p>
            <p>The projects are evaluated according to 6 weighted criteria, and an overall average is automatically calculated for each project to determine the winners. Feel free to use the "feedback" field to give your feedback to the project team members when the results are published.<br>
            Thank you very much for helping us to choose the best projects.</p>
            <p>Have a good evaluation session!</p>
            
        </div>
       
    </div>
</div>
<div class="application-section">
    <div class="d-flex d-lg-inline-flex flex-column flex-lg-row mb-5">
        <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
            <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="search" placeholder="Search ...">
        </div>
        <div class="mb-lg-0">
            <select class="custom-select">
                <option selected>Sort by average note</option>
                <option value="1">ascending average note</option>
                <option value="2">descending average note</option>               
            </select>
        </div>
    </div>
    <div class="row card-row">     
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked d-flex flex-column gap-md pt-32px">                    
                    <div class="thumbnail-relation m-auto">
                        <div class="thumbnail is-oval is-2xl is-bordered">
                            <img src="https://inject-prod.s3.amazonaws.com/images/3155b942-7535-4b0b-8ded-97eb42a92e1b/sq150.jpeg">
                        </div>
                    </div>                     
                    <div class="card-title text-center mb-md">
                        <a href="#" class="h3 mb-none stretched-link line-clamp-1">Emma Salvarelli</a>
                        <p class="text-muted small mb-none">Paris, FR</p>
                        <div class="badges mt-16px">
                            <a class="badge is-pill">Data</a>
                            <a class="badge is-pill" href="#">Digital marketing</a>
                        </div>
                    </div>
                    <div class="dropdown z-2 position-absolute" style="top:.75rem;right:.75rem">
                        <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon is-20px icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Show profile</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small text-nowrap">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"><span class="icon icon-star is-sm mr-2"></span> Evaluate </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#"> Participations </a>                      
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked d-flex flex-column gap-md pt-32px">                    
                    <div class="thumbnail-relation m-auto">
                        <div class="thumbnail is-oval is-2xl is-bordered">
                            <img src="https://inject-prod.s3.amazonaws.com/images/3155b942-7535-4b0b-8ded-97eb42a92e1b/sq150.jpeg">
                        </div>
                    </div>                     
                    <div class="card-title text-center mb-md">
                        <a href="#" class="h3 mb-none stretched-link line-clamp-1">Emma Salvarelli</a>
                        <p class="text-muted small mb-none">Paris, FR</p>
                        <div class="badges mt-16px">
                            <a class="badge is-pill">Data</a>
                            <a class="badge is-pill" href="#">Digital marketing</a>
                        </div>
                    </div>
                    <div class="dropdown z-2 position-absolute" style="top:.75rem;right:.75rem">
                        <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon is-20px icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Show profile</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small text-nowrap">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"><span class="icon icon-star is-sm mr-2"></span> Evaluate </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#"> Participations </a>                      
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked d-flex flex-column gap-md pt-32px">                    
                    <div class="thumbnail-relation m-auto">
                        <div class="thumbnail is-oval is-2xl is-bordered">
                            <img src="https://inject-prod.s3.amazonaws.com/images/3155b942-7535-4b0b-8ded-97eb42a92e1b/sq150.jpeg">
                        </div>
                    </div>                     
                    <div class="card-title text-center mb-md">
                        <a href="#" class="h3 mb-none stretched-link line-clamp-1">Emma Salvarelli</a>
                        <p class="text-muted small mb-none">Paris, FR</p>
                        <div class="badges mt-16px">
                            <a class="badge is-pill">Data</a>
                            <a class="badge is-pill" href="#">Digital marketing</a>
                        </div>
                    </div>
                    <div class="dropdown z-2 position-absolute" style="top:.75rem;right:.75rem">
                        <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon is-20px icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Show profile</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small text-nowrap">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"><span class="icon icon-star is-sm mr-2"></span> Evaluate </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#"> Participations </a>                      
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked d-flex flex-column gap-md pt-32px">                    
                    <div class="thumbnail-relation m-auto">
                        <div class="thumbnail is-oval is-2xl is-bordered">
                            <img src="https://inject-prod.s3.amazonaws.com/images/3155b942-7535-4b0b-8ded-97eb42a92e1b/sq150.jpeg">
                        </div>
                    </div>                     
                    <div class="card-title text-center mb-md">
                        <a href="#" class="h3 mb-none stretched-link line-clamp-1">Emma Salvarelli</a>
                        <p class="text-muted small mb-none">Paris, FR</p>
                        <div class="badges mt-16px">
                            <a class="badge is-pill">Data</a>
                            <a class="badge is-pill" href="#">Digital marketing</a>
                        </div>
                    </div>
                    <div class="dropdown z-2 position-absolute" style="top:.75rem;right:.75rem">
                        <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon is-20px icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Show profile</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small text-nowrap">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"><span class="icon icon-star is-sm mr-2"></span> Evaluate </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#"> Participations </a>                      
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked d-flex flex-column gap-md pt-32px">                    
                    <div class="thumbnail-relation m-auto">
                        <div class="thumbnail is-oval is-2xl is-bordered">
                            <img src="https://inject-prod.s3.amazonaws.com/images/3155b942-7535-4b0b-8ded-97eb42a92e1b/sq150.jpeg">
                        </div>
                    </div>                     
                    <div class="card-title text-center mb-md">
                        <a href="#" class="h3 mb-none stretched-link line-clamp-1">Emma Salvarelli</a>
                        <p class="text-muted small mb-none">Paris, FR</p>
                        <div class="badges mt-16px">
                            <a class="badge is-pill">Data</a>
                            <a class="badge is-pill" href="#">Digital marketing</a>
                        </div>
                    </div>
                    <div class="dropdown z-2 position-absolute" style="top:.75rem;right:.75rem">
                        <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon is-20px icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Show profile</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold text-truncate mr-2">{evaluation_session.name}</span>
                        <span class="small text-nowrap">Average <span class="font-weight-bold text-yellow"><span class="icon icon-star"></span> 4.8</span></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="33"></div>
                        </div>
                        <span class="small text-muted">2/8</span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"><span class="icon icon-star is-sm mr-2"></span> Evaluate </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#"> Participations </a>                      
                    </div>
                </div>
            </div>
        </div>
      
        
    </div>

</div>
