<div class="row">
    <div class="col-12">
        <div class="application-section">
            <div class="card formContainer" data-form="543">
                <div class="card-header" data-toggle="collapse" data-target="#form-543" aria-expanded="true">
                    <div class="d-flex align-items-center">
                        <div class="mr-3">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                        </div>
                        <span>
                            <strong>Livrables</strong>
                            <span class="formRequiredFieldsContainer d-none">
                                <p class="text-muted">
                                    <span class="formRequiredFieldsNb">0</span>
                                    <span class="formRequiredFieldsText" data-singletext="tâche obligatoire restante" data-multipletext="tâches obligatoires restantes"> tâche obligatoire restante </span>
                                </p>
                            </span>
                        </span>
                        <span class="icon icon-chevron-right ml-auto"></span>
                    </div>
                </div>
                <div class="card-body collapse show" id="form-543" style="">
                    <form name="form_543" method="post" class="autoSaveForm">
                        <div id="form_543" class="autoSaveForm">
                            <div class="form-group">
                                <div class="uploadSignedUrlFileContainer formUploadContainer mb-3" data-installed="1">
                                    <legend class="active checkbox-custom font-weight-bold col-form-label">Matrice comparative des concurrents</legend>
                                    <small class="text-muted text-uppercase">Template</small>
                                    <div id="resourceList" class="resourcesWallWrapper">
                                        <div class="resourcesWrapper ">
                                            <section class="templateResourcesList">
                                                <div class="item is-bordered resource mb-3">
                                                    <div class="item-row">
                                                        <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/36a76e66-d51f-47a2-8c82-a78ba52f41cf/load?browse=0" data-target="#resourceLoadingModal">
                                                            <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                            <div class="item-content ml-3">
                                                                <a class="item-title h4 mb-0 stretched-link text-truncate" href="#">Matrice concurrents.pdf</a>
                                                                <ul class="item-caption metas small is-list">
                                                                    <li><span class="icon icon-clock-outline">&nbsp;02/03/2023 18:54</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="item-options">
                                                            <a class="btn btn-lg btn-transparent btn-icon" href="/resource/36a76e66-d51f-47a2-8c82-a78ba52f41cf/download">
                                                                <span class="icon icon-cloud-download"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <div class="resourceEmptyState d-none">
                                                <div class="d-flex flex-column align-items-center py-5">
                                                    <span class="text-muted icon icon-file-outline is-lg"></span>
                                                    <p class="text-muted text-center mt-4">
                                                        <span>No document</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <small class="text-muted text-uppercase">uploaded files</small>
                                    <section class="resourcesList">
                                        <div class="item is-bordered resource mb-3">
                                            <div class="item-row">
                                                <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/fcca2b8c-9988-484a-a02a-da34725d0c9b/load?browse=0" data-target="#resourceLoadingModal">
                                                    <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                    <div class="item-content ml-3">
                                                        <a class="item-title h4 mb-0 stretched-link text-truncate" href="#">1681721694647.pdf</a>
                                                        <ul class="item-caption metas small is-list">
                                                            <li><span class="icon icon-clock-outline">&nbsp;17/04/2023 10:54</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="item-options">
                                                    <a class="btn btn-lg btn-transparent btn-icon" href="/resource/fcca2b8c-9988-484a-a02a-da34725d0c9b/download">
                                                        <span class="icon icon-cloud-download"></span>
                                                    </a>
                                                </div>
                                                <div class="item-options dropdown">
                                                    <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="icon icon-dots-vertical"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item editResourceButton" href="javascript:void(0);" data-target="#loadingContentModal" data-toggle="modal" data-url="/resource/8612/edit-modal"> Modifier </a>
                                                        <span class="dropdown-item text-danger resourceDeleteLink cursorLink" data-url="/rest/fr/resource/8612/delete">Supprimer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <span class="btn btn-lg btn-block btn-default editTemplateButton disabled" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/53/state/785/application/638/form/427/field/1339/template/edit" data-signed-url="/rest/fr/program/53/state/785/application/638/form/427/field/1339/resource/signed-url" data-done-url="/rest/fr/program/53/state/785/application/638/form/427/field/1339/resource/upload" data-maxfiles="1" data-maxfilesremaining="0"> Editer un nouveau document </span>
                                    <div data-error-related="form_543_1339"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="uploadSignedUrlFileContainer formUploadContainer mb-3" data-installed="1">
                                    <legend class="active checkbox-custom font-weight-bold col-form-label">Stakeholder map</legend>
                                    <small class="text-muted text-uppercase">template</small>
                                    <div id="resourceList" class="resourcesWallWrapper">
                                        <div class="resourcesWrapper ">
                                            <section class="templateResourcesList">
                                                <div class="item is-bordered resource mb-3">
                                                    <div class="item-row">
                                                        <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/e5a63a2b-ca6c-497f-868d-9992725c370e/load?browse=0" data-target="#resourceLoadingModal">
                                                            <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                            <div class="item-content ml-3">
                                                                <a class="item-title h4 mb-0 stretched-link text-truncate" href="#">Stakeholder map (1).pdf</a>
                                                                <ul class="item-caption metas small is-list">
                                                                    <li><span class="icon icon-clock-outline">&nbsp;02/03/2023 18:54</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="item-options">
                                                            <a class="btn btn-lg btn-transparent btn-icon" href="/resource/e5a63a2b-ca6c-497f-868d-9992725c370e/download">
                                                                <span class="icon icon-cloud-download"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <div class="resourceEmptyState d-none">
                                                <div class="d-flex flex-column align-items-center py-5">
                                                    <span class="text-muted icon icon-file-outline is-lg"></span>
                                                    <p class="text-muted text-center mt-4">
                                                        <span>No document</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <small class="text-muted text-uppercase">uploaded files</small>
                                    <section class="resourcesList">
                                        <div class="item is-bordered resource mb-3">
                                            <div class="item-row">
                                                <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/5a58c68b-9a75-4a2f-8f40-ac134fc4b696/load?browse=0" data-target="#resourceLoadingModal">
                                                    <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                    <div class="item-content ml-3">
                                                        <a class="item-title h4 mb-0 stretched-link text-truncate" href="#">1693312536923.pdf</a>
                                                        <ul class="item-caption metas small is-list">
                                                            <li><span class="icon icon-clock-outline">&nbsp;29/08/2023 14:35</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="item-options">
                                                    <a class="btn btn-lg btn-transparent btn-icon" href="/resource/5a58c68b-9a75-4a2f-8f40-ac134fc4b696/download">
                                                        <span class="icon icon-cloud-download"></span>
                                                    </a>
                                                </div>
                                                <div class="item-options dropdown">
                                                    <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="icon icon-dots-vertical"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item editResourceButton" href="javascript:void(0);" data-target="#loadingContentModal" data-toggle="modal" data-url="/resource/8786/edit-modal"> Modifier </a>
                                                        <span class="dropdown-item text-danger resourceDeleteLink cursorLink" data-url="/rest/fr/resource/8786/delete">Supprimer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <span class="btn btn-lg btn-block btn-default editTemplateButton disabled" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/53/state/785/application/638/form/427/field/1340/template/edit" data-signed-url="/rest/fr/program/53/state/785/application/638/form/427/field/1340/resource/signed-url" data-done-url="/rest/fr/program/53/state/785/application/638/form/427/field/1340/resource/upload" data-maxfiles="1" data-maxfilesremaining="0"> Editer un nouveau document </span>
                                    <div data-error-related="form_543_1340"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="uploadSignedUrlFileContainer formUploadContainer mb-3" data-installed="1">
                                    <legend class="active checkbox-custom font-weight-bold col-form-label">Persona</legend>
                                    <div id="resourceList" class="resourcesWallWrapper">
                                        <small class="text-muted text-uppercase">template</small>
                                        <div class="resourcesWrapper ">
                                            <section class="templateResourcesList">
                                                <div class="item is-bordered resource mb-3">
                                                    <div class="item-row">
                                                        <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/7b2b00c4-d682-4c07-b40e-b1ea2a26af05/load?browse=0" data-target="#resourceLoadingModal">
                                                            <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                            <div class="item-content ml-3">
                                                                <a class="item-title h4 mb-0 stretched-link text-truncate" href="#">Persona.pdf</a>
                                                                <ul class="item-caption metas small is-list">
                                                                    <li><span class="icon icon-clock-outline">&nbsp;02/03/2023 18:54</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="item-options">
                                                            <a class="btn btn-lg btn-transparent btn-icon" href="/resource/7b2b00c4-d682-4c07-b40e-b1ea2a26af05/download">
                                                                <span class="icon icon-cloud-download"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <div class="resourceEmptyState d-none">
                                                <div class="d-flex flex-column align-items-center py-5">
                                                    <span class="text-muted icon icon-file-outline is-lg"></span>
                                                    <p class="text-muted text-center mt-4">
                                                        <span>No document</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <section class="resourcesList">
                                        <small class="ext-muted text-uppercase">uploaded files</small>
                                        <div class="item is-bordered resource mb-3">
                                            <div class="item-row">
                                                <div class="item-row cursorLink triggerResource" data-toggle="modal" data-url="/resource/40a95280-a5b5-4597-9acd-a0a7625cbef3/load?browse=0" data-target="#resourceLoadingModal">
                                                    <div class="item-icon icon icon-file-pdf-box text-danger"></div>
                                                    <div class="item-content ml-3">
                                                        <a class="item-title h4 mb-0 stretched-link text-truncate" href="#">1694443397800.pdf</a>
                                                        <ul class="item-caption metas small is-list">
                                                            <li><span class="icon icon-clock-outline">&nbsp;11/09/2023 16:43</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="item-options">
                                                    <a class="btn btn-lg btn-transparent btn-icon" href="/resource/40a95280-a5b5-4597-9acd-a0a7625cbef3/download">
                                                        <span class="icon icon-cloud-download"></span>
                                                    </a>
                                                </div>
                                                <div class="item-options dropdown">
                                                    <a class="btn btn-lg btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="icon icon-dots-vertical"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item editResourceButton" href="javascript:void(0);" data-target="#loadingContentModal" data-toggle="modal" data-url="/resource/8789/edit-modal"> Modifier </a>
                                                        <span class="dropdown-item text-danger resourceDeleteLink cursorLink" data-url="/rest/fr/resource/8789/delete">Supprimer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <span class="btn btn-lg btn-block btn-default editTemplateButton disabled" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/53/state/785/application/638/form/427/field/1341/template/edit" data-signed-url="/rest/fr/program/53/state/785/application/638/form/427/field/1341/resource/signed-url" data-done-url="/rest/fr/program/53/state/785/application/638/form/427/field/1341/resource/upload" data-maxfiles="1" data-maxfilesremaining="0"> Editer un nouveau document </span>
                                    <div data-error-related="form_543_1341"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="uploadSignedUrlFileContainer formUploadContainer mb-3" data-installed="1">
                                <legend class="checkbox-custom font-weight-bold col-form-label">Contacts prioritaires</legend>
                                <small class="ext-muted text-uppercase">uploaded files</small>
                                <section class="resourcesList">
                                </section>
                                <div class="addResourceContainer " id="addResourceContainer" data-maxfiles="1" data-maxfilesremaining="1" data-no-file-limit="0">
                                    <button class="btn btn-lg btn-block btn-default dropdown-toggle addResourceButton" data-toggle="dropdown">
                                        <span class="icon icon-plus-circle"></span>
                                        <span>Ajouter une ressource</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <span class="dropdown-item cursorLink uploadSignedUrlFile" data-maxfiles="1" data-maxfilesremaining="1" data-maxfileweight="524288000" data-url="/rest/fr/program/53/state/785/application/638/form/427/field/1342/resource/upload" data-signed-url="/rest/fr/program/53/state/785/application/638/form/427/field/1342/resource/signed-url"> Ajouter un document </span>
                                        <span class="dropdown-item cursorLink resourceUrlBlock" data-toggle="modal" data-target="#loadingContentModal" data-url="/program/53/application/638/state/785/form/427/resource/url/create-modal/1342"> Ajouter un lien </span>
                                    </div>
                                </div>
                                <div data-error-related="form_543_1342"></div>
                            </div>
                        </div>
                        <div class="form-group"> <label class="active checkbox-custom font-weight-bold" for="form_543_1343">Problématique affinée</label>
                            <textarea id="form_543_1343" name="form_543[1343]" length="800" maxlength="800" data-save-url="/rest/fr/challenge/53/state/785/application/638/form/427/field/1343" class="autoSaveField form-control" rows="4" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 102px;">testf</textarea>
                        </div>
                        <fieldset class="form-group">
                            <legend class="active checkbox-custom font-weight-bold col-form-label required">Validez la proposition</legend>
                            <div id="form_543_1388" data-save-url="/rest/fr/challenge/53/state/785/application/638/form/427/field/1388" class="autoSaveField">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="form_543_1388_0" name="form_543[1388]" required="required" class="custom-control-input" value="552">
                                    <label class="checkbox-custom custom-control-label custom-control-label required" for="form_543_1388_0">Oui</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="form_543_1388_1" name="form_543[1388]" required="required" class="custom-control-input" value="553" checked="checked">
                                    <label class="checkbox-custom custom-control-label custom-control-label required" for="form_543_1388_1">Non</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <legend class="active checkbox-custom font-weight-bold col-form-label required">Selectionnez un cas d'usage</legend>
                            <div id="form_543_1389" data-save-url="/rest/fr/challenge/53/state/785/application/638/form/427/field/1389" class="autoSaveField">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="form_543_1389_0" name="form_543[1389][]" class="custom-control-input" value="554" checked="checked">
                                    <label class="checkbox-custom custom-control-label custom-control-label" for="form_543_1389_0">Cas simple</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="form_543_1389_1" name="form_543[1389][]" class="custom-control-input" value="555" checked="checked">
                                    <label class="checkbox-custom custom-control-label custom-control-label" for="form_543_1389_1">Cas complexe</label>
                                </div>
                            </div>
                        </fieldset> <input type="hidden" id="form_543__token" name="form_543[_token]" value="d1822fd93d79879ea2416041cdf.2k8pG54ovU9EYutIwfA-yuVSGgz55G-8uihPu9-Ww8s.nmJwXd0f9Ap2J4N6lclTmIYwVU6m1jv940ca5Oz1-6W9GGpC20PxPgcU3w">
                </div>
                </form>
                <button class="btn btn-block btn-default btn-lg completeButton cursorLink" data-url="/rest/fr/challenge/53/state/785/application/638/form/427/unset-complete" data-completetext="Compléter la tâche" data-uncompletetext="Ne plus marquer comme complété" data-complete="1"> Ne plus marquer comme complété </button>
            </div>
        </div>
    </div>
</div>
</div>