<div class="row">
    <div class="col-12">
        <div class="application-section">
            <h3 class="application-section--title" data-toggle="collapse" data-target="#participants" aria-expanded="true">
                <span class="application-section--title-content">Participants</span>
                <span class="icon icon-chevron-right ml-auto"></span>
            </h3>
            <div class="collapse show" id="participants">
                <p class="mb-5">Add questions you want to ask to participants during their applications.</p>
                <div class="d-flex justify-content-between mb-3">
                    <div class="mr-5 d-flex align-items-center">
                        <h4 class="mb-0">Basic info</h4>
                        <div class="dropdown-container ml-2">
                            <a class="btn btn-sm btn-transparent btn-icon text-muted" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                                <span class="icon icon-dots-vertical"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="">
                                <a class="dropdown-item">
                                    <div class="dropdown-item--label">First action</div>
                                </a>
                                <a class="dropdown-item">
                                    <div class="dropdown-item--label">Second action</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">                        
                        <span class="small text-muted mr-3">Add step</span>                                                         
                        <a class="text-primary small  text-decoration-none mr-3 d-none" href="#"><span class="icon icon-plus-circle-outline mr-2"></span>Before</a>                                                       
                        <a class="text-primary small  text-decoration-none" href="#"><span class="icon icon-plus-circle-outline mr-2"></span>After</a> 
                    </div>
                </div>
                <div class="item disabled is-static is-bordered resource mb-3">
                    <div class="item-row">
                        <div class="mr-5 d-flex flex-fill">
                            <div class="icon is-sm icon-format-text"></div>
                            <div class="item-content ml-3">
                                <h4 class="mb-0">Full name</h4>
                                <span class="small text-muted d-none"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center dropdown">
                            <span class="small text-muted">Short text</span>
                            <div class="dropdown-container ml-5">
                                <a class="btn btn-sm btn-transparent btn-icon text-muted" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                                    <span class="icon icon-dots-vertical"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" style="">
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">First action</div>
                                    </a>
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">Second action</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item disabled is-static is-bordered resource mb-3">
                    <div class="item-row">
                        <div class="mr-5 d-flex flex-fill">
                            <div class="icon is-sm icon-format-text"></div>
                            <div class="item-content ml-3">
                                <h4 class="mb-0">Email adress</h4>
                                <span class="small text-muted d-none"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center dropdown">
                            <span class="small text-muted">Short text</span>
                            <div class="dropdown-container ml-5">
                                <a class="btn btn-sm btn-transparent btn-icon text-muted" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                                    <span class="icon icon-dots-vertical"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" style="">
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">First action</div>
                                    </a>
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">Second action</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item disabled is-static is-bordered resource mb-3">
                    <div class="item-row">
                        <div class="mr-5 d-flex flex-fill">
                            <div class="icon is-sm icon-radiobox-marked"></div>
                            <div class="item-content ml-3">
                                <h4 class="mb-0">Who are you?</h4>
                                <span class="small text-muted">Type options: Freelance, Student, Corporate</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center dropdown">
                            <span class="small text-muted">Unique choice (radio)</span>
                            <div class="dropdown-container ml-5">
                                <a class="btn btn-sm btn-transparent btn-icon text-muted" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                                    <span class="icon icon-dots-vertical"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" style="">
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">First action</div>
                                    </a>
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">Second action</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item is-static is-bordered resource mb-3">
                    <div class="item-row">
                        <div class="mr-5 d-flex flex-fill">
                            <div class="icon is-sm icon-format-text"></div>
                            <div class="item-content ml-3">
                                <h4 class="mb-0">Phone number</h4>
                                <span class="small text-muted d-none"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center dropdown">
                            <span class="small text-muted">Phone, Optional, Private</span>
                            <div class="dropdown-container ml-5">
                                <a class="btn btn-sm btn-transparent btn-icon text-muted" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                                    <span class="icon icon-dots-vertical"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" style="">
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">First action</div>
                                    </a>
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">Second action</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item is-static is-bordered resource mb-3">
                    <div class="item-row">
                        <div class="mr-5 d-flex flex-fill">
                            <div class="icon is-sm icon-radiobox-marked"></div>
                            <div class="item-content ml-3">
                                <h4 class="mb-0">For which program are you applying?</h4>
                                <span class="small text-muted">3 options: Starter, Starter FPI, Starter Visa French Tech</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center dropdown">
                            <span class="small text-muted">Unique choice (radio)</span>
                            <div class="dropdown-container ml-5">
                                <a class="btn btn-sm btn-transparent btn-icon text-muted" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                                    <span class="icon icon-dots-vertical"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" style="">
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">First action</div>
                                    </a>
                                    <a class="dropdown-item">
                                        <div class="dropdown-item--label">Second action</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-7">
                    <button class="btn btn-default btn-block btn-icon text-decoration-none text-nowrap mb-5" href="#" role="button"><span class="icon icon-plus mr-2"></span>Add a question</button>
                </div>  
                <div class="d-flex justify-content-between mb-3">
                    <div class="mr-5 d-flex align-items-center">
                        <h4 class="mb-0">About your project</h4>
                        <div class="dropdown-container ml-2">
                            <a class="btn btn-sm btn-transparent btn-icon text-muted" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                                <span class="icon icon-dots-vertical"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="">
                                <a class="dropdown-item">
                                    <div class="dropdown-item--label">First action</div>
                                </a>
                                <a class="dropdown-item">
                                    <div class="dropdown-item--label">Second action</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">                        
                        <span class="small text-muted mr-3">Add step</span>                                                         
                        <a class="text-primary small  text-decoration-none mr-3" href="#"><span class="icon icon-plus-circle-outline mr-2"></span>Before</a>                                                       
                        <a class="text-primary small  text-decoration-none" href="#"><span class="icon icon-plus-circle-outline mr-2"></span>After</a> 
                    </div>
                </div>




                
                <div class="item--condition-wrapper" >
                    <div class="py-3 px-5 d-flex justify-content-between align-items-center text-muted small">
                        <span>if participant's type is <span class="text-body">Freelance</span></span>
                        <span>Condition</span>
                    </div>
                    <div class="item is-static is-bordered resource mb-3">
                        <div class="item-row">
                            <div class="mr-5 d-flex flex-fill">
                                <div class="icon is-sm icon-format-text"></div>
                                <div class="item-content ml-3">
                                    <h4 class="mb-0">Origin of the funding</h4>
                                    <span class="small text-muted d-none"></span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center dropdown">
                                <span class="small text-muted">Short text, Optional, Private</span>
                                <div class="dropdown-container ml-5">
                                    <a class="btn btn-sm btn-transparent btn-icon text-muted" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                                        <span class="icon icon-dots-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                        <a class="dropdown-item">
                                            <div class="dropdown-item--label">First action</div>
                                        </a>
                                        <a class="dropdown-item">
                                            <div class="dropdown-item--label">Second action</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item--condition-wrapper" >
                    <div class="py-3 px-5 d-flex justify-content-between align-items-center text-muted small">
                        <span>if participant's type is <span class="text-body">Student</span></span>
                        <span>Condition</span>
                    </div>
                    <div class="item is-static is-bordered resource mb-3">
                        <div class="item-row">
                            <div class="mr-5 d-flex flex-fill">
                                <div class="icon is-sm icon-format-text"></div>
                                <div class="item-content ml-3">
                                    <h4 class="mb-0">Origin of the funding</h4>
                                    <span class="small text-muted d-none"></span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center dropdown">
                                <span class="small text-muted">What is your school name?</span>
                                <div class="dropdown-container ml-5">
                                    <a class="btn btn-sm btn-transparent btn-icon text-muted" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                                        <span class="icon icon-dots-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                        <a class="dropdown-item">
                                            <div class="dropdown-item--label">First action</div>
                                        </a>
                                        <a class="dropdown-item">
                                            <div class="dropdown-item--label">Second action</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="mb-5">
                    <button class="btn btn-default btn-block btn-icon text-decoration-none text-nowrap" href="#" role="button"><span class="icon icon-plus mr-2"></span>Add a question</button>
                </div>                
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-default btn-lg mr-3"><span class="icon icon-eye mr-2"></span>Preview questions</button>
                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                </div> 
            </div>
        </div>
        <div class="application-section">
            <h3 class="application-section--title" data-toggle="collapse" data-target="#projects" aria-expanded="false">
                <span class="application-section--title-content">Projects</span>
                <span class="icon icon-chevron-right ml-auto"></span>
            </h3>
            <div class="collapse" id="projects">
            </div>
        </div>
        <div class="application-section">
            <h3 class="application-section--title" data-toggle="collapse" data-target="#experts" aria-expanded="false">
                <span class="application-section--title-content">Experts</span>
                <span class="icon icon-chevron-right ml-auto"></span>
            </h3>
            <div class="collapse" id="experts">
            </div>
        </div>
        <div class="application-section">
            <h3 class="application-section--title" data-toggle="collapse" data-target="#jury" aria-expanded="false">
                <span class="application-section--title-content">Jury</span>
                <span class="icon icon-chevron-right ml-auto"></span>
            </h3>
            <div class="collapse" id="jury">
            </div>
        </div>
    </div>
</div>