<div class="application-modals modal show" id="userProfileModale-874c0f53" tabindex="-1" role="dialog" style="z-index: 1040; display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Jean Expert</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
                    <span class="icon icon-close" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center mb-5">
                    <div class="thumbnail-relation">
                        <div class="thumbnail is-oval is-2xl is-bordered mb-3">
                            <img src="https://inject-demo.s3.amazonaws.com/images/f4f7b6e8-5fe7-43a3-acf9-e4e383f3e60f/sq150.png" width="150" height="150" class=" is-2xl is-bordered rounded-circle">
                        </div>
                        <span class="flag-icon flag-icon-fr"></span>
                    </div>
                    <div class="ml-5">
                        <h2 class="m-0">Jean Expert</h2>
                        <p class="m-0 text-muted">Software engineer</p>
                        <ul class="list-inline text-muted w-100 small">
                            <li class="list-inline-item">
                                <span class="icon icon-map-marker">Paris, FR</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="icon icon-clock-outline">Rejoint Jun 11, 2020</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mb-5">
                    <a class="btn btn-primary mr-3" href="#" data-toggle="modal" data-target="#modalOpenThread" data-user-id="874c0f53">Chat et Visio</a>
                    <a class="btn btn-default" href="mailto:jean-expert@schoolab.tools">Email</a>
                </div>
                <h4>About Jean</h4>                    
                <p>Jean Expert is a seasoned innovation expert with extensive experience in low-code development. With a background in software engineering and a passion for streamlining processes and increasing efficiency, Jean has become a leading voice in the low-code community.</p>                
                <h4>Skills</h4>
                <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Data</a><a class="badge badge-pill badge-tag" href="#">Low code</a><a class="badge badge-pill badge-tag" href="#">No code</a></div>
                <h4>Interest</h4>
                <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Wind Surf</a></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-block btn-default" href="/user/u/874c0f53?f=wm&amp;fadd%5Bslug%5D=esg-awards">Show profile</a>
            </div>
        </div>
    </div>
</div>