<div class="application-modals modal show" id="userProfileModale-874c0f53" tabindex="-1" role="dialog" style="z-index: 1040; display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Green energy</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
                    <span class="icon icon-close" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row application-section">
                    <div class="col-12 col-lg-6 d-flex justify-content-center flex-column order-2 order-lg-1">
                        <div class="cover-container  rounded" style="background-image:url(https://inject-demo.s3.amazonaws.com/applications/covers/1036_co1140x380.jpg);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                    </div>
                    <div class="col-12 col-lg-6 d-flex flex-column order-1 order-lg-2">
                        <h2 class="mb-2">Green energy</h2>
                        <ul class="list-inline list-dotted text-muted">
                            <li class="list-inline-item"><a class="icon icon-school" href="/program/esg-awards">ESG Awards</a></li>
                            <li class="list-inline-item small"><span class="icon icon-clock-outline">01/30/2023</span></li>
                            <li class="list-inline-item small">2 members</li>
                        </ul>
                        <p>Linking our illuminated ads to green energy</p>
                        <ul class="list-inline ">
                            <li class="list-inline-item mr-3">
                                <div class="dropdown">
                                    <div class="btn btn-default dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> More </div>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="635">Chat &amp; Video</a>
                                        <a class="dropdown-item" href="/program/esg-awards/project/635/apply">Join</a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-primary voteButton" data-url="/api/challenge/53/votes-session/10/application/34/vote">
                                    <span class="icon icon-thumb-up d-none"></span>&nbsp; <span class="voteActionLabel">Vote</span> &nbsp;<span class="votesCount"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row application-section">
                    <div class="col-12">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <h4>Lorem ipsum</h4>
                        <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Lorem</a><a class="badge badge-pill badge-tag" href="#">Ipsum</a><a class="badge badge-pill badge-tag" href="#">Lorem</a></div>
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h4>Lorem ipsum</h4>
                        <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Isum</a></div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-block btn-default" href="/user/u/874c0f53?f=wm&amp;fadd%5Bslug%5D=esg-awards">Show more details</a>
            </div>
        </div>
    </div>
</div>