<div class="application-modals modal show" id="userProfileModale-874c0f53" tabindex="-1" role="dialog" style="z-index: 1040; display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Program 1 (External)</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
                    <span class="icon icon-close" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-between">
                    <small class="text-uppercase text-muted mb-3 flex-fill">Schoolab</small>
                    <span class="icon icon-clock-outline small text-muted mb-sm-0 mb-3">&nbsp;Registration closed</span>
                </div>
                <div class="row mb-5 mb-lg-7">
                    <div class="col-12 mb-5">
                        <div class="cover-container rounded position-relative border" style="background-image:url(&quot;img/hero.png&quot;);background-repeat:no-repeat; background-position:center; background-size:cover;">
                            <div class="item-external"><div class="small text-uppercase text-muted">external</div></div>
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-column justify-content-center">
                        <div >
                            <div class="h2 mb-0">Program 1</div>
                            <ul class="list-inline list-dotted text-muted mb-3">
                                <li class="list-inline-item small">Ongoing</li>
                                <li class="list-inline-item small">25 members</li>
                                <li class="list-inline-item small">25 projects</li>
                            </ul>
                            <p>This challenge has its own website. Click on the button to learn more!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12  mb-5 mb-lg-0">
                        <h3>About the program</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin, eros scelerisque scelerisque pellentesque, nulla nisl dignissim est, at elem entum felis diam eget massa.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-block btn-primary" href="/user/u/874c0f53?f=wm&amp;fadd%5Bslug%5D=esg-awards"><span class="icon icon-open-in-new mr-3"></span>Wiew the website</a>
            </div>
        </div>
    </div>
</div>