<div class="application-modals modal show" tabindex="-1" role="dialog" style="z-index: 1040; display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px!important;">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h3 class="modal-title">Modal title</h3>
                <nav class="nav nav-tabs m-0 w-100">
                    <a href="#" class=" nav-link nav-item active">Item</a>
                    <a href="#" class=" nav-link nav-item">Item</a>
                    <a href="#" class=" nav-link nav-item">Item</a>
                </nav>
                <div class="d-flex align-items-center ml-auto">
                    <small class="mr-3 text-muted">1&nbsp;of&nbsp;6</small>
                    <a class="btn btn-default mr-3" data-toggle="tooltip" data-original-title="previous" href="#">
                        <span class="icon icon-chevron-left"></span>
                    </a>
                    <a class="btn btn-default" data-toggle="tooltip" data-original-title="Next" href="#">
                        <span class="icon icon-chevron-right"></span>
                    </a>
                </div>
                <div class="d-flex gap-0">
                    <a class="btn btn-transparent p-4px text-muted" data-toggle="tooltip" data-original-title="Open in new tab" href="#">
                        <span class="icon icon-arrow-top-right is-24px"></span>
                    </a>
                    <button class="close m-0 p-0" type="button" data-dismiss="modal" aria-label="Fermer">
                        <span class="icon icon-close" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer border-top">
                <div class="dropdown">
                    <a class="btn btn-default btn-lg dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Options</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            <span class="dropdown-item--label">Open</span>
                            <span class="dropdown-item--shortcut icon icon-arrow-top-right"></span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span>Edit</span>
                        </a>
                        <a class="dropdown-item is-danger" href="#">
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
                <div class="d-flex gap-8px ml-auto">
                    <a class="btn btn-lg btn-default" href="#">Discard changes</a>
                    <a class="btn btn-lg btn-primary" href="#">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>