
<div class="application-section">
    <div class="items row card-row">
        <div class="col-12 d-flex d-lg-inline-flex flex-column flex-lg-row mb-md">
            <div class="reloadChallenges btn-group btn-group-toggle btn-filter-radios mr-lg-3 mr-0  mb-4 mb-lg-0" data-toggle="buttons">
                <label class="btn btn-default btn-lg active"><input type="radio" name="showprograms" value="all" checked>All</label>
                <label class="btn btn-default btn-lg"><input type="radio" name="showprograms" value="Plastic" id="all" >Plastic </label>
                <label class="btn btn-default btn-lg"><input type="radio" name="showprograms" value="Food" id="all" >Food </label>
                <label class="btn btn-default btn-lg"><input type="radio" name="showprograms" value="DEI" id="all" >DEI </label>
            </div>
            <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                <select class="custom-select small">
                    <option class="small" selected><small>All roles</small></option>
                    <option value="1">Participant</option>
                    <option value="2">Expert</option>
                    <option value="3">Jury</option>
                    <option value="4">Manager</option>
                </select>
            </div>
            <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                <select class="custom-select small">
                    <option class="small" selected><small>All registration</small></option>
                    <option value="1">Open</option>
                    <option value="2"> In progress</option>
                    <option value="3"> Closed</option>
                </select>
            </div>
            <div>
                <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="search" placeholder="Search ...">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="cursorLink item is-bordered h-100" data-url="/program/142/details">           
                <div class="p-0">
                    <div class="item-bookmark"><i class="icon icon-bookmark"></i></div>
                    <a  href="/program/142/details">
                        <div class="cover-container  card-img-top pt-0" style="background-image:url(https://inject-prod.s3.amazonaws.com/challenge/cover/pink_co900x600.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                    </a>
                    <div class="d-flex px-4 py-3 bg-green text-white">
                        <small class="text-uppercase flex-fill">Schoolab</small>
                        <span class="icon icon-clock-outline small">&nbsp;Open</span>
                    </div>
                </div>
               
                <div class="item-row position-relative">                
                    <div class="item-content py-1">
                        <a href="/program/142/details" class="item-title h4 mb-none stretched-link"> Schoolab Impact </a>
                    </div>
                </div>
                <div class="item-row">
                    <div class="item-content">
                        <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin, eros scelerisque scelerisque pellentesque, nulla nisl dignissim est, at elem
                            entum felis diam eget massa.</p>
                    </div>
                </div>
                <div class="mt-auto">
                    <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Food</a><a class="badge badge-pill badge-tag" href="#">Plastic</a><a class="badge badge-pill badge-tag" href="#">DEI</a></div>
                    <ul class="list-inline list-dotted mb-none">                 
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/d5b965a6-9324-45d3-aac3-613e623d95d1/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/e3af9c9d-3c0f-4fbd-a728-ce925a201011/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <span class="icon icon-account"></span>
                                        </div>
                                    </div><a href="#"><small class="text-muted">50 Members</small></a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>                                   
                                    <a href="#"><small class="text-muted"> 25 projects</small> </a>                           
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="cursorLink item is-bordered h-100" data-url="/program/56/details">
                <div class="p-0">
                    <div class="item-bookmark"><i class="icon icon-bookmark"></i></div>
                    <a  href="/program/56/details">
                        <div class="cover-container  card-img-top pt-0" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/f5e0a581-76e3-413a-a462-88dc98361172/co1800x1200.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                    </a>
                    <div class="d-flex px-4 py-3 bg-green text-white">
                        <small class="text-uppercase flex-fill">Schoolab</small>
                        <span class="icon icon-clock-outline small">&nbsp;Open</span>
                    </div>
                </div>
                
                <div class="item-row position-relative">
                    <div class="item-content py-1">
                        <a href="/program/56/details" class="item-title h4 mb-none stretched-link"> Schoolab Onboarding </a>
                    </div>
                </div>
                <div class="item-row">
                    <div class="item-content">
                        <p class="small">Welcome Aboard</p>
                    </div>
                </div>
                <div class="mt-auto">
                    <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Food</a><a class="badge badge-pill badge-tag" href="#">Plastic</a><a class="badge badge-pill badge-tag" href="#">DEI</a></div>
                    <ul class="list-inline list-dotted mb-none">                 
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/d5b965a6-9324-45d3-aac3-613e623d95d1/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/e3af9c9d-3c0f-4fbd-a728-ce925a201011/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <span class="icon icon-account"></span>
                                        </div>
                                    </div><a href="#"><small class="text-muted">50 Members</small></a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>                                   
                                    <a href="#"><small class="text-muted"> 25 projects</small> </a>                           
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
            <div class="item is-bordered flex-fill">
                <div class="item-cover  is-3by1">
                    <a href="/program/147/events/416">
                        <picture>
                            <source media="(max-width:576px)" srcset="https://inject-prod.s3.amazonaws.com/images/3293d805-1a7b-47a1-9ec5-75a935d8120a/co576x192.jpeg">
                            <source media="(max-width:768px)" srcset="https://inject-prod.s3.amazonaws.com/images/3293d805-1a7b-47a1-9ec5-75a935d8120a/co768x256.jpeg">
                            <source media="(max-width:1140px)" srcset="https://inject-prod.s3.amazonaws.com/images/3293d805-1a7b-47a1-9ec5-75a935d8120a/co1140x380.jpeg">
                            <img class="img-fluid d-block" src="https://inject-prod.s3.amazonaws.com/images/3293d805-1a7b-47a1-9ec5-75a935d8120a/co1140x380.jpeg" alt="" width="1140" height="380">
                        </picture>
                    </a>
                </div>
                <div class="item-row poisiton-relative"></div>
                <div class="item-row d-flex align-items-center">
                    <div class="thumbnail is-date" title="03/23/2023">
                        <span class="month">Mar</span>
                        <span class="day">23</span>
                    </div>
                    <div class="item-content ml-4 py-1">
                        <a class="item-title h4 mb-none stretched-link" href="/program/147/events/416"> Presentations en entreprises </a>                
                    </div>
                </div>
                <div class="mt-auto">
                    <ul class="list-inline list-dotted mb-none">   
                     
                                  
                        <li class="list-inline-item text-muted">                       
                            <span class="icon icon-map-marker small">15 rue de milan 75009 Paris</span>  
                        </li>
                        <li class="list-inline-item text-muted">
                            <span class="icon icon-clock-outline small">09:30</span>   
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item is-bordered flex-fill">
                <div class="item-cover is-3by1">
                    <a href="/program/147/events/417">
                        <picture>
                            <source media="(max-width:576px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co576x192.jpeg">
                            <source media="(max-width:768px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co768x256.jpeg">
                            <source media="(max-width:1140px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg">
                            <img class="img-fluid d-block" src="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg" alt="" width="1140" height="380">
                        </picture>
                    </a>
                </div>
                <div class="item-row poisiton-relative"></div>
                <div class="item-row d-flex align-items-center">
                    <div class="thumbnail is-date" title="03/30/2023">
                        <span class="month">Mar</span>
                        <span class="day">30</span>
                    </div>
                    <div class="item-content ml-4 py-1 ">
                        <a class="item-title h4 mb-none stretched-link" href="/program/147/events/417"> Tradeshow </a>
                    </div>
                </div>
                <div class="mt-auto">
                    <ul class="list-inline list-dotted mb-none text-muted">  
                        <li class="list-inline-item ">
                            <span class="icon icon-map-marker"></span><small> 15 rue de milan 75009 Paris</small>
                        </li>               
                        <li class="list-inline-item text-muted">
                            <span class="icon icon-clock-outline small">09:30</span>   
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="cursorLink item is-bordered h-100" data-url="/program/119/details">
                <div class="p-0">
                    <div class="item-bookmark"><i class="icon icon-bookmark"></i></div>
                    <a  href="/program/56/details">
                        <div class="cover-container  card-img-top pt-0" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/d5623bc5-fafa-49f4-8f9c-763d1f12fe44/co1920x640.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                    </a>
                    <div class="d-flex px-4 py-3 text-muted">
                        <small class="text-uppercase flex-fill ">Schoolab</small>
                        <span class="icon icon-clock-outline small">&nbsp;In progress</span>
                    </div>
                </div>           
                <div class="item-row position-relative">
                    <div class="item-content py-1">
                        <a href="/program/119/details" class="item-title h4 mb-none stretched-link"> ODP INJECT </a>
                    </div>
                </div>
                <div class="item-row">
                    <div class="item-content">
                        <p class="small">ODP Inject : formation à Inject sur Inject en asynchrone 🤘</p>
                    </div>
                </div>
        
                <div class="mt-auto">
                    <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Food</a><a class="badge badge-pill badge-tag" href="#">Plastic</a><a class="badge badge-pill badge-tag" href="#">DEI</a></div>
                    <ul class="list-inline list-dotted mb-none">                 
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/d5b965a6-9324-45d3-aac3-613e623d95d1/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/e3af9c9d-3c0f-4fbd-a728-ce925a201011/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <span class="icon icon-account"></span>
                                        </div>
                                    </div><a href="#"><small class="text-muted">50 Members</small></a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>                                   
                                    <a href="#"><small class="text-muted"> 25 projects</small> </a>                           
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="cursorLink item is-bordered h-100" data-url="/program/146/details">
                <div class="p-0">
                    <div class="item-bookmark"><i class="icon icon-bookmark"></i></div>
                    <a  href="/program/56/details">
                        <div class="cover-container  card-img-top pt-0" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/bc84f5cc-c5be-45ac-a0f8-f2ad3b7efa91/co1800x1200.jpeg);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
                    </a>
                    <div class="d-flex px-4 py-3 text-muted">
                        <small class="text-uppercase flex-fill ">Schoolab</small>
                        <span class="icon icon-clock-outline small">&nbsp;Closed</span>
                    </div>
                </div>             
                <div class="item-row position-relative">
                    <div class="item-content py-1">
                        <a href="/program/146/details" class="item-title h4 mb-none stretched-link"> Piscine 2023 (EN) </a>             
                    </div>
                </div>
                <div class="item-row">
                    <div class="item-content">
                        <p class="small">Through Schoolab's unique method of exploratory innovations, the academic excellence of UC Berkeley and business partnerships in Paris, San Francisco and Ho Chi Minh City, strategize, create and launch ideas for new products, services and technologies aimed at solving complex world...</p>
                    </div>
                </div>
                <div class="mt-auto">
                    <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Food</a><a class="badge badge-pill badge-tag" href="#">Plastic</a><a class="badge badge-pill badge-tag" href="#">DEI</a></div>
                    <ul class="list-inline list-dotted mb-none">                 
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/d5b965a6-9324-45d3-aac3-613e623d95d1/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-intrap.s3.amazonaws.com/images/e3af9c9d-3c0f-4fbd-a728-ce925a201011/sq150.jpeg">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <span class="icon icon-account"></span>
                                        </div>
                                    </div><a href="#"><small class="text-muted">50 Members</small></a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <ul class="metas is-list">
                                <li>                                   
                                    <a href="#"><small class="text-muted"> 25 projects</small> </a>                           
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
