<div class="row">
    <div class="application-section col-12 col-lg-6 ">
        <div class="cover-container rounded" style="background-image:url(&quot;img/hero.png&quot;);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
    </div>
    <div class="application-section col-12 col-lg-6 d-flex justify-content-center flex-column">
        <div class="h1 m-0 mb-5">Program-1 dashboard</div>
        <div class="m-0 mb-5">At lacus vitae nulla sagittis scelerisque nisl. Pellentesque duis cursus vestibulum, facilisi ac, sed faucibus.</div>
    </div>
    <div class="col-12 col-lg-6 col-xl-8 application-section">
        <div class="application-section">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-7 d-flex align-items-stretch ">
                    <div class="item is-bordered d-flex flex-fill flex-grow-1">
                        <div class=" p-7 d-flex flex-column flex-grow-1 justify-content-between">
                            <div class="mb-7">
                                <div class="d-flex align-items-center mb-7">
                                    <div class="icon icon-library  icon--letter is-sm mr-2 "></div>
                                    <a href="#" class="item-title h4 mb-0"> Learning courses </a>
                                </div>
                                <p>consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                            </div>
                            <div>
                                <div class="mb-7">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Courses</span>
                                        <span class="small text-muted">In progress</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="small text-muted">33%</span>
                                    </div>
                                </div>
                                <div class="mb-7">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Certificates</span>
                                        <span class="small text-muted">Not started</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="small text-muted">0%</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-default stretched-link" href="#"> View learning courses </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-7 d-flex align-items-stretch ">
                    <div class="item is-bordered d-flex flex-fill flex-grow-1">
                        <div class=" p-7 d-flex flex-column flex-grow-1 justify-content-between">
                            <div class="mb-7">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="icon icon--letter is-sm mr-2 "><span>m</span></div>
                                    <a href="/program/75/project/2232/details"
                                       class="item-title h4 mb-0"> My-project </a>
                                </div>
                                <ul class="item-caption metas small is-list mb-5">
                                    <li>Created on 05/09/2022</li>
                                    <li>By John Doe</li>
                                </ul>
                                <p>consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                            </div>
                            <div>
                                <div class="mb-7">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Objectives</span>
                                        <span class="small text-muted">In progress</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="small text-muted">33%</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-default stretched-link" href="#"> View project overview </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-7 d-flex align-items-stretch ">
                    <div class="item is-bordered d-flex flex-fill flex-grow-1">
                        <div class=" p-7 d-flex flex-column flex-grow-1 justify-content-between">
                            <div class="mb-7">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="icon icon--letter is-sm mr-2 "><span>s</span></div>
                                    <a href="/program/75/project/2232/details"
                                       class="item-title h4 mb-0"> Second project </a>
                                </div>
                                <ul class="item-caption metas small is-list mb-5">
                                    <li>Created on 05/09/2022</li>
                                    <li>By John Doe</li>
                                </ul>
                                <p>consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue</p>
                            </div>
                            <div>
                                <div class="mb-7">
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="small text-muted">Objectives</span>
                                        <span class="small text-muted">In progress</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="progress flex-fill mr-3" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="small text-muted">33%</span>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-block btn-default stretched-link" href="#"> View project overview</button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <h4 class="application-section--title">
            <span>Newsfeed</span>
        </h4>
        <div id="challenge-blogposts-container">
            <a class="message mb-5 startMessageButton" href="/program/75/manage/updates/new-update">
                <span class="thumbnail is-oval is-lg" data-toggle="tooltip" title=""
                      data-original-title="John Doe">
                    <div class="thumbnail is-oval">
                        <span class="icon icon-account"></span>
                    </div>
                </span>
                <div class="message-body">
                    <div class="message-list">
                        <div class="message-row">
                            <input type="text" class="form-control message-content bg-white cursorLink"
                                   readonly="readonly" placeholder="Start a new post...">
                        </div>
                    </div>
                </div>
            </a>
            <div class="blogPostsWall" data-url="/program/75/workspace/updates/wall?preview=3">
                <div class="card m-0 p-5 wallLoader d-none">
                    <div class="pb-0 pt-3 pt-sm-5">
                        <div class="item is-wide is-static">
                            <h4 class="text-center w-100 mb-3">Loading...</h4>
                        </div>
                    </div>
                </div>
                <div class="cardsContainer">
                    <div class="card m-0 p-5 blogPostCard">
                        <div class="pb-0 pt-3 pt-sm-5">
                            <div class="item is-wide is-static">
                                <div class="item-row">
                                    <div class="item-row">
                                        <ul class="metas is-list small">
                                            <li>
                                                <span class="icon">😎 <a href="/program/75/details"
                                                       class="text-muted">La piscine 2022</a>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item-options dropdown">
                                        <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon icon-dots-vertical"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="/program/75/manage/updates">Manage posts</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/program/75/manage/updates/229">Edit</a>
                                            <a class="dropdown-item is-danger deleteAction" href="#"
                                               data-url="/program/75/manage/updates/229/delete"
                                               data-confirm-modal="deleteBlogPostConfirmModal"> Delete </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-row">
                                    <a href="#" class=" userProfileModale userProfileModale-1782"
                                       data-url="/user/158c2ec5/profile-modal" data-toggle="modal"
                                       data-target="#loadingContentModal">
                                        <div class="thumbnail is-oval is-lg">
                                            <img src="https://inject-prod.s3.amazonaws.com/images/71446890-6864-4521-9548-8f5973075b3a/sq150.jpeg"
                                                 width="150" height="150" class=" is-lg rounded-circle">
                                        </div>
                                    </a>
                                    <div class="item-content ml-3 py-1">
                                        <a href="#" class="item-title h4 mb-0 userProfileModale userProfileModale-1782"
                                           data-url="/user/158c2ec5/profile-modal" data-toggle="modal"
                                           data-target="#loadingContentModal"> Pierre Forestier </a>
                                        <ul class="item-caption metas is-list text-muted small">
                                            <li>
                                                <a href="#"
                                                   class="text-decoration-none userProfileModale userProfileModale-1782"
                                                   data-url="/user/158c2ec5/profile-modal" data-toggle="modal"
                                                   data-target="#loadingContentModal"> Startup Manager, Schoolab </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                   class="text-decoration-none userProfileModale userProfileModale-1782"
                                                   data-url="/user/158c2ec5/profile-modal" data-toggle="modal"
                                                   data-target="#loadingContentModal"> 01/24/2022 11:16 </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-row">
                                    <div class="item-content">
                                        <p>Hello,&nbsp;</p>
                                        <p>Un petit message pour vous souhaiter la bienvenue parmi le programme d'incubation "La Piscine". Je serais ton interlocuteur privilégié pour ce programme, n'hésitez surtout pas à me solliciter sur slack ou par mail : pierre.forestier@theschoolab.com.&nbsp;</p>
                                        <p>Et pour rappel, ce programme va te permettre de te lancer rapidement, valide...</p>
                                        <p class="text-right">
                                            <small>
                                                <a class="text-muted" href="/program/75/updates/229">...see more</a>
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul class="metas is-list small">
                                <li class="likeCounter" data-ref="blogPost243"> 0 like </li>
                                <li>
                                    <i class="icon icon-comment mr-2"></i>
                                    <a class="text-muted" href="/program/75/updates/229#comments"> 4 comments </a>
                                </li>
                            </ul>
                            <div class="item-actions mt-3 pb-0">
                                <span class="btn btn-lg btn-block btn-default likeButton"
                                      data-url="/api/program/75/posts/229/like" data-ref="blogPost243">
                                    <i class="icon icon-thumb-up-outline"></i><span>Like</span>
                                </span>
                                <a class="btn btn-lg btn-block btn-default commentButton"
                                   href="/program/75/updates/229#comments">
                                    <i class="icon icon-comment-outline"></i><span>Comment</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagerContainer mt-5 d-none">
                    <button class="btn btn-lg btn-block btn-default pagerLoadMoreButton">Load more<span
                              class="icon icon-loading icon-spin ml-1 d-none buttonLoader"></span></button>
                </div>
            </div>
        </div>
        <a id="challenge-blogposts-page-btn" class="btn btn-lg btn-block btn-default mt-3 d-none"
           href="/program/75/updates">Show more</a>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 application-section">
        <div class="application-section">
            <h4 class="application-section--title"> Your Program Managers </h4>
            <p>Program Managers are here to guide you during the program.</p>
            <div class="item is-bordered">
                <div class="item-row">
                    <div class="item-row">
                        <a href="/user/u/0d3e2b04">
                            <div class="thumbnail is-oval " title="" data-toggle="tooltip"
                                 data-original-title="La piscine 2022 overview">
                                <img src="https://inject-prod.s3.amazonaws.com/images/c5268f41-f646-4fe1-b783-315029757ad2/sq150.png"
                                     width="150" height="150" class=" rounded-circle">
                            </div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a href="/user/u/0d3e2b04"
                               class="item-title h4 font-weight-normal mb-0 stretched-link">Marine Martinez</a>
                            <ul class="metas is-list ">
                                <li> Startup Manager Schoolab </li>
                                <li> Paris, FR </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options dropdown">
                        <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user/u/0d3e2b04">Show profile</a><a class="dropdown-item"
                               data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item is-bordered">
                <div class="item-row">
                    <div class="item-row">
                        <a href="/user/u/158c2ec5">
                            <div class="thumbnail is-oval " title="" data-toggle="tooltip"
                                 data-original-title="La piscine 2022 overview">
                                <img src="https://inject-prod.s3.amazonaws.com/images/71446890-6864-4521-9548-8f5973075b3a/sq150.jpeg"
                                     width="150" height="150" class=" rounded-circle">
                            </div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a href="/user/u/158c2ec5"
                               class="item-title h4 font-weight-normal mb-0 stretched-link">Pierre Forestier</a>
                            <ul class="metas is-list ">
                                <li> Startup Manager Schoolab </li>
                                <li> Paris, FR </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options dropdown">
                        <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user/u/158c2ec5">Show profile</a><a class="dropdown-item"
                               data-toggle="modal" data-target="#modalOpenThread" data-user-id="1782" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item is-bordered">
                <div class="item-row">
                    <div class="item-row">
                        <a href="/user/u/53825949">
                            <div class="thumbnail is-oval " title="" data-toggle="tooltip"
                                 data-original-title="La piscine 2022 overview">
                                <img src="https://inject-prod.s3.amazonaws.com/images/731305ed-0603-4910-9e93-65dd89ef302a/sq150.jpeg"
                                     width="150" height="150" class=" rounded-circle">
                            </div>
                        </a>
                        <div class="item-content ml-4 py-1">
                            <a href="/user/u/53825949"
                               class="item-title h4 font-weight-normal mb-0 stretched-link">Sarah Mecheneau</a>
                            <ul class="metas is-list ">
                                <li> Business Developer / Program Manager - Programmes étudiants internationaux Schoolab </li>
                                <li> FR </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-options dropdown">
                        <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-dots-vertical"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user/u/53825949">Show profile</a><a class="dropdown-item"
                               data-toggle="modal" data-target="#modalOpenThread" data-user-id="2286" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
            </div> <a class="btn btn-lg btn-block btn-default" href="/program/75/managers"> Show more </a>
        </div>
    </div>
</div>