<div class="application-section">
    <div class="items row card-row">
        <div class="col-12 d-flex d-lg-inline-flex flex-column flex-lg-row mb-8"">
            <div class="reloadChallenges btn-group btn-group-toggle btn-filter-radios mr-lg-3 mr-0  mb-4 mb-lg-0" data-toggle="buttons">
                <label class="btn btn-default btn-sm active text-nowrap"><input type="radio" name="" value="" id="" checked>My&nbsp;programs </label>
                <label class="btn btn-default btn-sm text-nowrap"><input type="radio" name="" id="" value="">All programs</label>
            </div>
            <div class="reloadChallenges btn-group btn-group-toggle btn-filter-radios mr-lg-3 mr-0  mb-4 mb-lg-0" data-toggle="buttons">
                <label class="btn btn-default btn-sm active"><input type="radio" name="showprograms" id="" value="all" checked>All</label>
                <label class="btn btn-default btn-sm"><input type="radio" name="showprograms" value="Plastic" id="all" >Plastic </label>
                <label class="btn btn-default btn-sm"><input type="radio" name="showprograms" value="Food" id="all" >Food </label>
                <label class="btn btn-default btn-sm"><input type="radio" name="showprograms" value="DEI" id="all" >DEI </label>
            </div>
            
            <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                <select class="custom-select small">
                    <option class="small" selected><small>All roles</small></option>
                    <option value="1">Participant</option>
                    <option value="2">Expert</option>
                    <option value="3">Jury</option>
                    <option value="4">Manager</option>
                </select>
            </div>
            <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                <select class="custom-select small">
                    <option class="small" selected><small>All registration</small></option>
                    <option value="1">Open</option>
                    <option value="2"> In progress</option>
                    <option value="3"> Closed</option>
                </select>
            </div>
            <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                <select class="custom-select">
                    <option selected>All organization</option>
                    <option value="1">Schoolab</option>
                    <option value="2">Moho</option>
                    <option value="3">Raiselab</option>
                </select>
            </div>
            <div>
                <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="search" placeholder="Search ...">
            </div>
        </div>          
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">   
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-prod.s3.amazonaws.com/challenge/cover/pink_co900x600.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>                     
                        <div class="card-external">
                            <div class="small">External: </div>
                            <div class="small font-weight-bold text-truncate mx-2">{{Organization name }}</div>
                            <div class="small icon icon-arrow-top-right"></div>
                        </div>                                 
                    </div>  
                    <div class="card-title">
                        <a href="/program/142/details" class="h4 stretched-link line-clamp-1"> {{Program name}}</a>
                    </div>                      
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="d-flex align-items-center flex-wrap">                                               
                            <div class="badges is-small mr-3">
                                <div class="badge badge-pill badge-tag is-small">Food</div>
                                <a class="badge badge-pill badge-tag is-small" href="#">Plastic</a>
                                <a class="badge badge-pill badge-tag is-small" href="#">DEI</a>
                            </div>                                         
                        </div>
                        <div class="badges is-small">
                            <div class="badge badge-pill badge-tag is-small is-open"><span class="icon icon-circle"></span> Open</div>                   
                        </div>                                    
                    </div>
                </div>
                <div class="card-targets">
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center"><span class="icon icon-information is-sm mr-2"></span>Public page </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>                                        
                </div>                
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">   
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/f5e0a581-76e3-413a-a462-88dc98361172/co1800x1200.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>                     
                        <div class="card-external">
                            <div class="small">External: </div>
                            <div class="small font-weight-bold text-truncate mx-2">{{Organization name}}</div>
                            <div class="small icon icon-arrow-top-right"></div>
                        </div>                                 
                    </div>  
                    <div class="card-title">
                        <a href="/program/142/details" class="h4 stretched-link line-clamp-1"> {{Program name}}</a>
                    </div>                      
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="d-flex align-items-center flex-wrap">                                               
                            <div class="badges is-small mr-3">
                                <div class="badge badge-pill badge-tag is-small">Food</div>
                                <a class="badge badge-pill badge-tag is-small" href="#">Plastic</a>
                                <a class="badge badge-pill badge-tag is-small" href="#">DEI</a>
                            </div>                                           
                        </div>
                        <div class="badges is-small">
                            <div class="badge badge-pill badge-tag is-small is-open"><span class="icon icon-circle"></span> Open</div>                   
                        </div>                                    
                    </div>
                </div>
                <div class="card-links">
                    <div class="d-flex align-items-center justify-content-between text-muted mb-3">
                        <span class="small font-weight-bold">Join the program</span>
                        <span class="small">Canditates <span class="font-weight-bold"><span class="icon icon-account"></span> 48</span></span>
                    </div>
                    <div class="card-actions">
                        <a class="btn btn-lg btn-primary btn-block" href="#"> Join </a>  
                        <a class="btn btn-lg btn-default btn-block" href="#"> Learn more </a>                      
                    </div>
                </div>            
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">   
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/b9751cfd-f746-4963-af9e-23f335a5792f/co1920x640.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>                    
                        <div class="card-external">
                            <div class="small">External: </div>
                            <div class="small font-weight-bold text-truncate mx-2">{{Organization name}}</div>
                            <div class="small icon icon-arrow-top-right"></div>
                        </div>                                
                    </div>  
                    <div class="card-title">
                        <a href="/program/142/details" class="h4 stretched-link line-clamp-1"> {{Program name}}</a>
                    </div>                      
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="d-flex align-items-center flex-wrap">                                    
                            <div class="badges is-small mr-3">
                                <div class="badge badge-pill badge-tag is-small">Food</div>
                                <a class="badge badge-pill badge-tag is-small" href="#">Plastic</a>
                                <a class="badge badge-pill badge-tag is-small" href="#">DEI</a>
                            </div>                                                                         
                        </div>
                        <div class="badges is-small">                      
                            <div class="badge badge-pill badge-tag is-small is-progress"><span class="icon icon-circle-slice-3"></span> In progress</div>                   
                        </div>                                    
                    </div>                    
                </div>
                <div class="card-targets">                               
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center"><span class="icon icon-cog is-sm mr-2"></span>Manage program </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>   
                </div>            
            </div>
        </div>    
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">   
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/d5623bc5-fafa-49f4-8f9c-763d1f12fe44/co1920x640.png);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>                    
                        <div class="card-external">
                            <div class="small">External: </div>
                            <div class="small font-weight-bold text-truncate mx-2">{{Organization name with a super long text}}</div>
                            <div class="small icon icon-arrow-top-right"></div>
                        </div>                                
                    </div>  
                    <div class="card-title">
                        <a href="/program/142/details" class="h4 stretched-link line-clamp-1"> {{Program name}}</a>
                    </div>                      
                    <div class="d-flex justify-content-between align-items-center flex-wrap">                
                        <div class="mr-3 mb-3">
                            <span class="text-muted small text-nowrap">No category...</span> 
                        </div>    
                        <div class="badges is-small">                   
                            <div class="badge badge-pill badge-tag is-small is-closed"><span class="icon icon-minus-circle"></span> Closed</div>                        
                        </div>                                    
                    </div>
                </div>            
            </div>
        </div>   
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-infos is-linked">   
                    <div class="card-banner">
                        <div class="card-image" style="background-image:url(https://inject-prod.s3.amazonaws.com/images/bc84f5cc-c5be-45ac-a0f8-f2ad3b7efa91/co1800x1200.jpeg);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>                    
                        <div class="card-external">
                            <div class="small">External: </div>
                            <div class="small font-weight-bold text-truncate mx-2">{{Organization name with a super long text}}</div>
                            <div class="small icon icon-arrow-top-right"></div>
                        </div>                                
                    </div>  
                    <div class="card-title">
                        <a href="/program/142/details" class="h4 stretched-link line-clamp-1"> {{Program name}}</a>
                    </div>                      
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="d-flex align-items-center flex-wrap">
                                           
                            <div class="badges is-small mr-3">
                                <div class="badge badge-pill badge-tag is-small">Food</div>                       
                            </div>                                                                          
                        </div>
                        <div class="badges is-small">                   
                            <div class="badge badge-pill badge-tag is-small is-draft"><span class="icon icon-circle-outline"></span> Draft</div>                       
                        </div>                                    
                    </div>
                </div>            
            </div>
        </div> 
    </div>
</div>
