<div class="application-section">
    <div class="row">
        <div class="col-12 d-flex d-lg-inline-flex flex-column flex-lg-row mb-8">
           
            <div class="reloadChallenges btn-group btn-group-toggle btn-filter-radios mr-lg-3 mr-0  mb-4 mb-lg-0" data-toggle="buttons">
                <label class="btn btn-default btn-sm text-nowrap active"><input type="radio" name="showprograms" id="all-events" value="all-events" checked>All</label>
                <label class="btn btn-default btn-sm text-nowrap"><input type="radio" name="showprograms" value="my-events" id="my-events" >My Events </label>
            </div>
            <div class="reloadChallenges btn-group btn-group-toggle btn-filter-radios mr-lg-3 mr-0  mb-4 mb-lg-0" data-toggle="buttons">
                <label class="btn btn-default btn-sm text-nowrap"><input type="radio" name="showprograms" id="all-period" value="all-period" checked>All</label>
                <label class="btn btn-default btn-sm text-nowrap active"><input type="radio" name="tocome" value="Plastic" id="tocome" >To come  </label>
                <label class="btn btn-default btn-sm text-nowrap"><input type="radio" name="showprograms" value="Past" id="Past" >Past </label>
              
            </div>
            <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                <select class="custom-select">
                    <option selected>Sort by...</option>
                    <option value="1">Sort 1</option>
                    <option value="2">Sort 2</option>
                    <option value="3">Sort 3</option>
                </select>
            </div>
            <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="search" placeholder="Search ...">
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-8">
            <div class="item is-bordered">
                <div class="item-cover is-3by1">
                    <a href="/program/147/events/417">
                        <picture>
                            <source media="(max-width:576px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co576x192.jpeg">
                            <source media="(max-width:768px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co768x256.jpeg">
                            <source media="(max-width:1140px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg">
                            <img class="img-fluid d-block" src="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg" alt="" width="1140" height="380">
                        </picture>
                    </a>
                </div>
                <div class="item-row">
                    <div class="thumbnail is-date" title="30/03/2023">
                        <span class="month">Mar</span>
                        <span class="day">30</span>
                    </div>
                    <div class="item-content ml-4 py-1">
                        <a class="item-title h4 mb-0 stretched-link" href="/program/147/events/417"> Tradeshow </a>
                        <ul class="item-caption metas small is-list">
                            <li>09:30</li>
                            <li>Adresse</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-8">
            <div class="item is-bordered">
                <div class="item-cover is-3by1  ">
                    <a href="/program/147/events/417">
                        <img class="img-fluid d-block" src="img/placeholder-events-pink.png" alt="" width="1140" height="380">
                    </a>
                </div>
                <div class="item-row">
                    <div class="thumbnail is-date" title="30/03/2023">
                        <span class="month">Mar</span>
                        <span class="day">30</span>
                    </div>
                    <div class="item-content ml-4 py-1">
                        <a class="item-title h4 mb-0 stretched-link" href="/program/147/events/417"> Tradeshow </a>
                        <ul class="item-caption metas small is-list">
                            <li>09:30</li>
                            <li>Adresse</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-8">
            <div class="item is-bordered">
                <div class="item-cover is-3by1">
                    <a href="/program/147/events/417">
                        <picture>
                            <img class="img-fluid d-block" src="img/placeholder-events-green.png" alt="" width="1140" height="380">
                        </picture>
                    </a>
                </div>
                <div class="item-row">
                    <div class="thumbnail is-date" title="30/03/2023">
                        <span class="month">Mar</span>
                        <span class="day">30</span>
                    </div>
                    <div class="item-content ml-4 py-1">
                        <a class="item-title h4 mb-0 stretched-link" href="/program/147/events/417"> Tradeshow </a>
                        <ul class="item-caption metas small is-list">
                            <li>09:30</li>
                            <li>Adresse</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-8">
            <div class="item is-bordered">
                <div class="item-cover is-3by1">
                    <a href="/program/147/events/417">
                        <picture>
                            <img class="img-fluid d-block" src="img/placeholder-events-orange.png" alt="" width="1140" height="380">
                        </picture>
                    </a>
                </div>
                <div class="item-row">
                    <div class="thumbnail is-date" title="30/03/2023">
                        <span class="month">Mar</span>
                        <span class="day">30</span>
                    </div>
                    <div class="item-content ml-4 py-1">
                        <a class="item-title h4 mb-0 stretched-link" href="/program/147/events/417"> Tradeshow </a>
                        <ul class="item-caption metas small is-list">
                            <li>09:30</li>
                            <li>Adresse</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
