<section class="section">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="application-section col-12 col-lg-6 d-flex justify-content-center flex-column order-2 order-lg-1 py-5">
                <h2 class="mb-2">Groupe 22 - Citéo </h2>
                <ul class="list-inline list-dotted text-muted">
                    <li class="list-inline-item">🔴 Premières pistes d'observation</li>
                    <li class="list-inline-item">CPI Concept 2022 / 2023</li>
                </ul>
                <p>Comment appliquer les 3 R pour lutter contre les déchets abandonnés dans la ville ?</p>
                <ul class="list-inline list-dotted text-muted">
                    <li class="list-inline-item"><a class="icon icon-school" href="/program/cpi-concept-2022-2023">CPI Concept 2022 / 2023</a></li>
                    <li class="list-inline-item"><span class="icon icon-clock-outline">10/13/2022</span></li>
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <button class="btn btn-default btn-icon text-decoration-none" href="#" role="button"><span>Chat & Video</span></button>
                    </li>
                </ul>
            </div>
            <div class="application-section col-12 col-lg-6 order-1 order-lg-2">
                <div class="cover-container rounded" style="background-image:url(&quot;img/hero-3.png&quot;);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-white">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="card-row">
                    <div class="col-12 col-lg-6 mb-3">
                        <div class="item is-bordered is-static py-6 h-100">
                            <div class="item-row justify-content-center">
                                <a href="/user/u/83ce6f58">
                                    <div class="thumbnail is-oval is-xl" title="" data-toggle="tooltip" data-original-title="Groupe 22 - Citéo">
                                        <span class="icon icon-account"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="item-row">
                                <div class="item-row ml-6">
                                    <div class="item-content">
                                        <div class="item-title is-truncated h4 mb-0 text-center">
                                            <a href="/user/u/83ce6f58">Steven Zabandith</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-options dropdown">
                                    <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-dots-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/user/u/83ce6f58">Afficher le profil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <div class="item is-bordered is-static py-6 h-100">
                            <div class="item-row justify-content-center">
                                <a href="/user/u/2ae529a0">
                                    <div class="thumbnail is-oval is-xl" title="" data-toggle="tooltip" data-original-title="Groupe 22 - Citéo">
                                        <span class="icon icon-account"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="item-row">
                                <div class="item-row ml-6">
                                    <div class="item-content">
                                        <div class="item-title is-truncated h4 mb-0 text-center">
                                            <a href="/user/u/2ae529a0">Eloi JAUGEY</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-options dropdown">
                                    <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-dots-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/user/u/2ae529a0">Afficher le profil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <div class="item is-bordered is-static py-6 h-100">
                            <div class="item-row justify-content-center">
                                <a href="/user/u/57ac0613">
                                    <div class="thumbnail is-oval is-xl" title="" data-toggle="tooltip" data-original-title="Groupe 22 - Citéo">
                                        <span class="icon icon-account"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="item-row">
                                <div class="item-row ml-6">
                                    <div class="item-content">
                                        <div class="item-title is-truncated h4 mb-0 text-center">
                                            <a href="/user/u/57ac0613">Ariane TRUFFIER</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-options dropdown">
                                    <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-dots-vertical"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/user/u/57ac0613">Afficher le profil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>