<section class="section">
    <div class="container-xl">
        <div class="row justify-content-center application-section">
            <div class=" col-12 col-lg-6 d-flex justify-content-center flex-column order-2 order-lg-1 py-5">
                <h1 class="mb-2">Green energy</h1>
                <ul class="list-inline list-dotted text-muted">
                    <li class="list-inline-item"><a class="icon icon-school" href="/program/esg-awards">ESG Awards</a></li>
                    <li class="list-inline-item small"><span class="icon icon-clock-outline">01/30/2023</span></li>
                    <li class="list-inline-item small">2 members</li>
                </ul>
                <p>Linking our illuminated ads to green energy</p>
                <ul class="list-inline ">
                    <li class="list-inline-item mr-3"><a class="btn btn-primary" href="/program/esg-awards/project/635/apply">Join</a></li>
                    <li class="list-inline-item"><a class="btn btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="635">Chat &amp; Video</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <div class="cover-container rounded" style="background-image:url(&quot;img/hero-3.png&quot;);background-repeat:no-repeat; background-position:center; background-size:cover;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-8 application-section">
                <h4 class="application-section--title">About the project</h4>
                <div class="application-section card p-5">
                    <h4>Lorem ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin, eros scelerisque scelerisque pellentesque, nulla nisl dignissim est, at elem </p>
                    <h4>Lorem ipsum</h4>
                    <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Lorem</a><a class="badge badge-pill badge-tag" href="#">Ipsum</a><a class="badge badge-pill badge-tag" href="#">Lorem</a></div>
                    <h4>Lorem ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin, eros scelerisque scelerisque pellentesque, nulla nisl dignissim est, at elem entum felis diam eget massa.</p>
                    <h4>Lorem ipsum</h4>
                    <div class="badges mb-3"><a class="badge badge-pill badge-tag" href="#">Isum</a></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin, eros scelerisque scelerisque pellentesque, nulla nisl dignissim est, at elem entum felis diam eget massa.</p>
                </div>
                <div class="application-section">
                    <div class="comment-thread-container">
                        <h4>
                            <span class="comment-title" data-singular="Comment" data-plural="Comments"> Comment </span> (<span class="comment-count">1</span>)
                        </h4>
                        <div class="comment-list messages" id="comments">
                            <div class="message comment-list-item" data-id="1565">
                                <a href="/user/u/ba594ced">
                                    <div class="thumbnail is-oval is-md">
                                        <span class="icon icon-account"></span>
                                    </div>
                                </a>
                                <div class="message-body ml-3">
                                    <div class="message-row">
                                        <div class="message-content">
                                            <a class="font-weight-bold text-decoration-none" href="/user/u/ba594ced">Pedro Miguel</a>
                                            <p class="mb-0">This is a beautiful test comment. Also it's very polite. Thank you for reading.</p>
                                        </div>
                                        <div class="message-options dropdown">
                                            <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="icon icon-dots-vertical"></span>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a href="#" class="dropdown-item is-danger reject-comment" data-url="/api/comment/1565/reject"> Reject </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-row">
                                        <ul class="metas is-list small">
                                            <li>03/23/2023 05:35</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message commentFormContainer">
                            <div class="thumbnail is-oval">
                                <span class="icon icon-account"></span>
                            </div>
                            <div class="message-body">
                                <form name="comment" method="post" action="/api/challenge/53/application/635/comment/create" class="form-inline w-100 align-items-start">
                                    <div class="form-group mb-0 flex-grow-1 mr-3">
                                        <label class="sr-only checkbox-custom font-weight-bold required" for="comment_content">Add a comment...</label>
                                        <textarea id="comment_content" name="comment[content]" required="required" length="500" maxlength="500" placeholder="Say something here..." class="form-control flex-grow-1 form-control" rows="4" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 102px;"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary"> Add </button>
                                    <input type="hidden" id="comment__token" name="comment[_token]" value="OJgz4cP2oserjZTV6yxO0cbKKh-hSTLTRuXHerxBtOo">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 application-section">
                <h4 class="application-section--title">Project members</h4>
                <div class="item is-bordered">
                    <div class="item-row">
                        <div class="item-row">
                            <a href="/user/u/0d3e2b04">
                                <div class="thumbnail is-oval " title="" data-toggle="tooltip"
                                     data-original-title="La piscine 2022 overview">
                                    <img src="https://inject-prod.s3.amazonaws.com/images/c5268f41-f646-4fe1-b783-315029757ad2/sq150.png"
                                         width="150" height="150" class=" rounded-circle">
                                </div>
                            </a>
                            <div class="item-content ml-4 py-1">
                                <a href="/user/u/0d3e2b04"
                                   class="item-title h4 font-weight-normal mb-0 stretched-link">Marine Martinez</a>
                                <ul class="metas is-list ">
                                    <li> Startup Manager Schoolab </li>
                                    <li> Paris, FR </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-options dropdown">
                            <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="icon icon-dots-vertical"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/user/u/0d3e2b04">Show profile</a><a class="dropdown-item"
                                   data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item is-bordered">
                    <div class="item-row">
                        <div class="item-row">
                            <a href="/user/u/158c2ec5">
                                <div class="thumbnail is-oval " title="" data-toggle="tooltip"
                                     data-original-title="La piscine 2022 overview">
                                    <img src="https://inject-prod.s3.amazonaws.com/images/71446890-6864-4521-9548-8f5973075b3a/sq150.jpeg"
                                         width="150" height="150" class=" rounded-circle">
                                </div>
                            </a>
                            <div class="item-content ml-4 py-1">
                                <a href="/user/u/158c2ec5"
                                   class="item-title h4 font-weight-normal mb-0 stretched-link">Pierre Forestier</a>
                                <ul class="metas is-list ">
                                    <li> Startup Manager Schoolab </li>
                                    <li> Paris, FR </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-options dropdown">
                            <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="icon icon-dots-vertical"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/user/u/158c2ec5">Show profile</a><a class="dropdown-item"
                                   data-toggle="modal" data-target="#modalOpenThread" data-user-id="1782" href="#">Send a message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item is-bordered">
                    <div class="item-row">
                        <div class="item-row">
                            <a href="/user/u/53825949">
                                <div class="thumbnail is-oval " title="" data-toggle="tooltip"
                                     data-original-title="La piscine 2022 overview">
                                    <img src="https://inject-prod.s3.amazonaws.com/images/731305ed-0603-4910-9e93-65dd89ef302a/sq150.jpeg"
                                         width="150" height="150" class=" rounded-circle">
                                </div>
                            </a>
                            <div class="item-content ml-4 py-1">
                                <a href="/user/u/53825949"
                                   class="item-title h4 font-weight-normal mb-0 stretched-link">Sarah Mecheneau</a>
                                <ul class="metas is-list ">
                                    <li> Business Developer / Program Manager - Programmes étudiants internationaux Schoolab </li>
                                    <li> FR </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-options dropdown">
                            <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="icon icon-dots-vertical"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/user/u/53825949">Show profile</a><a class="dropdown-item"
                                   data-toggle="modal" data-target="#modalOpenThread" data-user-id="2286" href="#">Send a message</a>
                            </div>
                        </div>
                    </div>
                </div> <a class="btn btn-lg btn-block btn-default" href="/program/75/managers"> Show more </a>
            </div>
        </div>
    </div>
</section>