<div id="tables-folders" class="row d-flex row-gap-16px pb-16px border-bottom">

    <div class="col-lg-3 col-md-6">
        <div class="item is-bordered active">
            <div class="item-row">
                <div class="item-row">
                    <span class="icon icon-folder is-sm text-muted"></span>
                    <div class="item-content ml-4 py-1">
                        <a href="#" class="item-title h4 mb-0 stretched-link text-truncate">All</a>
                        <ul class="item-caption metas small is-list">
                            <li>120 resources</li>
                        </ul>
                    </div>
                    <a class="btn btn-sm btn-transparent btn-icon text-muted z-1" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="item is-bordered ">
            <div class="item-row">
                <div class="item-row">
                    <span class="icon icon-folder is-sm text-muted"></span>
                    <div class="item-content ml-4 py-1">
                        <a href="#" class="item-title h4 mb-0 stretched-link text-truncate">Learning course</a>
                        <ul class="item-caption metas small is-list">
                            <li>4 resources</li>
                        </ul>
                    </div>
                    <a class="btn btn-sm btn-transparent btn-icon text-muted z-1" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="item is-bordered ">
            <div class="item-row">
                <div class="item-row">
                    <span class="icon icon-folder is-sm text-muted"></span>
                    <div class="item-content ml-4 py-1">
                        <a href="#" class="item-title h4 mb-0 stretched-link text-truncate">A very long label that is not entirely visible</a>
                        <ul class="item-caption metas small is-list">
                            <li>4 resources</li>
                        </ul>
                    </div>
                    <a class="btn btn-sm btn-transparent btn-icon text-muted z-1" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="item is-bordered ">
            <div class="item-row">
                <div class="item-row">
                    <span class="icon icon-folder is-sm text-muted"></span>
                    <div class="item-content ml-4 py-1">
                        <a href="#" class="item-title h4 mb-0 stretched-link text-truncate">Name</a>
                        <ul class="item-caption metas small is-list">
                            <li>4 resources</li>
                        </ul>
                    </div>
                    <a class="btn btn-sm btn-transparent btn-icon text-muted z-1" data-toggle="dropdown" aria-expanded="false" data-boudary="window" href="#">
                        <span class="icon icon-dots-vertical"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>