<div class="row">
    <div class="col-12 application-section">
        <div class="application-section">
            <div class="d-flex d-lg-inline-flex flex-column flex-lg-row mb-5">
                <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                    <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="search" placeholder="Search ...">
                </div>
                <div>
                    <select class="custom-select small">
                        <option class="small" selected="">Organizations</option>
                        <option value="1">Schoolab</option>
                        <option value="2">Raiselab</option>
                        <option value="3">Moho</option>
                    </select>
                </div>
            </div>
            <div class="card m-0 p-5 mb-5">
                <small class="text-uppercase text-muted mb-3 flex-fill">Schoolab</small>
                <div class="d-flex flex-column flex-sm-row align-items-start mb-5">
                    <div class="d-flex flex-fill  mb-3 mb-sm-0">
                        <div class="mr-3">
                            <div class="thumbnail is-lg">
                                <div class="icon icon--letter is-sm"><span class="py-1 ">m</span></div>
                            </div>
                        </div>
                        <div>
                            <div class="h4 mb-0">My project</div>
                            <ul class="list-inline list-dotted text-muted mb-0">
                                <li class="list-inline-item small">Program 1</li>
                                <li class="list-inline-item small">Ongoing</li>
                                <li class="list-inline-item small">3 members</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mb-5 d-flex justify-content-center">
                    <ul class="list-stepper">
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-0">Project creation</p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="50" style="--percent:50;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-0"><strong>Project submission</strong></p>
                                <p class="m-0 small text-muted">5 days left</p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-0">Project accepted</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column flex-md-row">
                    <div class="flex-fill btn-group mr-0 mr-md-3 mb-5 mb-md-0">
                        <a class="btn btn-default btn-block" href="#">
                            <span>View application</span>
                        </a>
                        <a type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-url="#" data-toggle="modal"><span>Delete my participation</span></a>
                        </div>
                    </div>
                    <div data-toggle="tooltip" data-placement="top" data-original-title="The project overview will be accessible once your application is accepted." class="d-flex flex-fill">
                        <button class="flex-fill btn btn-default  mb-5 mb-md-0" href="#" disabled="">
                            <span>Project overview</span>
                        </button>
                    </div>
                </div>
            
            </div>
            <div class="card m-0 p-5 mb-5">
                <small class="text-uppercase text-muted mb-3 flex-fill">Schoolab</small>
                <div class="d-flex flex-column flex-sm-row align-items-start mb-5">
                    <div class="d-flex flex-fill  mb-3 mb-sm-0">
                        <div class="mr-3">
                            <div class="thumbnail is-lg">
                                <div class="icon icon--letter is-sm"><span class="py-1 ">m</span></div>
                            </div>
                        </div>
                        <div>
                            <div class="h4 mb-0">My project</div>
                            <ul class="list-inline list-dotted text-muted mb-0">
                                <li class="list-inline-item small">Program 1</li>
                                <li class="list-inline-item small">Ongoing</li>
                                <li class="list-inline-item small">3 members</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mb-5 d-flex justify-content-center">
                    <ul class="list-stepper">
                        <li class="list-stepper-item">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-0">Team application</p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="50" style="--percent:50;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-0"><strong>Team submission</strong></p>
                                <p class="m-0 small text-muted">5 days left</p>
                            </div>
                        </li>
                        <li class="list-stepper-item is-progress">
                            <svg class="progress-circle-container is-small flex-shrink-0" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                <circle class="progress-circle progress-circle-bg"></circle>
                                <circle class="progress-circle progress-circle-percent"></circle>
                                <path class="progress-circle-icon is-checked" d="M21.128 9.5L13.948 16.724L10.872 13.624L8 16.52L13.948 22.5L24 12.386L21.128 9.5Z"></path>
                            </svg>
                            <div class="pl-3">
                                <p class="m-0">Team accepted</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column flex-md-row">
                    <div class="flex-fill btn-group mr-0 mr-md-3 mb-5 mb-md-0">
                        <a class="btn btn-default btn-block" href="#">
                            <span>View application</span>
                        </a>
                        <a type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-url="#" data-toggle="modal"><span>Delete my participation</span></a>
                        </div>
                    </div>
                    <div data-toggle="tooltip" data-placement="top" data-original-title="The project overview will be accessible once your application is accepted." class="d-flex flex-fill">
                        <button class="flex-fill btn btn-default  mb-5 mb-md-0" href="#" disabled="">
                            <span>Project overview</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card m-0 p-5 mb-5">
                <small class="text-uppercase text-muted mb-3 flex-fill">Schoolab</small>
                <div class="d-flex flex-column flex-sm-row align-items-start mb-5">
                    <div class="d-flex flex-fill  mb-3 mb-sm-0">
                        <div class="mr-3">
                            <div class="thumbnail is-lg">
                                <div class="icon icon--letter is-sm"><span class="py-1 ">m</span></div>
                            </div>
                        </div>
                        <div>
                            <div class="h4 mb-0">My project</div>
                            <ul class="list-inline list-dotted text-muted mb-0">
                                <li class="list-inline-item small">Program 1</li>
                                <li class="list-inline-item small">Ongoing</li>
                                <li class="list-inline-item small">3 members</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <div class="d-flex justify-content-between mb-3">
                        <span class="small text-muted">Objectives</span>
                        <span class="small text-muted"> In progress</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="progress flex-fill mr-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="small text-muted">1/5</span>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row">
                    <a class="flex-fill  btn-default btn mr-0 mr-md-3 mb-5 mb-md-0" href="#">
                        <span>View objectives</span>
                    </a>
                    <a class="flex-fill btn-default btn mb-5 mb-md-0" href="#">
                        <span>Project overview</span>
                    </a>
                </div>
            </div>
            <div class="card m-0 p-5 mb-5">
                <small class="text-uppercase text-muted mb-3 flex-fill">Schoolab</small>
                <div class="d-flex flex-column flex-sm-row align-items-start mb-5">
                    <div class="d-flex flex-fill  mb-3 mb-sm-0">
                        <div class="mr-3">
                            <div class="thumbnail is-lg">
                                <div class="icon icon--letter is-sm"><span class="py-1 ">m</span></div>
                            </div>
                        </div>
                        <div>
                            <div class="h4 mb-0">My project</div>
                            <ul class="list-inline list-dotted text-muted mb-0">
                                <li class="list-inline-item small">Program 1</li>
                                <li class="list-inline-item small">Ongoing</li>
                                <li class="list-inline-item small">3 members</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row">
                    <a class="flex-fill btn-default btn mb-5 mb-md-0" href="#">
                        <span>Project overview</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>