<div class="row">
    <div class="col-12">
        <div class="application-section">
            <h3 class="application-section--title">Activities</h3>
            <div class="row">
                <div class=" col-lg-4  col-12 mb-5 d-flex align-items-stretch">
                    <div class="bg-light rounded m-0 p-7 flex-fill d-flex flex-row">
                        <div class="flex-fill text-center">
                            <p class="h1">3<small class="text-muted"> sessions</small></p>
                            <small>Coaching</small>
                        </div>                    
                    </div>
                </div>
                <div class=" col-lg-4  col-12 mb-5 d-flex align-items-stretch">
                    <div class="bg-light rounded m-0 p-7 flex-fill d-flex flex-row">                  
                        <div class="flex-fill text-center">
                            <p class="h1">35<small class="text-muted"> hours</small></p>
                            <small>Total time </small>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4  col-12 mb-5 d-flex align-items-stretch">
                    <div class="bg-light rounded m-0 p-7 flex-fill d-flex flex-row">
                        <div class="flex-fill text-center">
                            <p class="h1">5<small class="text-muted"> projects</small></p>
                            <small>Mentored</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="application-section">
            <h3 class="application-section--title">Coaching sessions</h3>
            <div class="card m-0 p-5 mb-5">
                <div class="d-flex d-lg-inline-flex flex-column flex-lg-row mb-5">
                    <div class="reloadChallenges btn-group btn-group-toggle btn-filter-radios mr-lg-3 mr-0  mb-4 mb-lg-0" data-toggle="buttons">
                        <label class="btn btn-default btn-lg active"><input type="radio" name="" id="Past" value="Past" checked>Past</label>
                        <label class="btn btn-default btn-lg"><input type="radio" name="" value="Upcoming" id="Upcoming">Upcoming </label>
                        <label class="btn btn-default btn-lg"><input type="radio" name="" value="All" id="All">All </label>
                    </div>
                    <div class="mb-3 mb-lg-0">
                        <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="search" placeholder="Search ...">
                    </div>
                </div>
                <table id="sg-datatables-coaching_event_datatable" class="table dataTable no-footer dtr-inline mb-5" cellspacing="0" width="100%" role="grid" aria-describedby="sg-datatables-coaching_event_datatable_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 35%;" aria-sort="descending" aria-label="Date: activate to sort column ascending">Coaching session</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 35%" aria-label="Duration">Program</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 15%;" aria-label="Note for PM">Note for PM</th>
                            <th class="sorting" tabindex="0" aria-controls="sg-datatables-coaching_event_datatable" rowspan="1" colspan="1" style="width: 15%" aria-label="Team note: activate to sort column ascending">Team note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0">
                                <div class="d-flex flex-fill  mb-3 mb-sm-0">
                                    <div class="mr-3">
                                        <div class="thumbnail is-session" title="30/11/2023">
                                            <span class="date">30 NOV</span>
                                            <span class="hour">18h30</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0">Project Name</p>
                                        <ul class="list-inline list-dotted text-muted mb-0">
                                            <li class="list-inline-item small">Member</li>
                                            <li class="list-inline-item small">Member</li>
                                            <li class="list-inline-item small">Member</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="mb-0">Program Name</p>
                                    <small class="text-muted">Ongoing</small>
                                </div>
                            </td>
                            <td>
                                <div class="text-muted" data-toggle="tooltip" data-placement="left" title="Programmes Managers Note">
                                    <a class="btn btn-default btn-sm py-3 px-4" href="#"><span class="icon icon-note-text-outline text-muted"></span></a>
                                </div>
                            </td>
                            <td>
                                <div class="text-muted" data-toggle="tooltip" data-placement="left" title="Team Note">
                                    <a class="btn btn-default btn-sm py-3 px-4" href="#"><span class="icon icon-note-text-outline text-muted"></span></a>
                                </div>
                            </td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1" tabindex="0">
                                <div class="d-flex flex-fill  mb-3 mb-sm-0">
                                    <div class="mr-3">
                                        <div class="thumbnail is-session" title="30/11/2023">
                                            <span class="date">30 NOV</span>
                                            <span class="hour">18h30</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0">Project Name</p>
                                        <ul class="list-inline list-dotted text-muted mb-0">
                                            <li class="list-inline-item small">Member</li>
                                            <li class="list-inline-item small">Member</li>
                                            <li class="list-inline-item small">Member</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p class="mb-0">Program Name</p>
                                    <small class="text-muted">Ongoing</small>
                                </div>
                            </td>
                            <td>
                                <div class="text-muted" data-toggle="tooltip" data-placement="left" title="Programmes Managers Note">
                                    <a class="btn btn-default btn-sm py-3 px-4" href="#"><span class="icon icon-note-text-outline text-muted"></span></a>
                                </div>
                            </td>
                            <td>
                                <div class="text-muted" data-toggle="tooltip" data-placement="left" title="Team Note">
                                    <a class="btn btn-default btn-sm py-3 px-4" href="#"><span class="icon icon-note-text-outline text-muted"></span></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex">
                    <div class="dataTables_info flex-fill" id="sg-datatables-user_datatable_info" role="status" aria-live="polite">Showing 1 to 36 of 36 entries</div>
                    <div class="dataTables_paginate paging_simple_numbers" id="sg-datatables-user_datatable_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="sg-datatables-user_datatable_previous"><a href="#" aria-controls="sg-datatables-user_datatable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                            <li class="paginate_button page-item active"><a href="#" aria-controls="sg-datatables-user_datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item next disabled" id="sg-datatables-user_datatable_next"><a href="#" aria-controls="sg-datatables-user_datatable" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="application-section">
            <h3 class="application-section--title">Mentored projects</h3>
            <div class="d-flex d-lg-inline-flex flex-column flex-lg-row mb-5">
                <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                    <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="search" placeholder="Search ...">
                </div>
                <div>
                    <select class="custom-select small">
                        <option class="small" selected="">Programs</option>
                        <option value="1">Program 1</option>
                        <option value="2">Program 2</option>
                        <option value="3">Program 3</option>
                    </select>
                </div>
            </div>
            <div class="row items">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="item is-bordered is-static h-100">
                        <div class="item-cover cursorLink" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/604/preview?f=gp">
                            <picture>
                                <source media="(max-width:576px)" srcset="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co576x192.jpeg">
                                <source media="(max-width:768px)" srcset="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co768x256.jpeg">
                                <source media="(max-width:951px)" srcset="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co951x600.jpeg">
                                <source media="(max-width:1140px)" srcset="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co1140x380.jpeg">
                                <img class="img-fluid d-block" src="https://inject-demo.s3.amazonaws.com/images/c17572e7-fb1e-48ac-b80d-bd77c815ed02/co1140x380.jpeg" alt="" width="1140" height="380">
                            </picture>
                        </div>
                        <div class="item-row position-relative">
                            <div class="item-content py-1">
                                <h3 class="item-title mb-0">Equality for all</h3>
                                <ul class="list-inline list-dotted text-muted mb-0">
                                    <li class="list-inline-item small">Organization</li>
                                    <li class="list-inline-item small">Program</li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-row mt-2">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-demo.s3.amazonaws.com/images/268a3d8e-cabc-4d2b-b524-9310d1aadf53/sq150.jpeg" width="150" height="150" class=" is-xs rounded-circle">
                                        </div>
                                    </div>
                                    <small class="text-muted">1 member(s)</small>
                                </li>
                            </ul>
                        </div>
                        <div class="item-actions mt-2 pb-0">
                            <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Chat &amp; Video</a>
                            <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Project overview</a>
                        </div>
                        <div class="item-row mt-2">
                            <ul class="item-caption metas small is-list">
                                <li><span class="icon icon-clock-outline">&nbsp;1h30</span></li>
                                <li>2 sessions</li>
                            </ul>
                        </div>
                        <div class="item-actions mt-auto">
                            <a class="btn btn-block btn-primary btn-lg btn-icon" href="/program/53/expert/coaching-session/create"><span class="icon icon-plus-circle"></span><span>Add a coaching</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="item is-bordered is-static h-100">
                        <div class="item-cover cursorLink" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/612/preview?f=gp">
                            <picture>
                                <source media="(max-width:576px)" srcset="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co576x192.jpeg">
                                <source media="(max-width:768px)" srcset="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co768x256.jpeg">
                                <source media="(max-width:951px)" srcset="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co951x600.jpeg">
                                <source media="(max-width:1140px)" srcset="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co1140x380.jpeg">
                                <img class="img-fluid d-block" src="https://inject-demo.s3.amazonaws.com/images/7241300b-a008-4101-b202-7f65d47c7382/co1140x380.jpeg" alt="" width="1140" height="380">
                            </picture>
                        </div>
                        <div class="item-row position-relative">
                            <div class="item-content py-1">
                                <h3 class="item-title mb-0">Wind turbine</h3>
                                <ul class="list-inline list-dotted text-muted mb-0">
                                    <li class="list-inline-item small">Organization</li>
                                    <li class="list-inline-item small">Program</li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-row mt-2">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-demo-uploadable.s3.amazonaws.com/images/638a553c-5c54-4658-a1cb-38c973d3041a.jpeg" width="150" height="150" class=" is-xs rounded-circle">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-demo.s3.amazonaws.com/images/f957b838-3051-4c87-a298-5e72e7e9762c/sq150.jpeg" width="150" height="150" class=" is-xs rounded-circle">
                                        </div>
                                    </div>
                                    <small class="text-muted">2 member(s)</small>
                                </li>
                            </ul>
                        </div>
                        <div class="item-actions mt-2 pb-0">
                            <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Chat &amp; Video</a>
                            <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Project overview</a>
                        </div>
                        <div class="item-row mt-2">
                            <ul class="item-caption metas small is-list">
                                <li><span class="icon icon-clock-outline">&nbsp;1h30</span></li>
                                <li>2 sessions</li>
                            </ul>
                        </div>
                        <div class="item-actions mt-auto">
                            <a class="btn btn-block btn-primary btn-lg btn-icon" href="/program/53/expert/coaching-session/create"><span class="icon icon-plus-circle"></span><span>Add a coaching</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="item is-bordered is-static h-100">
                        <div class="item-cover cursorLink" data-toggle="modal" data-target="#loadingContentModal" data-url="/challenge/application/612/preview?f=gp">
                            <picture>
                                <source media="(max-width:576px)" srcset="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co576x192.jpeg">
                                <source media="(max-width:768px)" srcset="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co768x256.jpeg">
                                <source media="(max-width:951px)" srcset="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co951x600.jpeg">
                                <source media="(max-width:1140px)" srcset="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co1140x380.jpeg">
                                <img class="img-fluid d-block" src="https://inject-demo.s3.amazonaws.com/images/645a913c-6fa9-483c-8c0c-152fefc15cf5/co1140x380.jpeg" alt="" width="1140" height="380">
                            </picture>
                        </div>
                        <div class="item-row position-relative">
                            <div class="item-content py-1">
                                <h3 class="item-title mb-0">One world</h3>
                                <ul class="list-inline list-dotted text-muted mb-0">
                                    <li class="list-inline-item small">Organization</li>
                                    <li class="list-inline-item small">Program</li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-row mt-2">
                            <ul class="metas is-list">
                                <li>
                                    <div class="thumbnail-stack mr-2">
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-demo-uploadable.s3.amazonaws.com/images/638a553c-5c54-4658-a1cb-38c973d3041a.jpeg" width="150" height="150" class=" is-xs rounded-circle">
                                        </div>
                                        <div class="thumbnail is-oval is-xs">
                                            <img src="https://inject-demo.s3.amazonaws.com/images/f957b838-3051-4c87-a298-5e72e7e9762c/sq150.jpeg" width="150" height="150" class=" is-xs rounded-circle">
                                        </div>
                                    </div>
                                    <small class="text-muted">2 member(s)</small>
                                </li>
                            </ul>
                        </div>
                        <div class="item-actions mt-2 pb-0">
                            <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Chat &amp; Video</a>
                            <a class="btn btn-lg btn-block btn-default" href="#" data-toggle="modal" data-target="#modalOpenThread" data-application-id="604">Project overview</a>
                        </div>
                        <div class="item-row mt-2">
                            <ul class="item-caption metas small is-list">
                                <li><span class="icon icon-clock-outline">&nbsp;1h30</span></li>
                                <li>2 sessions</li>
                            </ul>
                        </div>
                        <div class="item-actions mt-auto">
                            <a class="btn btn-block btn-primary btn-lg btn-icon" href="/program/53/expert/coaching-session/create"><span class="icon icon-plus-circle"></span><span>Add a coaching</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-lg btn-block btn-default" href="#"> View all </a>
        </div>
      
    </div>
</div>