<div class="row">
    <div class="col-12 application-section">
        <div class="application-section">
            <h4 class="application-section--title">Activities</h4>
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-5 d-flex align-items-stretch">
                    <div class="card m-0 p-7 flex-fill d-flex flex-row">
                        <div class="flex-fill text-center">
                            <p class="h1">4<small class="text-muted"> sessions</small></p>
                            <small>Evaluation</small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-5 d-flex align-items-stretch">
                    <div class="card m-0 p-7 flex-fill d-flex flex-row">
                        <div class="flex-fill text-center">
                            <p class="h1">2<small class="text-muted"> /10</small></p>
                            <small>Participants evaluated</small>
                        </div>
                        <div class="flex-fill text-center">
                            <p class="h1">4<small class="text-muted"> /10</small></p>
                            <small>Projects evaluated </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="application-section">
            <h4 class="application-section--title">Programs</h4>
            <div class="d-flex d-lg-inline-flex flex-column flex-lg-row mb-5">
                <div class="mr-lg-3 mr-0 mb-3 mb-lg-0">
                    <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="search" placeholder="Search ...">
                </div>
                <div>
                    <select class="custom-select small">
                        <option class="small" selected="">Programs</option>
                        <option value="1">Program 1</option>
                        <option value="2">Program 2</option>
                        <option value="3">Program 3</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12 mb-7 d-flex align-items-stretch ">
                    <div class="item is-bordered m-0 p-5 flex-fill d-flex position-relative">
                        <div class="item-row flex-column align-items-center justify-content-between">
                            <div class="d-flex w-100 flex-column flex-sm-row align-items-start mb-5">
                                <div class="d-flex flex-fill border-bottom pb-5 mb-3 mb-sm-0">
                                    <div class="mr-3">
                                        <div class="icon icon--program"><span>pr1</span></div>
                                    </div>
                                    <div>
                                        <div class="h4 mb-0">Program 1</div>
                                        <ul class="list-inline list-dotted text-muted mb-0">
                                            <li class="list-inline-item small">Ongoing</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="h5 text-center mb-5">Lorem Ipsum</p>
                            <div class="mb-5 d-flex flex-column align-items-center">
                                <svg class="progress-circle-container is-xl mb-3" viewBox="0 0 32 32" data-percent="100" style="--percent:100;">
                                    <circle class="progress-circle progress-circle-bg"></circle>
                                    <circle class="progress-circle progress-circle-percent"></circle>
                                    <text class="progress-circle-text" x="16" y="15">4/4</text>
                                    <text class="progress-circle-subtext" x="16" y="20">Particpants</text>
                                </svg>
                                <div class="d-flex flex-column justify-content-center mb-5 text-center">
                                    <span class="mb-2 h5">Ongoing</span>
                                    <span class="mb-2 small">Due date</span>
                                    <span class="icon icon-calendar-outline small">&nbsp;15/10/2021</span>
                                </div>
                            </div>
                            <button class="btn btn-block btn-default stretched-link" href="#"> View session </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mb-7 d-flex align-items-stretch ">
                    <div class="item is-bordered m-0  p-5 flex-fill d-flex position-relative">
                        <div class="item-row flex-column align-items-center justify-content-between">
                            <div class="d-flex w-100 flex-column flex-sm-row align-items-start mb-5">
                                <div class="d-flex flex-fill border-bottom pb-5 mb-3 mb-sm-0">
                                    <div class="mr-3">
                                        <div class="icon icon--program"><span>pr2</span></div>
                                    </div>
                                    <div>
                                        <div class="h4 mb-0">Program 2</div>
                                        <ul class="list-inline list-dotted text-muted mb-0">
                                            <li class="list-inline-item small">Ongoing</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="h5 text-center mb-5">Lorem Ipsum</p>
                            <div class="mb-5 d-flex flex-column align-items-center">
                                <svg class="progress-circle-container is-xl mb-3" viewBox="0 0 32 32" data-percent="20" style="--percent:20;">
                                    <circle class="progress-circle progress-circle-bg"></circle>
                                    <circle class="progress-circle progress-circle-percent"></circle>
                                    <text class="progress-circle-text" x="16" y="15">1/4</text>
                                    <text class="progress-circle-subtext" x="16" y="20">Participatns</text>
                                </svg>
                                <div class="d-flex flex-column justify-content-center mb-5 text-center">
                                    <span class="mb-2 h5">Ongoing</span>
                                    <span class="mb-2 small">Due date</span>
                                    <span class="icon icon-calendar-outline small">&nbsp;15/10/2021</span>
                                </div>
                            </div>
                            <button class="btn btn-block btn-default stretched-link" href="#"> View session </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mb-7 d-flex align-items-stretch ">
                    <div class="item is-bordered m-0  p-5 flex-fill d-flex position-relative">
                        <div class="item-row flex-column align-items-center justify-content-between">
                            <div class="d-flex w-100 flex-column flex-sm-row align-items-start mb-5">
                                <div class="d-flex flex-fill border-bottom pb-5 mb-3 mb-sm-0">
                                    <div class="mr-3">
                                        <div class="icon icon--program"><span>pr3</span></div>
                                    </div>
                                    <div>
                                        <div class="h4 mb-0">Program 3</div>
                                        <ul class="list-inline list-dotted text-muted mb-0">
                                            <li class="list-inline-item small">Ongoing</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="h5 text-center mb-5">Lorem Ipsum</p>
                            <div class="mb-5 d-flex flex-column align-items-center">
                                <svg class="progress-circle-container is-xl mb-3" viewBox="0 0 32 32" data-percent="0" style="--percent:0;">
                                    <circle class="progress-circle progress-circle-bg"></circle>
                                    <circle class="progress-circle progress-circle-percent"></circle>
                                    <text class="progress-circle-text" x="16" y="15">0/4</text>
                                    <text class="progress-circle-subtext" x="16" y="20">Projects</text>
                                </svg>
                                <div class="d-flex flex-column justify-content-center mb-5 text-center">
                                    <span class="mb-2 h5">Ongoing</span>
                                    <span class="mb-2 small">Due date</span>
                                    <span class="icon icon-calendar-outline small">&nbsp;15/10/2021</span>
                                </div>
                            </div>
                            <button class="btn btn-block btn-default stretched-link" href="#"> View session </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>