<fieldset class="form-group">
    <legend class="label">Use case</legend>
    <div class="grid gap-xs mt-2xs" id="id-4">
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-radio">
                <input type="radio" id="id-4_0" name="form2" class="custom-control-input" value="0">
                <label class="text-nowrap custom-control-label custom-control-label" for="id-4_0">Community</label>
                <div class="input-box"></div>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-radio">
                <input type="radio" id="id-4_1" name="form2" class="custom-control-input" value="1" checked="checked">
                <label class="text-nowrap custom-control-label custom-control-label" for="id-4_1">Hackathon</label>
                <div class="input-box"></div>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-radio">
                <input type="radio" id="id-4_2" name="form2" class="custom-control-input" value="2">
                <label class="text-nowrap custom-control-label custom-control-label" for="id-4_2">Incubator</label>
                <div class="input-box"></div>
            </div> 
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-radio">
                <input type="radio" id="id-4_3" name="form2" class="custom-control-input" value="0">
                <label class="text-nowrap custom-control-label custom-control-label" for="id-4_3">Innovation</label>
                <div class="input-box"></div>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-radio">
                <input type="radio" id="id-4_4" name="form2" class="custom-control-input" value="1" checked="checked">
                <label class="text-nowrap custom-control-label custom-control-label" for="id-4_4">Learning Course</label>
                <div class="input-box"></div>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-radio">
                <input type="radio" id="id-4_5" name="form2" class="custom-control-input" value="2">
                <label class="text-nowrap custom-control-label custom-control-label" for="id-4_5">Learning expedition</label>
                <div class="input-box"></div>
            </div> 
        </div>                 
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-radio">
                <input type="radio" id="id-4_6" name="form2" class="custom-control-input" value="0">
                <label class="text-nowrap custom-control-label custom-control-label" for="id-4_6">Learning Workshop</label>
                <div class="input-box"></div>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-radio">
                <input type="radio" id="id-4_7" name="form2" class="custom-control-input" value="1" checked="checked">
                <label class="text-nowrap custom-control-label custom-control-label" for="id-4_7">Open Innovation</label>
                <div class="input-box"></div>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-radio">
                <input type="radio" id="id-4_8" name="form2" class="custom-control-input" value="2">
                <label class="text-nowrap custom-control-label custom-control-label" for="id-4_8">Other</label>
                <div class="input-box"></div>
            </div>  
        </div>                         
    </div>
</fieldset>