<fieldset class="form-group">
    <legend class="label">SDGs</legend>
    <small id="exemple_help" class="form-text text-muted">
        Choose on which SDGs this program have an impact. <a href="https://sdgs.un.org/goals" target="_blank">Open full SDGs list</a>
    </small>
    <div class="form-options grid gap-xs" id="id-4" aria-describedby="exemple_help">
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_0" name="form2" class="custom-control-input" value="0">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_0">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-1 is-24px">
                        <span>1</span>
                    </div>
                    <span>No poverty</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_1" name="form2" class="custom-control-input" value="1">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_1">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-2 is-24px">
                        <span>2</span>
                    </div>
                    <span>Zero hunger</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_2" name="form2" class="custom-control-input" value="2">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_2">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-3 is-24px">
                        <span>3</span>
                    </div>
                    <span>Good health and well being</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_3" name="form3" class="custom-control-input" value="3">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_3">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-4 is-24px">
                        <span>4</span>
                    </div>
                    <span>Quality education</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_4" name="form4" class="custom-control-input" value="4">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_4">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-5 is-24px">
                        <span>5</span>
                    </div>
                    <span>Gender equality</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_5" name="form5" class="custom-control-input" value="5">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_5">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-6 is-24px">
                        <span>6</span>
                    </div>
                    <span>Clean water and satination</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_6" name="form6" class="custom-control-input" value="6">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_6">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-7 is-24px">
                        <span>7</span>
                    </div>
                    <span>Affordable and clean energy</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_7" name="form7" class="custom-control-input" value="7">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_7">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-8 is-24px">
                        <span>8</span>
                    </div>
                    <span>Decent work and economic growth</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_8" name="form8" class="custom-control-input" value="8">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_8">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-9 is-24px">
                        <span>9</span>
                    </div>
                    <span>Industry Innovation & Infrastructure</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_9" name="form9" class="custom-control-input" value="9">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_9">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-10 is-24px">
                        <span>10</span>
                    </div>
                    <span>Reduced Inequalities</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_10" name="form10" class="custom-control-input" value="10">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_10">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-11 is-24px">
                        <span>11</span>
                    </div>
                    <span>Sustainable Cities & Communities</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_11" name="form11" class="custom-control-input" value="11">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_11">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-12 is-24px">
                        <span>12</span>
                    </div>
                    <span>Responsable Consumption & Production</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_12" name="form12" class="custom-control-input" value="12">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_12">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-13 is-24px">
                        <span>13</span>
                    </div>
                    <span>Climate Action</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_13" name="form13" class="custom-control-input" value="13">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_13">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-14 is-24px">
                        <span>14</span>
                    </div>
                    <span>Life Below Water</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_14" name="form14" class="custom-control-input" value="14">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_14">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-15 is-24px">
                        <span>15</span>
                    </div>
                    <span>Life on Land</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_15" name="form15" class="custom-control-input" value="15">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_15">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-16 is-24px">
                        <span>16</span>
                    </div>
                    <span>Peace Justice & Strong Institutions</span>
                </label>
            </div>
        </div>
        <div class="g-col-12 g-col-sm-6 g-col-md-4">
            <div class="flex-fill custom-control custom-control-card custom-checkbox">
                <input type="checkbox" id="id-4_16" name="form16" class="custom-control-input" value="16">
                <label class="custom-control-label text-nowrap gap-xs" for="id-4_16">
                    <div aria-hidden="true" class="icon icon--sdg is-sdg-17 is-24px">
                        <span>17</span>
                    </div>
                    <span>Partnerships for the goals</span>
                </label>
            </div>
        </div>
    </div>
</fieldset>