<fieldset class="form-group">
    <legend class="label">Impact</legend>
    <div class="grid gap-xs mt-2xs" id="id-1">
        <div class="g-col-12 g-col-sm-6 g-col-md-3">
            <div class="flex-fill mb-lg-0 custom-control custom-control-card custom-radio">
                <input type="radio" id="id-1_0" name="form1" class="custom-control-input" value="0">
                <label class="text-nowrap custom-control-label custom-control-label d-flex flex-column gap-xs" for="id-1_0">
                    <span class="icon is-sm icon-cancel"></span>
                    <span>None</span>
                </label>
                <div class="input-box"></div>
            </div>
        </div>                   
        <div class="g-col-12 g-col-sm-6 g-col-md-3">
            <div class="flex-fill  mb-lg-0 custom-control custom-control-card custom-radio">
                <input type="radio" id="id-1_1" name="form1" class="custom-control-input" value="1" checked="checked">
                <label class="text-nowrap custom-control-label custom-control-label d-flex flex-column gap-xs" for="id-1_1">
                    <span class="icon is-sm icon-help-circle"></span>
                    <span>Not obvious</span>
                </label>
                <div class="input-box"></div>
            </div>
        </div>
       
        <div class="g-col-12 g-col-sm-6 g-col-md-3">
            <div class="flex-fill  mb-lg-0 custom-control custom-control-card custom-radio">
                <input type="radio" id="id-1_2" name="form1" class="custom-control-input" value="2">
                <label class="text-nowrap custom-control-label custom-control-label d-flex flex-column gap-xs" for="id-1_2">
                    <span class="icon is-sm icon-sprout"></span>
                    <span>Native</span>
                </label>
                <div class="input-box"></div>
            </div>
        </div>                    
        <div class="g-col-12 g-col-sm-6 g-col-md-3">
            <div class="flex-fill  mb-lg-0 custom-control custom-control-card custom-radio">
                <input type="radio" id="id-1_3" name="form1" class="custom-control-input" value="2">
                <label class="text-nowrap custom-control-label custom-control-label d-flex flex-column gap-xs" for="id-1_3">
                    <span class="icon is-sm icon-bullhorn"></span>
                    <span>Push</span>
                </label>
                <div class="input-box"></div>
            </div>
        </div>
    </div>
</fieldset>