<fieldset class="form-group">
    <legend class="label">Autorizations</legend>
    <small id="exemple_help" class="form-text text-muted">
        Choose to which features this user has access.
    </small>
    <div class="mt-4px" id="checkbox" aria-describedby="exemple_help">
        <div class="custom-control custom-control-card custom-checkbox">
            <input type="checkbox" id="checkbox_0" name="checkbox" class="custom-control-input" value="0" checkboxed="checkboxed">
            <label class="checkboxbox-custom custom-control-label" for="checkbox_0" aria-describedby="exemple_help_0">Category</label>
            <small id="exemple_help_0" class="form-text text-muted">
                This user can manage categories of this organization’s programs
            </small>
        </div>
        <div class="custom-control custom-control-card custom-checkbox">
            <input type="checkbox" id="checkbox_1" name="checkbox" class="custom-control-input" value="1">
            <label class="checkboxbox-custom custom-control-label" for="checkbox_1" aria-describedby="exemple_help_1">Data</label>
            <small id="exemple_help_1" class="form-text text-muted">
                This user can manage data of this organization’s programs
            </small>
        </div>
        <div class="custom-control custom-control-card custom-checkbox">
            <input type="checkbox" id="checkbox_2" name="checkbox" class="custom-control-input" value="2">
            <label class="checkboxbox-custom custom-control-label" for="checkbox_2" aria-describedby="exemple_help_2">Plans</label>
            <small id="exemple_help_2" class="form-text text-muted">
                This user can manage plans of this organization’s programs
            </small>
        </div>
        <div class="custom-control custom-control-card custom-checkbox">
            <input type="checkbox" id="checkbox_3" name="checkbox" class="custom-control-input" value="3">
            <label class="checkboxbox-custom custom-control-label" for="checkbox_3" aria-describedby="exemple_help_3">Impersonate participants (login as)</label>
            <small id="exemple_help_3" class="form-text text-muted">
                This user can access to participants accounts, for trusted users only.
            </small>
        </div>
    </div>
</fieldset>