<fieldset class="form-group">
    <legend class="label">Autorizations</legend>
    <small id="exemple_help" class="form-text text-muted">
        Choose to which features this user has access.
    </small>
    <div class="mt-4px" id="checkbox" aria-describedby="exemple_help">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="checkbox_0" name="checkbox" class="custom-control-input" value="0" checkboxed="checkboxed">
            <label class="checkboxbox-custom custom-control-label" for="checkbox_0">Category</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="checkbox_1" name="checkbox" class="custom-control-input" value="1">
            <label class="checkboxbox-custom custom-control-label" for="checkbox_1">Data</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="checkbox_2" name="checkbox" class="custom-control-input" value="2">
            <label class="checkboxbox-custom custom-control-label" for="checkbox_2">Plans</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="checkbox_3" name="checkbox" class="custom-control-input" value="3">
            <label class="checkboxbox-custom custom-control-label" for="checkbox_3">Impersonate participants (login as)</label>
        </div>
    </div>
</fieldset>