<div class="form-group">
    <label class="required" for="exemple">Name</label>
    <small id="exemple_help" class="form-text text-muted">
        This is visible to participants on <a href="#">courses list</a>.
    </small>
    <input 
        type="text"
        id="exemple"
        required="required"
        data-hint="name"
        aria-describedby="exemple_help"
        class="form-control"
        value=""
        placeholder="Your response here..."
    >
    <div class="invalid-feedback">
        Please enter a message in the textarea.
    </div>
</div>