<fieldset class="form-group">
    <legend class="label">Choices</legend>
    <small id="exemple_help" class="form-text text-muted">
        Add choices to this question.
    </small>
    <div class="d-flex flex-column gap-xs">
        <div class="d-flex align-items-center gap-2xs">
            <div class="dropdown">
                <a href="#" class="btn btn-sm btn-transparent" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                    <span class="icon icon-drag"></span>
                </a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Position</h6>
                    <a class="dropdown-item">
                        <span class="dropdown-item--label">Send to top</span>
                    </a>
                    <a class="dropdown-item">
                        <span class="dropdown-item--label">Move up</span>
                    </a>
                    <a class="dropdown-item">
                        <span class="dropdown-item--label">Move down</span>
                    </a>
                    <a class="dropdown-item">
                        <span class="dropdown-item--label">Send to bottom</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Actions</h6>
                    <a class="dropdown-item" data-toggle="collapse" data-target="#question1">
                        <span class="dropdown-item--label">Duplicate</span>
                    </a>
                    <a class="dropdown-item is-danger">
                        <span class="dropdown-item--label">Delete</span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="option1">Name</label>
                <input type="text" class="form-control" id="option1" value="Option #1" placeholder="Option value here...">
            </div>
            <a href="#" class="btn btn-sm btn-transparent">
                <span class="icon icon-close"></span>
            </a>
        </div>
        <div class="d-flex align-items-center gap-2xs">
            <div class="dropdown">
                <a href="#" class="btn btn-sm btn-transparent" data-toggle="dropdown" aria-expanded="false" data-boundary="window">
                    <span class="icon icon-drag"></span>
                </a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Position</h6>
                    <a class="dropdown-item">
                        <span class="dropdown-item--label">Send to top</span>
                    </a>
                    <a class="dropdown-item">
                        <span class="dropdown-item--label">Move up</span>
                    </a>
                    <a class="dropdown-item">
                        <span class="dropdown-item--label">Move down</span>
                    </a>
                    <a class="dropdown-item">
                        <span class="dropdown-item--label">Send to bottom</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Actions</h6>
                    <a class="dropdown-item" data-toggle="collapse" data-target="#question1">
                        <span class="dropdown-item--label">Duplicate</span>
                    </a>
                    <a class="dropdown-item is-danger">
                        <span class="dropdown-item--label">Delete</span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="option1">Name</label>
                <input type="text" class="form-control" id="option1" placeholder="Option value here...">
            </div>
            <a href="#" class="btn btn-sm btn-transparent">
                <span class="icon icon-close"></span>
            </a>
        </div>
        <button class="btn btn-sm btn-default btn-transparent text-muted text-nowrap align-self-start" href="#" role="button">
            <span class="icon icon-plus-circle"></span>
            <span>Add option</span>
        </button>
    </div>
</fieldset>