<fieldset class="form-group">
    <legend class="label">The program is visible to...</legend>
    <small id="exemple_help" class="form-text text-muted">
        This is visible to participants on <a href="#">courses list</a>.
    </small>
    <div class="mt-4px" id="radio" aria-describedby="exemple_help">
        <div class="custom-control custom-control-card custom-radio">
            <input type="radio" id="radio_0" name="radio" class="custom-control-input" value="0" checked="checked">
            <label class="checkbox-custom custom-control-label" for="radio_0" aria-describedby="exemple_help_0">Administrators only (draft mode)</label>
            <small id="exemple_help_0" class="form-text text-muted">
                This program will be visible by 4 people. <a href="#">Manage admins</a>
            </small>
        </div>
        <div class="custom-control custom-control-card custom-radio">
            <input type="radio" id="radio_1" name="radio" class="custom-control-input" value="1">
            <label class="checkbox-custom custom-control-label" for="radio_1" aria-describedby="exemple_help_1">Members only</label>
            <small id="exemple_help_0" class="form-text text-muted">
                This program will be visible by 803 people. <a href="#">Manage participants</a>
            </small>
        </div>
        <div class="custom-control custom-control-card custom-radio">
            <input type="radio" id="radio_2" name="radio" class="custom-control-input" value="2">
            <label class="checkbox-custom custom-control-label" for="radio_2" aria-describedby="exemple_help_2">All visitors</label>
            <small id="exemple_help_0" class="form-text text-muted">
                This program will be visible to anyone with the link.
            </small>
        </div>
    </div>
</fieldset>