<fieldset class="form-group">
    <legend class="label">The program is visible to...</legend>
    <small id="exemple_help" class="form-text text-muted">
        This is visible to participants on <a href="#">courses list</a>.
    </small>
    <div class="mt-4px" id="radio" aria-describedby="exemple_help">
        <div class="custom-control custom-radio">
            <input type="radio" id="radio_0" name="radio" class="custom-control-input" value="0" checked="checked">
            <label class="checkbox-custom custom-control-label" for="radio_0">Administrators only (draft mode)</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="radio_1" name="radio" class="custom-control-input" value="1">
            <label class="checkbox-custom custom-control-label" for="radio_1">Members only</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="radio_2" name="radio" class="custom-control-input" value="2">
            <label class="checkbox-custom custom-control-label" for="radio_2">All visitors</label>
        </div>
    </div>
</fieldset>