<div class="form-group">
    <label class="active checkbox-custom font-weight-bold" for="rating">Presentation</label>
    <small id="exemple_help" class="form-text text-muted">
        Are the students speaking clearly? Is the presentation clear?
    </small>
    <div class="form-options rating" inputmode="decimal">
        <div class="rating-well">
            <input type="number" id="rating" name="rating" class="rating form-control" inputmode="decimal" value="3,0" aria-describedby="exemple_help">
            <div id="rating_star_5" class="star" data-value="5"></div>
            <div id="rating_star_4" class="star" data-value="4"></div>
            <div id="rating_star_3" class="star-full" data-value="3"></div>
            <div id="rating_star_2" class="star-full" data-value="2"></div>
            <div id="rating_star_1" class="star-full" data-value="1"></div>
        </div>
    </div>
</div>