<div class="form-group">
    <label class="required" for="exemple">Tags</label>
    <small id="exemple_help" class="form-text text-muted">
        Choose tags to describe this project.
    </small>
    <select 
        id="exemple"
        required="required"
        data-hint="type"
        aria-describedby="exemple_help"
        class="form-control custom-select-tags"
        placeholder="Choose options..."
        multiple
    >
    </select>
    <div class="invalid-feedback">
        Please choose tags
    </div>
</div>