<fieldset class="form-group">
    <legend class="label">Autorizations</legend>
    <small id="exemple_help" class="form-text text-muted">
        Choose to which features this user has access.
    </small>
    <div class="form-options" id="switch" aria-describedby="exemple_help">
        <div class="custom-control custom-switch">
            <input type="checkbox" role="switch" id="switch_0" name="switch" class="custom-control-input" value="0" checked>
            <label class="custom-control-label" for="switch_0">Category</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" role="switch" id="switch_1" name="switch" class="custom-control-input" value="1" checked disabled>
            <label class="custom-control-label" for="switch_1">Data</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" role="switch" id="switch_2" name="switch" class="custom-control-input" value="2">
            <label class="custom-control-label" for="switch_2">Plans</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" role="switch" id="switch_3" name="switch" class="custom-control-input" value="3">
            <label class="custom-control-label" for="switch_3">Impersonate participants (login as)</label>
        </div>
    </div>
</fieldset>