<div class="application-modals modal show" id="userProfileModale-874c0f53" tabindex="-1" role="dialog" style="z-index: 1040; display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <div class="modal-title d-flex flex-column align-items-start gap-0">
                    <h3 class=" line-clamp-1">
                        <span class="text-truncate">Le Perqo - Saison 4</span>
                    </h3>
                    <p class="d-flex gap-2xs icon icon-domain small text-muted">External</p>
                </div>
                <div class="modal-pagination d-flex align-items-center ml-auto gap-xs">
                    <small class="pagination-label text-muted">1&nbsp;of&nbsp;803</small>
                    <a class="btn btn-sm btn-default disabled" data-toggle="tooltip" data-original-title="Previous" href="#">
                        <span class="icon icon-chevron-left"></span>
                    </a>
                    <a class="btn btn-sm btn-default" data-toggle="tooltip" data-original-title="Next" href="#">
                        <span class="icon icon-chevron-right"></span>
                    </a>
                </div>
                <div class="modal-actions">
                    <!-- <a class="btn btn-transparent border-0 p-2xs text-muted" data-toggle="tooltip" data-original-title="Open in new tab" href="#">
                        <span class="icon icon-arrow-top-right is-24px"></span>
                    </a> -->
                    <button class="btn btn-transparent border-0 p-2xs text-muted" type="button" data-dismiss="modal" aria-label="Close">
                        <span class="icon icon-close is-24px" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column gap-md">
                    <div class="d-flex flex-column gap-xs">
                        <div class="card-banner">
                            <div class="card-image">
                                <picture>
                                    <img src="https://inject-prod.s3.amazonaws.com/images/7f6cbff1-3152-4eed-98f9-9711818af6a7/co1800x1200.jpeg" alt="">
                                </picture>
                            </div>
                            <div class="card-external">
                                <div class="small">External: </div>
                                <div class="small font-weight-bold text-truncate mx-2">Le Perqo</div>
                                <span class="small icon icon-arrow-top-right text-muted"></span>
                            </div>
                        </div>
                        <div class="card-title d-flex align-items-center gap-2xs mb-none">
                            <div class="h3 mb-none line-clamp-1">
                                Le Perqo - Saison 4
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-end flex-nowrap gap-0">
                            <div class="d-flex align-items-center flex-wrap flex-lg-nowrap flex-shrink-1 gap-xs overflow-hidden">
                                <div class="badges flex-nowrap">
                                    <a class="badge is-pill" href="#">Student</a>
                                    <a class="badge is-pill" href="#">DEI</a>
                                </div>
                            </div>
                            <div class="badge is-pill is-open">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="6" cy="6" r="6" fill="currentColor"/>
                                </svg>
                                <span>Open</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="d-flex flex-column">
                        <h4>About the program</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin, eros scelerisque scelerisque pellentesque, nulla nisl dignissim est, at elem entum felis diam eget massa.</p>
                    </div>
                    
                    <div class="alert alert-info d-flex align-items-left align-items-lg-center flex-column flex-lg-row">
                        <div class="d-flex flex-column gap-0 flex-fill">
                            <p>This program is on an external organization and has its own website. Click on the button to learn more!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top">
                <a class="btn btn-lg btn-block btn-primary" href="#">
                    <span class="icon icon-open-in-new mr-3"></span>
                    <span>Open program website</span>
                </a>
            </div>
        </div>
    </div>
</div>