<aside class="application-aside is-small">    
    <div class="aside-content-container">

        <div class="aside-header"> 
            <h3 class="aside-title line-clamp-1">
                <span class="text-truncate">Evaluations</span>
                <ul class="list-inline list-dotted text-muted mb-none">
                    <li class="list-inline-item small">8 evaluations</li>                  
                </ul>
            </h3>
            <div class="aside-actions">
                <button class="btn btn-transparent border-0 p-2xs text-muted close-aside" type="button" data-dismiss="aside" aria-label="Fermer">
                    <span class="icon icon-close is-24px" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div class="aside-body"> 
            <form name="form_554" method="post">
                <div id="form_554">
                    <div class="form-group"><label class="checkbox-custom font-weight-bold" for="form_554_1367">CSR strategy in the project</label>
                        <div class="rating" aria-describedby="form_554_1367_help">
                            <div class="rating-well"><input type="text" id="form_554_1367" name="form_554[1367]" class="rating form-control" aria-describedby="form_554_1367_help">
                                <div id="rating_star_5" class="star" data-value="5"></div>
                                <div id="rating_star_4" class="star" data-value="4"></div>
                                <div id="rating_star_3" class="star" data-value="3"></div>
                                <div id="rating_star_2" class="star" data-value="2"></div>
                                <div id="rating_star_1" class="star" data-value="1"></div>
                            </div>
                        </div><small id="form_554_1367_help" class="form-text text-muted">Integration of the CSR strategy in the project</small>
                    </div>
                    <div class="form-group"><label class="checkbox-custom font-weight-bold" for="form_554_1368">Originality</label>
                        <div class="rating">
                            <div class="rating-well"><input type="text" id="form_554_1368" name="form_554[1368]" class="rating form-control">
                                <div id="rating_star_5" class="star" data-value="5"></div>
                                <div id="rating_star_4" class="star" data-value="4"></div>
                                <div id="rating_star_3" class="star-full" data-value="3"></div>
                                <div id="rating_star_2" class="star-full" data-value="2"></div>
                                <div id="rating_star_1" class="star-full" data-value="1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><label class="checkbox-custom font-weight-bold" for="form_554_1369">Impact</label>
                        <div class="rating" aria-describedby="form_554_1369_help">
                            <div class="rating-well"><input type="text" id="form_554_1369" name="form_554[1369]" class="rating form-control" aria-describedby="form_554_1369_help">
                                <div id="rating_star_5" class="star" data-value="5"></div>
                                <div id="rating_star_4" class="star" data-value="4"></div>
                                <div id="rating_star_3" class="star" data-value="3"></div>
                                <div id="rating_star_2" class="star" data-value="2"></div>
                                <div id="rating_star_1" class="star" data-value="1"></div>
                            </div>
                        </div><small id="form_554_1369_help" class="form-text text-muted">Measure the impact of the project for the Group, the subsidiary, the products, the employees, our customers, the society.</small>
                    </div>
                    <div class="rating">
                        <div class="rating-well">
                            <div id="rating_star_5" class="star" data-value="5"></div>
                            <div id="rating_star_4" class="star" data-value="4"></div>
                            <div id="rating_star_3" class="star-full" data-value="3"></div>
                            <div id="rating_star_2" class="star-full" data-value="2"></div>
                            <div id="rating_star_1" class="star-full" data-value="1"></div>
                        </div>
                    </div>
                    <div class="form-group"><label class="checkbox-custom font-weight-bold" for="form_554_1370">Return on investment</label>
                        <div class="rating">
                            <div class="rating-well"><input type="text" id="form_554_1370" name="form_554[1370]" class="rating form-control">
                                <div id="rating_star_5" class="star" data-value="5"></div>
                                <div id="rating_star_4" class="star" data-value="4"></div>
                                <div id="rating_star_3" class="star" data-value="3"></div>
                                <div id="rating_star_2" class="star" data-value="2"></div>
                                <div id="rating_star_1" class="star" data-value="1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><label class="checkbox-custom font-weight-bold" for="form_554_1371">Deployment possibilities</label>
                        <div class="rating">
                            <div class="rating-well"><input type="text" id="form_554_1371" name="form_554[1371]" class="rating form-control">
                                <div id="rating_star_5" class="star" data-value="5"></div>
                                <div id="rating_star_4" class="star" data-value="4"></div>
                                <div id="rating_star_3" class="star" data-value="3"></div>
                                <div id="rating_star_2" class="star" data-value="2"></div>
                                <div id="rating_star_1" class="star" data-value="1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><label class="checkbox-custom font-weight-bold" for="form_554_1374">Quality of the idea</label>
                        <div class="rating">
                            <div class="rating-well"><input type="text" id="form_554_1374" name="form_554[1374]" class="rating form-control">
                                <div id="rating_star_5" class="star" data-value="5"></div>
                                <div id="rating_star_4" class="star" data-value="4"></div>
                                <div id="rating_star_3" class="star" data-value="3"></div>
                                <div id="rating_star_2" class="star" data-value="2"></div>
                                <div id="rating_star_1" class="star" data-value="1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><label class="checkbox-custom font-weight-bold" for="form_554_1372">Private comment for the jury</label><textarea id="form_554_1372" name="form_554[1372]" aria-describedby="form_554_1372_help" rows="4" class="form-control" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 102px;"></textarea><small id="form_554_1372_help" class="form-text text-muted">This comment will be shared with those responsible for this jury session only.</small></div>
                    <div class="form-group"><label class="checkbox-custom font-weight-bold" for="form_554_1373">Feedback for the idea team</label><textarea id="form_554_1373" name="form_554[1373]" aria-describedby="form_554_1373_help" rows="4" class="form-control" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 102px;"></textarea><small id="form_554_1373_help" class="form-text text-muted">If completed, this feedback will be sent to the idea team at the end of the jury session.</small></div><input type="hidden" id="form_554__token" name="form_554[_token]" value="neAIjy2NdVMr1rfqQNxiWYh8_fRiNSkq6ROssWjEh-Q">
                </div>
            </form>
        </div>

        <div class="aside-footer">
            <div class="d-flex gap-xs ml-auto">
                <button class="btn btn-default btn-lg mr-lg-3 mb-3 mr-0">Previous</button>  
                <button disabled class="btn btn-primary btn-lg mb-3 mr-0">Complete and next</button>              
            </div>
        </div>

    </div>
</aside>