<aside class="application-aside is-large">    
    <div class="aside-content-container">
        <div class="aside-header"> 
            <h3 class="aside-title line-clamp-1">
                <span class="text-truncate">Title</span>
            </h3>
            <nav class="aside-nav nav nav-tabs">
                <a href="#" class=" nav-link nav-item" id="about-tab" data-toggle="tab" data-target="#about" type="button" role="tab" aria-controls="about" aria-selected="false">
                    <span>About</span>
                </a>
                <a href="#" class=" nav-link nav-item active" id="notes-tab" data-toggle="tab" data-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="true">
                    <span>Notes</span>
                    <span class="badge badge-notification is-highlight">2</span>
                </a>
                <a href="#" class=" nav-link nav-item" id="data-tab" data-toggle="tab" data-target="#data" type="button" role="tab" aria-controls="data" aria-selected="false">
                    <span class="icon icon-visibility-off ml-n4px" data-toggle="tooltip" data-placement="top" data-original-title="Accessible only to admins" data-boundary="window"></span>
                    <span>Data</span>
                </a>
            </nav>
            <div class="aside-pagination d-flex align-items-center ml-auto gap-xs">
                <small class="pagination-label text-muted">1&nbsp;of&nbsp;6</small>
                <a class="btn btn-sm btn-default" data-toggle="tooltip" data-original-title="Previous" href="#">
                    <span class="icon icon-chevron-left"></span>
                </a>
                <a class="btn btn-sm btn-default" data-toggle="tooltip" data-original-title="Next" href="#">
                    <span class="icon icon-chevron-right"></span>
                </a>
            </div>
            <div class="aside-actions">
                <a class="btn btn-transparent border-0 p-2xs text-muted" data-toggle="tooltip" data-original-title="Open in new tab" href="#">
                    <span class="icon icon-new-tab is-24px"></span>
                </a>
                <button class="btn btn-transparent border-0 p-2xs text-muted close-aside" type="button" data-dismiss="aside" aria-label="Close">
                    <span class="icon icon-close is-24px" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div class="tab-content h-100" id="projectTabsContent">
            <div id="about" role="tabpanel" aria-labelledby="about-tab" class="tab-pane h-100 fade">
                <div class="aside-body d-flex flex-column gap-md">
                    <p>Content here...</p>
                </div>
            </div>
            <div id="notes" role="tabpanel" aria-labelledby="notes-tab" class="tab-pane h-100 fade active show">
                <div class="aside-body p-0">                        
                    <div class="overflow-hidden h-100 tab-pane fade show active" id="chat" role="tabpanel">
                        <div class="messages-module-container standaloneMainThreadContainer">
                            <div class="messages-module-content">
                                <div class="message align-items-end">
                                    <a href="#" class="thumbnail is-oval is-md">
                                        <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg">
                                    </a>
                                    <div class="message-body">
                                        <div class="message-row">
                                            <ul class="metas is-list small">
                                                <li>
                                                    <a href="#" class="text-muted d-flex align-items-center gap-2xs">
                                                        <span>Pierre Lemeteil</span>
                                                        <span class="badge badge-role is-admin z-2" data-toggle="tooltip" data-placement="top" data-original-title="Admin" data-boundary="window"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <span>June 18, 2024</span>
                                                </li>
                                                <li>
                                                    <span>3:40 PM</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="message-row align-items-end">
                                            <div class="message-content gap-md">
                                                <p>A short response</p>
                                            </div>
                                            <div class="message-options dropdown">
                                                <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="icon icon-options"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item update-comment" data-url="/rest/comment/924/edit-modal">
                                                        Edit
                                                    </a><a href="#" class="dropdown-item is-danger delete-comment" data-url="/rest/comment/924/delete">
                                                        Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="message align-items-end">
                                    <a href="#" class="thumbnail is-oval is-md">
                                        <img src="https://inject-prod.s3.amazonaws.com/images/182d9560-bae6-432f-a316-0065b826fe3b/sq150.jpeg">
                                    </a>
                                    <div class="message-body">
                                        <div class="message-row">
                                            <ul class="metas is-list small">
                                                <li>
                                                    <a href="#" class="text-muted d-flex align-items-center gap-2xs">
                                                        <span>Sasha Lehmann</span>
                                                        <span class="badge badge-role is-expert z-2" data-toggle="tooltip" data-placement="top" data-original-title="Expert" data-boundary="window"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <span>June 18, 2024</span>
                                                </li>
                                                <li>
                                                    <span>3:40 PM</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="message-row align-items-end">
                                            <div class="message-content gap-md">
                                                <p>Le chemin critique est la séquence d'activités la plus longue qui détermine la durée minimale du projet. Il est déterminé en analysant les dépendances entre les tâches et en calculant leur durée.</p>
                                                <p>Tout retard sur une tâche du chemin critique retarde l'ensemble du projet. Par exemple, dans la construction d'une maison, le chemin critique pourrait inclure la pose des fondations, l'érection des murs, la pose de la toiture, etc. Si l'une de ces tâches est retardée, la date d'achèvement de la maison sera également repoussée.</p>
                                            </div>
                                            <div class="message-options dropdown">
                                                <a class="btn btn-sm btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="icon icon-options"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item update-comment" data-url="/rest/comment/924/edit-modal">
                                                        Edit
                                                    </a><a href="#" class="dropdown-item is-danger delete-comment" data-url="/rest/comment/924/delete">
                                                        Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 standaloneThreadForm" data-mark-as-read-url="/mark-as-read/60">
                                <form class="w-100 message-composer is-sticky mt-auto" name="message_light" method="post" action="/messages/conversation/60" data-disable-on-submit="1">
                                    <div class="w-100 message-composer-row">
                                        <textarea class="message-composer-input form-control" required="required" placeholder="Write a note…" autocomplete="off"></textarea>
                                        <button class="btn btn-transparent btn-icon message-composer-action is-disabled">
                                            <span class="icon icon-send"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="data" role="tabpanel" aria-labelledby="data-tab" class="tab-pane h-100 fade">
                <div class="aside-body d-flex flex-column gap-md">
                    <p>Content here...</p>
                </div>
            </div>
        </div>
    </div>
</aside>