<aside class="application-aside is-small">    
    <div class="aside-content-container">
        
        <div class="aside-header"> 
            <h3 class="aside-title line-clamp-1">
                <span class="text-truncate">Title</span>
            </h3>
            <div class="aside-actions">
                <!-- <a class="btn btn-transparent border-0 p-2xs text-muted" data-toggle="tooltip" data-original-title="Open in new tab" href="#">
                    <span class="icon icon-new-tab is-24px"></span>
                </a> -->
                <button class="btn btn-transparent border-0 p-2xs text-muted close-aside" type="button" data-dismiss="aside" aria-label="Close">
                    <span class="icon icon-close is-24px" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div class="aside-body">
            <p>Content here</p>
        </div>

        <div class="aside-footer">
            <div class="d-flex gap-xs ml-auto">
                <a class="btn btn-lg btn-default" href="#">Cancel</a>
            </div>
        </div>

    </div>
</aside>