<div class="application-subnav border-bottom">
    <nav class="nav nav-tabs w-100">
        <a href="#" class=" nav-link nav-item active"> Item </a>
        <a href="#" class=" nav-link nav-item"> Item </a>
        <a href="#" class=" nav-link nav-item"> Item </a>
        <a href="#" class="nav-link nav-item "> Item </a>
        <div class="nav-item dropdown ">
            <button type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-boundary="window" aria-expanded="false" aria-haspopup="true" aria-expanded="false"> dropdown 1 </button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item"> sub item 1 </a>
                <a href="#" class="dropdown-item"> sub item 1 </a>
            </div>
        </div>
        <div class="nav-item dropdown ">
            <button type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-boundary="window" aria-expanded="false" aria-haspopup="true" aria-expanded="false"> dropdown 2 </button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item"> sub item 2 </a>
                <a href="#" class="dropdown-item"> sub item 2 </a>
            </div>
        </div>
        <a href="#" class=" nav-link nav-item"> Item </a>
        <a href="#" class=" nav-link nav-item"> Item </a>
        <a href="#" class=" nav-link nav-item"> Item </a>
        <a href="#" class=" nav-link nav-item"> Item </a>
        <a href="#" class=" nav-link nav-item"> Item </a>
    </nav>
</div>