<style>
    :root {
        --bg-brand-hero: #181B56;
        --bg-brand-on-hero-highlight: rgba(255,255,255,.1);
        --bg-brand-on-hero-active: #FFF;
        --fg-brand-hero: #FFF;
        --bg-interactive: #4462E2;
        --bg-interactive-hover: #2143D4;
        --fg-interactive: #FFFFFF;
        --fg-card-interactive: #4462E2;
        --fg-card-interactive-hover: #2143D4;
    }
</style>

<div class="application-navbar">
    <div class="navbar-container">
        <div class="navbar">
            <div class="container-fluid">
                <div class="flex-nowrap d-flex w-100">
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><span class="icon icon-menu"></span></span>
                    </button>
                    <div class="navbar-brand">
                        <a tabindex="1" title="" data-toggle="tooltip" href="#" data-original-title="schoolab home">
                            <img class="img-fluid d-block" src="../img/schoolab-logo-light.svg" style="max-width:150px; width:100%;">
                        </a>  
                    
                    </div>
                    <div class="navbar-options ml-lg-auto">
                        <div class="d-none d-lg-flex flex-fill">
                            <div class="navbar-option">
                                <a class="btn btn-lg navbar-main-btn active" href="#">
                                    <span class="icon icon-program mr-2"></span>
                                    <span>Programs</span>
                                </a>
                            </div>
                            <div class="navbar-option">
                                <a class="btn btn-lg navbar-main-btn" href="#">
                                    <span class="icon icon-community mr-2"></span>
                                    <span>Community</span>
                                </a>
                            </div>
                            <div class="navbar-option">
                                <a class="btn btn-lg navbar-main-btn" href="#">
                                    <span class="icon icon-calendar mr-2"></span>
                                    <span>Events</span>
                                </a>
                            </div>
                            <div class="navbar-option">
                                <a class="btn btn-lg navbar-main-btn" href="#">
                                    <span class="icon icon-faq mr-2"></span>
                                    <span>F.A.Q.</span>
                                </a>
                            </div>
                        </div>
                        <div class="navbar-option d-none d-lg-flex">
                            <a class="navbar-btn btn btn-primary" href="#">Create an account</a>
                        </div>
                        <div class="navbar-option">
                            <a class="navbar-btn btn btn-default" href="#">Log in</a>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse pt-3 pt-lg-0" id="navbarNav">
                    <div class="navbar-nav pt-3 pt-lg-0">
                        <div class="nav-item"><a class="nav-link" href="#">Home</a></div>
                        <div class="nav-item"><a class="nav-link" href="#">Toolbox</a></div>
                        <div class="nav-item"><a class="nav-link" href="#">Portfolio</a></div>
                        <div class="nav-item"><a class="nav-link" href="#">Events</a></div>
                        <div class="nav-item"><a class="nav-link" href="#">Newsfeed</a></div>
                        <div class="nav-divider"></div>
                        <div class="nav-item"><a class="nav-link" href="#">Admin</a></div>
                        <div class="nav-divider"></div>
                        <div class="nav-item"><a class="nav-link" href="#">Profile</a></div>
                        <div class="nav-item"><a class="nav-link" href="#">Account settings</a></div>
                        <div class="nav-item"><a class="nav-link text-danger" href="#">Logout</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>