@font-face {
    font-family: "inject-icons";
    src: url("../fonts/inject-icons.ttf?b9fd6bebf6c4497c12c77089b2e63dd5") format("truetype"),
url("../fonts/inject-icons.woff?b9fd6bebf6c4497c12c77089b2e63dd5") format("woff"),
url("../fonts/inject-icons.woff2?b9fd6bebf6c4497c12c77089b2e63dd5") format("woff2"),
url("../fonts/inject-icons.eot?b9fd6bebf6c4497c12c77089b2e63dd5#iefix") format("embedded-opentype");
}

span[class^="icon-"]:before, span[class*=" icon-"]:before {
    font-family: inject-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
    content: "\f101";
}
.icon-star-outline:before {
    content: "\f102";
}
.icon-chevron-right:before {
    content: "\f103";
}
.icon-youtube:before {
    content: "\f104";
}
.icon-work:before {
    content: "\f105";
}
.icon-votes:before {
    content: "\f106";
}
.icon-volume_on:before {
    content: "\f107";
}
.icon-volume_off:before {
    content: "\f108";
}
.icon-view-dashboard:before {
    content: "\f109";
}
.icon-unfold-more-horizontal:before {
    content: "\f10a";
}
.icon-undo:before {
    content: "\f10b";
}
.icon-translate:before {
    content: "\f10c";
}
.icon-translate-generate:before {
    content: "\f10d";
}
.icon-toolbox:before {
    content: "\f10e";
}
.icon-tone:before {
    content: "\f10f";
}
.icon-timeline:before {
    content: "\f110";
}
.icon-time:before {
    content: "\f111";
}
.icon-thumb-up:before {
    content: "\f112";
}
.icon-thumb-down:before {
    content: "\f113";
}
.icon-text:before {
    content: "\f114";
}
.icon-text-input:before {
    content: "\f115";
}
.icon-tag:before {
    content: "\f116";
}
.icon-table:before {
    content: "\f117";
}
.icon-tab:before {
    content: "\f118";
}
.icon-summary:before {
    content: "\f119";
}
.icon-summarize:before {
    content: "\f11a";
}
.icon-spellcheck:before {
    content: "\f11b";
}
.icon-sort-descending:before {
    content: "\f11c";
}
.icon-sort-ascending:before {
    content: "\f11d";
}
.icon-shorter-text:before {
    content: "\f11e";
}
.icon-service-saml:before {
    content: "\f11f";
}
.icon-send_circle:before {
    content: "\f120";
}
.icon-send:before {
    content: "\f121";
}
.icon-school:before {
    content: "\f122";
}
.icon-restore:before {
    content: "\f123";
}
.icon-redo:before {
    content: "\f124";
}
.icon-rating:before {
    content: "\f125";
}
.icon-radiobox-marked:before {
    content: "\f126";
}
.icon-questionnaire:before {
    content: "\f127";
}
.icon-point:before {
    content: "\f128";
}
.icon-plus:before {
    content: "\f129";
}
.icon-plus-circle:before {
    content: "\f12a";
}
.icon-play:before {
    content: "\f12b";
}
.icon-play-circle:before {
    content: "\f12c";
}
.icon-pin:before {
    content: "\f12d";
}
.icon-phone:before {
    content: "\f12e";
}
.icon-pencil:before {
    content: "\f12f";
}
.icon-pencil-off:before {
    content: "\f130";
}
.icon-pause:before {
    content: "\f131";
}
.icon-paste:before {
    content: "\f132";
}
.icon-org:before {
    content: "\f133";
}
.icon-objective:before {
    content: "\f134";
}
.icon-numbers:before {
    content: "\f135";
}
.icon-notifications:before {
    content: "\f136";
}
.icon-notifications-paused:before {
    content: "\f137";
}
.icon-notifications-off:before {
    content: "\f138";
}
.icon-notifications-none:before {
    content: "\f139";
}
.icon-notifications-active:before {
    content: "\f13a";
}
.icon-newspaper:before {
    content: "\f13b";
}
.icon-minus:before {
    content: "\f13c";
}
.icon-minus-circle:before {
    content: "\f13d";
}
.icon-menu:before {
    content: "\f13e";
}
.icon-menu-down:before {
    content: "\f13f";
}
.icon-medal:before {
    content: "\f140";
}
.icon-markdown:before {
    content: "\f141";
}
.icon-magnify:before {
    content: "\f142";
}
.icon-longer-text:before {
    content: "\f143";
}
.icon-lock:before {
    content: "\f144";
}
.icon-location:before {
    content: "\f145";
}
.icon-link:before {
    content: "\f146";
}
.icon-link-plus:before {
    content: "\f147";
}
.icon-link-off:before {
    content: "\f148";
}
.icon-lightning-bolt:before {
    content: "\f149";
}
.icon-lifebuoy:before {
    content: "\f14a";
}
.icon-library:before {
    content: "\f14b";
}
.icon-language:before {
    content: "\f14c";
}
.icon-label:before {
    content: "\f14d";
}
.icon-intelligence:before {
    content: "\f14e";
}
.icon-information:before {
    content: "\f14f";
}
.icon-information-outline:before {
    content: "\f150";
}
.icon-improve-writing:before {
    content: "\f151";
}
.icon-image_plus:before {
    content: "\f152";
}
.icon-image:before {
    content: "\f153";
}
.icon-home:before {
    content: "\f154";
}
.icon-help:before {
    content: "\f155";
}
.icon-gavel:before {
    content: "\f156";
}
.icon-folder:before {
    content: "\f157";
}
.icon-filter-variant:before {
    content: "\f158";
}
.icon-faq:before {
    content: "\f159";
}
.icon-eye:before {
    content: "\f15a";
}
.icon-eye-off:before {
    content: "\f15b";
}
.icon-email:before {
    content: "\f15c";
}
.icon-drag:before {
    content: "\f15d";
}
.icon-download:before {
    content: "\f15e";
}
.icon-dots-vertical:before {
    content: "\f15f";
}
.icon-delete:before {
    content: "\f160";
}
.icon-cut:before {
    content: "\f161";
}
.icon-copy:before {
    content: "\f162";
}
.icon-console:before {
    content: "\f163";
}
.icon-comment:before {
    content: "\f164";
}
.icon-cog:before {
    content: "\f165";
}
.icon-code:before {
    content: "\f166";
}
.icon-cloud-download:before {
    content: "\f167";
}
.icon-close:before {
    content: "\f168";
}
.icon-close-circle:before {
    content: "\f169";
}
.icon-clipboard-text:before {
    content: "\f16a";
}
.icon-chevron-up:before {
    content: "\f16b";
}
.icon-chevron-left:before {
    content: "\f16c";
}
.icon-chevron-down:before {
    content: "\f16d";
}
.icon-checklist:before {
    content: "\f16e";
}
.icon-checkbox-marked:before {
    content: "\f16f";
}
.icon-check:before {
    content: "\f170";
}
.icon-check-circle:before {
    content: "\f171";
}
.icon-chart-pie:before {
    content: "\f172";
}
.icon-chart-line:before {
    content: "\f173";
}
.icon-calendar:before {
    content: "\f174";
}
.icon-calendar-blank:before {
    content: "\f175";
}
.icon-bookmark:before {
    content: "\f176";
}
.icon-bookmark-outline:before {
    content: "\f177";
}
.icon-book-open-variant:before {
    content: "\f178";
}
.icon-board:before {
    content: "\f179";
}
.icon-attachment_add:before {
    content: "\f17a";
}
.icon-attachment:before {
    content: "\f17b";
}
.icon-attachment-generate:before {
    content: "\f17c";
}
.icon-arrow-top-right:before {
    content: "\f17d";
}
.icon-arrow-left:before {
    content: "\f17e";
}
.icon-alert:before {
    content: "\f17f";
}
.icon-alert-decagram:before {
    content: "\f180";
}
.icon-alert-circle:before {
    content: "\f181";
}
.icon-account:before {
    content: "\f182";
}
.icon-account-supervisor-circle:before {
    content: "\f183";
}
.icon-account-plus:before {
    content: "\f184";
}
.icon-account-multiple:before {
    content: "\f185";
}
.icon-account-group:before {
    content: "\f186";
}
.icon-account-circle:before {
    content: "\f187";
}
.icon-vertical-plastic:before {
    content: "\f188";
}
.icon-vertical-food:before {
    content: "\f189";
}
.icon-vertical-dei:before {
    content: "\f18a";
}
.icon-status-warning:before {
    content: "\f18b";
}
.icon-status-stop:before {
    content: "\f18c";
}
.icon-status-iddle:before {
    content: "\f18d";
}
.icon-status-filled:before {
    content: "\f18e";
}
.icon-status-dashed:before {
    content: "\f18f";
}
.icon-status-bordered:before {
    content: "\f190";
}
.icon-role-visitor:before {
    content: "\f191";
}
.icon-role-participant:before {
    content: "\f192";
}
.icon-role-manager:before {
    content: "\f193";
}
.icon-role-jury:before {
    content: "\f194";
}
.icon-role-expert:before {
    content: "\f195";
}
.icon-role-admin:before {
    content: "\f196";
}
.icon-plan-native:before {
    content: "\f197";
}
.icon-plan-data:before {
    content: "\f198";
}
.icon-impact-push:before {
    content: "\f199";
}
.icon-impact-not-obvious:before {
    content: "\f19a";
}
.icon-impact-none:before {
    content: "\f19b";
}
.icon-impact-native:before {
    content: "\f19c";
}
.icon-ecosystem-student:before {
    content: "\f19d";
}
.icon-ecosystem-startups:before {
    content: "\f19e";
}
.icon-ecosystem-corporate:before {
    content: "\f19f";
}
.icon-format-underlined:before {
    content: "\f1a0";
}
.icon-format-title:before {
    content: "\f1a1";
}
.icon-format-strikethrough:before {
    content: "\f1a2";
}
.icon-format-size:before {
    content: "\f1a3";
}
.icon-format-quote:before {
    content: "\f1a4";
}
.icon-format-list-numbered:before {
    content: "\f1a5";
}
.icon-format-list-bulleted:before {
    content: "\f1a6";
}
.icon-format-italic:before {
    content: "\f1a7";
}
.icon-format-color-text:before {
    content: "\f1a8";
}
.icon-format-color-fill:before {
    content: "\f1a9";
}
.icon-format-clear:before {
    content: "\f1aa";
}
.icon-format-bold:before {
    content: "\f1ab";
}
.icon-format-align-right:before {
    content: "\f1ac";
}
.icon-format-align-left:before {
    content: "\f1ad";
}
.icon-format-align-justify:before {
    content: "\f1ae";
}
.icon-format-align-center:before {
    content: "\f1af";
}
.icon-file-zip-box:before {
    content: "\f1b0";
}
.icon-file-word-box:before {
    content: "\f1b1";
}
.icon-file-presentation-box:before {
    content: "\f1b2";
}
.icon-file-powerpoint-box:before {
    content: "\f1b3";
}
.icon-file-play-box:before {
    content: "\f1b4";
}
.icon-file-pdf-box:before {
    content: "\f1b5";
}
.icon-file-google-spreadsheet:before {
    content: "\f1b6";
}
.icon-file-excel-box:before {
    content: "\f1b7";
}
.icon-file-document-box:before {
    content: "\f1b8";
}
