<div class="bg-white border rounded px-40px py-80px d-flex flex-column align-items-center gap-0px text-center">
    <div class="d-flex pb-16px">
        <span class="icon icon-table is-24px"></span>
    </div>
    <div class="d-flex flex-column gap-2xs">
        <p class="font-weight-bold">No results found</p>
        <p class="small text-muted">Sorry, there are no matching results. Please check back later.</p>
    </div>
    <div class="d-flex pt-32px">
        <a href="#" class="btn btn-lg btn-primary">
            <span class="icon icon-plus-circle"></span>
            <span>Add {{item}}</span>
        </a>
    </div>
    <div class="d-flex py-16px">
        <a href="#" class="small">Learn more about {{item}}</a>
    </div>
</div>
