<div id="tables-filters" class="table-filters-wrapper d-flex flex-wrap justify-content-between align-items-md-start gap-xs">
    
    <form class="table-search d-flex flex-grow-1 flex-md-grow-0 flex-shrink-1 order-1">
        <input name="search" autocomplete="off" type="search" id="search" class="form-control field-sizing flex-fill mw-100" aria-describedby="search" placeholder="Search..." value="">
    </form>
    
    <div class="table-filters-sort d-flex flex-column flex-fill flex-sm-row gap-xs order-3 order-md-2">
        
        <div class="dropdown" data-save-to-close="true">
            <a class="btn btn-lg btn-default dropdown-toggle w-100" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                <span class="icon icon-sort-ascending"></span>
                <span class="d-md-none d-md-flex">Sort by</span> <span>Name</span>
            </a>
            <div class="dropdown-menu dropdown-menu-filters">
                <form class="d-flex flex-column gap-md px-16px py-8px">
                    <div class="form-group d-flex flex-column gap-xs">
                        <label for="sortBy">In this view, sort by...</label>
                        <div id="sort1" class="d-flex gap-xs align-items-center">
                            <div class="input-group">
                                <div class="input-group-prepend" style="flex: 1 1 50%;">
                                    <select name="filters" id="filter-select" class="filterSelect custom-select">
                                        <option value="name">Name</option>
                                        <option value="date">Date</option>
                                        <option value="tags">Tags</option>
                                        <option value="col">Column</option>
                                        <option value="col">Column</option>
                                        <option value="col">Column</option>
                                    </select>
                                </div>
                                <select name="filters" id="filter-select" class="filterSelect custom-select" style="flex: 1 1 50%;">
                                    <option value="name">Descending</option>
                                    <option value="date">Ascending</option>
                                </select>
                            </div>
                            <!-- Hidden when 1 line -->
                            <!-- <a href="#" class="btn btn-lg btn-default btn-icon">
                                <span class="icon icon-delete"></span>
                            </a> -->
                        </div>
                        <a href="#" class="btn btn-lg btn-default btn-block">
                            <span class="icon icon-plus-circle"></span>
                            <span>Add sort</span>
                        </a>
                    </div>
                    <div class="d-flex gap-xs justify-content-end">
                        <a href="#" class="btn btn-lg btn-default" data-toggle="dropdown">Cancel</a>
                        <button type="submit" class="btn btn-lg btn-primary disabled" data-toggle="dropdown">Apply</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="dropdown d-flex flex-nowrap gap-xs" data-save-to-close="true">
            <a class="btn btn-lg btn-transparent text-muted" href="#" role="button" data-reference="parent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                <span class="icon icon-plus-circle"></span>
                <span>Add filter</span>
            </a>
            <div class="dropdown-menu dropdown-menu-filters">
                <form class="d-flex flex-column gap-md px-16px py-8px">
                    <div class="form-group d-flex flex-column gap-xs">
                        <label for="filterBy">In this view, filter by...</label>
                        <a href="#" class="btn btn-lg btn-default btn-block">
                            <span class="icon icon-plus-circle"></span>
                            <span>Add filter</span>
                        </a>
                    </div>
                    <div class="d-flex gap-xs justify-content-end">
                        <a href="#" class="btn btn-lg btn-default" data-toggle="dropdown">Cancel</a>
                        <button type="submit" class="btn btn-lg btn-primary disabled" data-toggle="dropdown">Apply</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
    <div class="table-actions d-flex flex-nowrap align-items-start gap-xs order-2 order-md-3">
        <div class="d-flex gap-xs gap-md-0px">
            <div class="dropdown" data-toggle="tooltip" data-placement="top" data-original-title="Manage notifications subscriptions" data-boundary="window" data-save-to-close="false">
                <a href="#" class="btn btn-lg btn-transparent btn-icon text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Manage notifications subscriptions" data-boundary="window">
                    <span class="icon icon-bell-off"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-notifications dropdown-menu-right">
                    <form class="d-flex flex-column gap-md px-16px py-8px">
                        <div class="form-group d-flex flex-column gap-xs">
                            <label for="filterBy">Send me a notification...</label>
                            <a href="#" class="btn btn-lg btn-default btn-block">
                                <span class="icon icon-plus-circle"></span>
                                <span>Add trigger</span>
                            </a>
                        </div>
                        <div class="form-group d-flex flex-column gap-xs">
                            <label for="filterBy">Filter by...</label>
                            <a href="#" class="btn btn-lg btn-default btn-block">
                                <span class="icon icon-plus-circle"></span>
                                <span>Add filter</span>
                            </a>
                        </div>
                        <div class="form-group d-flex flex-column gap-xs">
                            <label for="sendBy">Send by...</label>
                            <div class="d-flex gap-md">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="push" value="push" disabled>
                                    <label class="custom-control-label" for="push">Push notifications</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="email" value="email">
                                    <label class="custom-control-label" for="email">Email</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="digest" value="digest">
                                    <label class="custom-control-label" for="digest">Daily digest</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <a href="#" class="btn btn-lg btn-default disabled" data-toggle="dropdown">Delete notifications</a>
                            <div class="d-flex gap-xs justify-content-end flex-fill">
                                <a href="#" class="btn btn-lg btn-default" data-toggle="dropdown">Cancel</a>
                                <button type="submit" class="btn btn-lg btn-primary disabled" data-toggle="dropdown">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <a href="#" class="btn btn-lg btn-transparent btn-icon text-muted d-none d-md-flex" data-toggle="tooltip" data-placement="top" data-original-title="Download all data in this view" data-boundary="window">
                <span class="icon icon-download"></span>
            </a>
        </div>
        <a href="#" id="btn-new" class="btn btn-lg btn-primary text-nowrap">
            <span class="icon icon-plus-circle"></span>
            <span class="d-none d-sm-flex">Add {{item}}</span>
        </a>
    </div>
    
</div>

<div style="position: absolute;bottom: 1rem;left: 50vw; transform: translateX(-50%);z-index: 400;" class="toast is-warning fade" id="modalHidePrevented" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-body"><span class="mr-auto">You cannot close this modal until you saved or canceled your changes.</span>
        <button class="ml-2 my-1 close" data-dismiss="toast" data-delay="6000" aria-label="close">
            <div class="icon icon-close"></div>
        </button>
    </div>
</div>