<div style="position: absolute;bottom: 1rem;left: 50vw; transform: translateX(-50%);z-index: 400;" class="toast is-warning fade" id="modalHidePrevented" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-body"><span class="mr-auto">You cannot close this modal until you saved or canceled your changes.</span>
        <button class="ml-2 my-1 close" data-dismiss="toast" data-delay="6000" aria-label="close">
            <div class="icon icon-close"></div>
        </button>
    </div>
</div>

<div id="tables-filters" class="table-filters-wrapper d-flex flex-wrap justify-content-between align-items-md-start gap-xs">
    
    <form class="table-search d-flex flex-grow-1 flex-md-grow-0 flex-shrink-1 order-1">
        <input name="search" autocomplete="off" type="search" id="search" class="form-control field-sizing flex-fill mw-100" aria-describedby="search" placeholder="Search..." value="">
    </form>
    
    <div class="table-filters-sort d-flex flex-column flex-fill flex-sm-row gap-xs order-3 order-md-2">
        
        <div class="dropdown" data-save-to-close="true">
            <a class="btn btn-lg btn-default dropdown-toggle w-100" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                <span class="icon icon-sort-ascending"></span>
                <span class="d-md-none d-md-flex">Sort by</span> <span>Name</span>
            </a>
            <div class="dropdown-menu dropdown-menu-filters">
                <form class="d-flex flex-column gap-md px-16px py-8px">
                    <div class="form-group d-flex flex-column gap-xs">
                        <label for="sortBy">In this view, sort by...</label>
                        <div id="sort1" class="d-flex gap-xs align-items-center">
                            <div class="input-group">
                                <div class="input-group-prepend" style="flex: 1 1 50%;">
                                    <select name="filters" id="filter-select" class="custom-select">
                                        <option value="name">Name</option>
                                        <option value="date">Date</option>
                                        <option value="tags">Tags</option>
                                        <option value="col">Column</option>
                                        <option value="col">Column</option>
                                        <option value="col">Column</option>
                                    </select>
                                </div>
                                <select name="filters" id="filter-select" class="custom-select" style="flex: 1 1 50%;">
                                    <option value="name">Descending</option>
                                    <option value="date">Ascending</option>
                                </select>
                            </div>
                            <!-- Hidden when 1 line -->
                            <!-- <a href="#" class="btn btn-lg btn-default btn-icon">
                                <span class="icon icon-delete"></span>
                            </a> -->
                        </div>
                        <a href="#" class="btn btn-lg btn-default btn-block">
                            <span class="icon icon-plus-circle"></span>
                            <span>Add sort</span>
                        </a>
                    </div>
                    <div class="d-flex gap-xs justify-content-end">
                        <a href="#" class="btn btn-lg btn-default" data-toggle="dropdown">Cancel</a>
                        <button type="submit" class="btn btn-lg btn-primary disabled" data-toggle="dropdown">Apply</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="dropdown d-flex flex-nowrap gap-xs" data-save-to-close="true">
            <a class="btn btn-lg btn-default active dropdown-toggle w-100" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                <span class="icon icon-filter-variant"></span>
                <span class="d-md-none d-md-flex">Filtered by</span> <span>2 rules</span>
            </a>
            <div class="dropdown-menu dropdown-menu-filters">
                <form class="d-flex flex-column gap-md px-16px py-8px">
                    <div class="form-group d-flex flex-column gap-xs">
                        <label for="filterBy">In this view, filter by...</label>
                        <div id="sort1" class="d-flex gap-xs align-items-center">
                            <span class="d-flex flex-shrink-0" style="width:80px">Where</span>
                            <div class="input-group">
                                <div class="input-group-prepend" style="flex: 1 1 33%;">
                                    <select name="filters" id="filter-select" class="custom-select">
                                        <option value="name">Name</option>
                                        <option value="date">Date</option>
                                        <option value="tags" selected="">Tags</option>
                                        <option value="col">Column</option>
                                        <option value="col">Column</option>
                                        <option value="col">Column</option>
                                    </select>
                                </div>
                                <select name="filters" id="filter-select" class="custom-select" style="flex: 1 1 33%;">
                                    <option value="hasAnyOf">has any of</option>
                                    <option value="hasAllOf">has all of</option>
                                    <option value="isExactly">is exactly</option>
                                    <option value="isExactly">has none of</option>
                                    <option value="contains" selected="">contains</option>
                                    <option value="notContain">does not contain</option>
                                    <option value="isEmpty">is empty</option>
                                    <option value="NotEmpty">is not empty</option>
                                </select>
                                <div class="input-group-append" style="flex: 1 1 33%;">
                                    <input type="text" class="form-control" id="validationDefault01" placeholder="Value" value="">
                                </div>
                            </div>
                            <a href="#" class="btn btn-lg btn-default btn-icon"><span class="icon icon-delete"></span></a>
                        </div>
                        <div id="sort2" class="d-flex gap-xs align-items-center">
                            <select name="filters" id="filter-select" class="custom-select flex-shrink-0" style="width:80px">
                                <option value="name">And</option>
                                <option value="date">Or</option>
                            </select>
                            <div class="input-group">
                                <div class="input-group-prepend" style="flex: 1 1 33%;">
                                    <select name="filters" id="filter-select" class="custom-select">
                                        <option value="name" selected="">Name</option>
                                        <option value="date">Date</option>
                                        <option value="tags">Tags</option>
                                        <option value="col">Column</option>
                                        <option value="col">Column</option>
                                        <option value="col">Column</option>
                                    </select>
                                </div>
                                <select name="filters" id="filter-select" class="custom-select" style="flex: 1 1 33%;">
                                    <option value="hasAnyOf">has any of</option>
                                    <option value="hasAllOf">has all of</option>
                                    <option value="isExactly">is exactly</option>
                                    <option value="isExactly">has none of</option>
                                    <option value="contains" selected="">contains</option>
                                    <option value="notContain">does not contain</option>
                                    <option value="isEmpty">is empty</option>
                                    <option value="NotEmpty">is not empty</option>
                                </select>
                                <div class="input-group-append" style="flex: 1 1 33%;">
                                    <input type="text" class="form-control" id="validationDefault01" placeholder="Value" value="">
                                </div>
                            </div>
                            <a href="#" class="btn btn-lg btn-default btn-icon">
                                <span class="icon icon-delete"></span>
                            </a>
                        </div>
                        <a href="#" class="btn btn-lg btn-default btn-block">
                            <span class="icon icon-plus-circle"></span>
                            <span>Add filter</span></a>
                    </div>
                    <div class="d-flex gap-xs justify-content-end">
                        <a href="#" class="btn btn-lg btn-default" data-toggle="dropdown">Cancel</a>
                        <button type="submit" class="btn btn-lg btn-primary" data-toggle="dropdown">Apply</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
    <div class="table-actions d-flex flex-nowrap align-items-start gap-xs order-2 order-md-3">
        <a href="#" class="btn btn-lg btn-transparent text-muted">Reset</a>
        <a href="#" class="btn btn-lg btn-warning text-nowrap">Save for everyone</a>
    </div>
    
</div>

<div style="position: absolute;bottom: 1rem;left: 50vw; transform: translateX(-50%);z-index: 400;" class="toast is-warning fade" id="modalHidePrevented" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-body"><span class="mr-auto">You cannot close this modal until you saved or canceled your changes.</span>
        <button class="ml-2 my-1 close" data-dismiss="toast" data-delay="6000" aria-label="close">
            <div class="icon icon-close"></div>
        </button>
    </div>
</div>