<div id="tables-folders" class="grid row-gap-md pb-16px border-bottom">
    
    <div class="g-col-12 g-col-sm-6 g-col-lg-3">
        <div class="item is-bordered active">
            <div class="item-row gap-sm">
                <span class="icon icon-folder is-sm text-muted"></span>
                <div class="item-content">
                    <a href="#" class="item-title h4 mb-none stretched-link text-truncate">All</a>
                    <ul class="item-caption metas small is-list">
                        <li>120 resources</li>
                    </ul>
                </div>
                <div class="dropdown z-1">
                    <a class="btn btn-lg btn-transparent btn-icon text-muted" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window" href="#">
                        <span class="icon icon-options"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-toggle="collapse" data-target="#question1">Edit</a>
                        <a class="dropdown-item is-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="g-col-12 g-col-sm-6 g-col-lg-3">
        <div class="item is-bordered ">
            <div class="item-row gap-sm">
                <span class="icon icon-folder is-sm text-muted"></span>
                <div class="item-content">
                    <a href="#" class="item-title h4 mb-none stretched-link text-truncate">Learning course</a>
                    <ul class="item-caption metas small is-list">
                        <li>4 resources</li>
                    </ul>
                </div>
                <div class="dropdown z-1">
                    <a class="btn btn-lg btn-transparent btn-icon text-muted" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window" href="#">
                        <span class="icon icon-options"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-toggle="collapse" data-target="#question1">Edit</a>
                        <a class="dropdown-item is-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="g-col-12 g-col-sm-6 g-col-lg-3">
        <div class="item is-bordered ">
            <div class="item-row gap-sm">
                <span class="icon icon-folder is-sm text-muted"></span>
                <div class="item-content">
                    <a href="#" class="item-title h4 mb-none stretched-link text-truncate">A very long label that is not entirely visible</a>
                    <ul class="item-caption metas small is-list">
                        <li>4 resources</li>
                    </ul>
                </div>
                <div class="dropdown z-1">
                    <a class="btn btn-lg btn-transparent btn-icon text-muted" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window" href="#">
                        <span class="icon icon-options"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-toggle="collapse" data-target="#question1">Edit</a>
                        <a class="dropdown-item is-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="g-col-12 g-col-sm-6 g-col-lg-3">
        <div class="item is-bordered ">
            <div class="item-row gap-sm">
                <span class="icon icon-folder is-sm text-muted"></span>
                <div class="item-content">
                    <a href="#" class="item-title h4 mb-none stretched-link text-truncate">Name</a>
                    <ul class="item-caption metas small is-list">
                        <li>4 resources</li>
                    </ul>
                </div>
                <div class="dropdown z-1">
                    <a class="btn btn-lg btn-transparent btn-icon text-muted" role="button" data-toggle="dropdown" aria-expanded="false" data-boundary="window" href="#">
                        <span class="icon icon-options"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-toggle="collapse" data-target="#question1">Edit</a>
                        <a class="dropdown-item is-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>