<div class="container py-8 d-flex flex-column row-gap-32px">
    <div class="row justify-content-start row-gap-16px">
        
        <h3 class="col-12">Default</h3>
        
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-infos is-linked">
                    <div class="d-flex gap-12px">
                        <div class="thumbnail is-date is-lg">
                            <span class="month">June</span>
                            <span class="day">8</span>
                        </div>
                        <div class="d-flex flex-column flex-fill gap-0">
                            <div class="card-title d-flex align-items-center gap-4px mb-0 p-4px">
                                <span class="icon icon-pin is-24px z-2" data-toggle="tooltip" data-placement="top" data-original-title="Pinned events are visible on the organization Hub" data-boundary="window"></span>
                                <a href="#" class="h4 mb-0 stretched-link line-clamp-1">
                                    {event.name}
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-end flex-wrap gap-8px">
                                <div class="badge badge-pill badge-tag is-small">
                                    <span class="icon icon-link"></span>
                                    <span>Online</span>
                                </div>
                                <div class="badge badge-pill badge-tag is-small is-open">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="6" cy="6" r="6" fill="currentColor"/>
                                    </svg>
                                    <span>Ongoing until 10 PM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-infos is-linked">
                    <div class="d-flex gap-12px">
                        <div class="thumbnail is-date is-lg">
                            <span class="month">June</span>
                            <span class="day">8</span>
                        </div>
                        <div class="d-flex flex-column flex-fill gap-0">
                            <div class="card-title d-flex align-items-center gap-4px mb-0 p-4px">
                                <span class="icon icon-pin is-24px z-2" data-toggle="tooltip" data-placement="top" data-original-title="Pinned events are visible on the organization Hub" data-boundary="window"></span>
                                <a href="#" class="h4 mb-0 stretched-link line-clamp-1">
                                    {event.name}
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-end flex-wrap gap-8px">
                                <div class="badge badge-pill badge-tag is-small">
                                    <span class="icon icon-map-marker"></span>
                                    <span>Hybrid</span>
                                </div>
                                <div class="badge badge-pill badge-tag is-small is-draft">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 9C7.65685 9 9 7.65685 9 6C9 4.34315 7.65685 3 6 3C4.34315 3 3 4.34315 3 6C3 7.65685 4.34315 9 6 9ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z" fill="currentColor"/>
                                    </svg>                                   
                                    <span>June 18 at 6 PM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-infos is-linked">
                    <div class="card-banner">
                        <div class="card-image is-3by1">
                            <picture>
                                <source media="(max-width:576px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co576x192.jpeg">
                                <source media="(max-width:768px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co768x256.jpeg">
                                <source media="(max-width:1140px)" srcset="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg">
                                <img src="https://inject-prod.s3.amazonaws.com/images/efe8674b-e830-4988-b424-4bf588547b93/co1140x380.jpeg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="d-flex gap-12px">
                        <div class="thumbnail is-date is-lg">
                            <span class="month">June</span>
                            <span class="day">8</span>
                        </div>
                        <div class="d-flex flex-column flex-fill gap-0">
                            <div class="card-title d-flex align-items-center gap-4px mb-0 p-4px">
                                <span class="icon icon-pin is-24px z-2" data-toggle="tooltip" data-placement="top" data-original-title="Pinned events are visible on the organization Hub" data-boundary="window"></span>
                                <a href="#" class="h4 mb-0 stretched-link line-clamp-1">
                                    {event.name}
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-end flex-wrap gap-8px">
                                <div class="badge badge-pill badge-tag is-small">
                                    <span class="icon icon-map-marker"></span>
                                    <span>In person</span>
                                </div>
                                <div class="badge badge-pill badge-tag is-small is-draft">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 9C7.65685 9 9 7.65685 9 6C9 4.34315 7.65685 3 6 3C4.34315 3 3 4.34315 3 6C3 7.65685 4.34315 9 6 9ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z" fill="currentColor"/>
                                    </svg>                                   
                                    <span>June 18 at 6 PM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>