<div class="container py-8 d-flex flex-column row-gap-2xl">
    <div class="row justify-content-start row-gap-md">

        <h3 class="col-12">Default</h3>

        <div class="col-12 col-md-6 col-xl-4">

            <div class="card">
                <div class="card-infos is-linked d-flex align-items-start gap-sm">
                    <div class="thumbnail-relation m-auto">
                        <span class="icon icon--letter is-40px"><span>P</span></span>
                        <div class="thumbnail is-oval is-sm is-bordered is-top">
                            <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg">
                        </div>
                    </div>
                    <div class="card-title flex-grow-1">
                        <a href="#" class="h4 mb-none stretched-link line-clamp-1 d-flex flex-wrap column-gap-2xs">
                            <span>Project 24</span>
                            <span>/</span>
                            <span>{expert.name}</span>
                        </a>
                        <ul class="text-muted small metas is-list mb-none">
                            <li>
                                <span class="icon icon-notifications text-accent">Today</span>
                            </li>
                            <li>
                                <span>2 PM (30min)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown z-2">
                        <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon is-20px icon-options"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Show profile</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-6 col-xl-4">

            <div class="card">
                <div class="card-infos is-linked d-flex align-items-start gap-sm">
                    <div class="thumbnail-relation m-auto">
                        <div class="thumbnail is-oval is-lg is-bordered">
                            <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg">
                        </div>
                        <span class="icon icon--letter is-24px is-top"><span>P</span></span>
                    </div>
                    <div class="card-title flex-grow-1">
                        <a href="#" class="h4 mb-none stretched-link line-clamp-1 d-flex flex-wrap column-gap-2xs">
                            <span>{expert.name}</span>
                            <span>/</span>
                            <span>Project 24</span>
                        </a>
                        <ul class="text-muted small metas is-list mb-none">
                            <li>
                                <span>Tomorrow</span>
                            </li>
                            <li>
                                <span>2:45 PM (45min)</span>
                            </li>
                        </ul>
                    </div> 
                    <div class="dropdown z-2">
                        <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon is-20px icon-options"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Show profile</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
    </div>

    <div class="row justify-content-start row-gap-md">

        <h3 class="col-12">Links</h3>

        <div class="col-12 col-md-6 col-xl-4">

            <div class="card">
                <div class="card-infos is-linked d-flex align-items-start gap-sm">
                    <div class="thumbnail-relation m-auto">
                        <span class="icon icon--letter is-40px"><span>P</span></span>
                    </div>                     
                    <div class="card-title flex-grow-1">
                        <a href="#" class="h4 mb-none stretched-link line-clamp-1 d-flex flex-wrap column-gap-2xs">
                            <span>Project 24</span>
                        </a>
                        <ul class="text-muted small metas is-list mb-none">
                            <li>
                                <span>Yesterday</span>
                            </li>
                            <li>
                                <span>4 PM (1h)</span>
                            </li>
                        </ul>
                    </div> 
                    <div class="dropdown z-2">
                        <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon is-20px icon-options"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Show profile</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
                <div class="card-targets">
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center">
                            <span class="icon icon-file-document-box is-sm"></span>
                            <span>Access to session notes</span>
                        </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-6 col-xl-4">

            <div class="card">
                <div class="card-infos is-linked d-flex align-items-start gap-sm">
                    <div class="thumbnail-relation m-auto">
                        <div class="thumbnail is-oval is-lg is-bordered">
                            <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg">
                        </div>
                    </div>                     
                    <div class="card-title flex-grow-1">
                        <a href="#" class="h4 mb-none stretched-link line-clamp-1 d-flex flex-wrap column-gap-2xs">
                            <span>{expert.name}</span>
                        </a>
                        <ul class="text-muted small metas is-list mb-none">
                            <li>
                                <span>July 1, 2024</span>
                            </li>
                            <li>
                                <span>9 AM (30min)</span>
                            </li>
                        </ul>
                    </div> 
                    <div class="dropdown z-2">
                        <a class="btn btn-transparent btn-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon is-20px icon-options"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Show profile</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalOpenThread" data-user-id="320" href="#">Send a message</a>
                        </div>
                    </div>
                </div>
                <div class="card-targets">
                    <div class="card-target">
                        <a href="#" class="stretched-link d-flex align-items-center">
                            <span class="icon icon-file-document-box is-sm"></span>
                            <span>Access to session notes</span>
                        </a>
                        <span class="icon icon-chevron-right is-sm"></span>
                    </div>
                </div>
            </div>

        </div>
    
    </div>
</div>