<a class="thumbnail is-bordered is-sm" href="#" title="Org" data-toggle="tooltip">
    <span class="icon icon-org"></span>
</a>
<a class="thumbnail is-bordered is-md" href="#" title="Org" data-toggle="tooltip">
    <img src="../img/placeholder-thumbnail-logo.png">
</a>
<a class="thumbnail is-bordered is-lg" href="#" title="Org" data-toggle="tooltip">
    <img src="../img/placeholder-thumbnail-logo.png">
</a>
<a class="thumbnail is-bordered is-xl" href="#" title="Schoolab" data-toggle="tooltip">
    <img src="../img/schoolab-thumbnail.jpeg">
</a>
<a class="thumbnail is-bordered is-2xl" href="#" title="Org" data-toggle="tooltip">
    <span class="icon icon-org"></span>
</a>