<div class="d-flex gap-md align-items-center">
    
    <div class="thumbnail-relation">
        <span class="icon icon--letter is-40px"><span>P</span></span>
        <div class="thumbnail is-oval is-sm is-bordered is-top">
            <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg">
        </div>
    </div>
    
    <div class="thumbnail-relation">
        <div class="thumbnail is-oval is-lg is-bordered">
            <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg">
        </div>
        <span class="icon icon--letter is-24px is-top"><span>P</span></span>
    </div>

</div>