<div class="d-flex gap-xs align-items-center">

    <span class="icon icon-account"></span>

    <a class="thumbnail is-bordered is-oval is-sm" href="#" title="Alexandra Jolly" data-toggle="tooltip">
        <span class="icon icon-account"></span>
    </a>
    <a class="thumbnail is-bordered is-oval is-md" href="#" title="Alexandra Jolly" data-toggle="tooltip">
        <img src="https://inject-prod.s3.amazonaws.com/images/2216e7ab-c701-4503-83a2-ae7b91afb15d/sq150.jpeg">
    </a>
    <a class="thumbnail is-bordered is-oval is-lg" href="#" title="Pierre Lemeteil" data-toggle="tooltip">
        <img src="https://inject-prod.s3.amazonaws.com/images/41c42fb1-35bd-4a31-bf08-3b2267df4b95/sq150.jpeg">
    </a>
    <a class="thumbnail is-bordered is-oval is-xl" href="#" title="Terence Irving" data-toggle="tooltip">
        <img src="https://inject-prod.s3.amazonaws.com/images/47fed806-ad38-46a0-9fd5-feec0e62189e/sq150.jpeg">
    </a>
    <a class="thumbnail is-bordered is-oval is-2xl" href="#" title="Emma Salvarelli" data-toggle="tooltip">
        <img src="https://inject-prod.s3.amazonaws.com/images/3155b942-7535-4b0b-8ded-97eb42a92e1b/sq150.jpeg">
    </a>

</div>